{% extends "base.html" %}
{% load static %}
{% block content %}
    <script src="https://js.stripe.com/v1/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script src="{% static 'js/stripe/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/stripe/application.js' %}" type="text/javascript"></script>

      <div class="row">
        <div class="span6 columns">
        </div>
      </div>
      <div class="page-header">
        <h1>Register</h1>
      </div>
      <div class="row">
        <div class="span6 columns">
          <form id="user_form" accept-charset="UTF-8" action="" class="form-stacked"  method="post">
            {% csrf_token %}
            {% include "payments/stripe/errors.html" %}
            {% if not user.is_authenticated %}
                {{ form_user.as_p }}
            {% endif %}
            {% for field in form.visible_fields %}
              {% include "payments/stripe/field.html" %}
            {% endfor %}
            <div id="change-card" class="clearfix"{% if not form.last_4_digits.value %} style="display: none"{% endif %}>
              Card
              <div class="input">
                Using card ending with {{ form.last_4_digits.value }}
                (<a href="#">change</a>)
              </div>
            </div>      
            <select name="type_of_plan">
                <option value="exploiter_un_mes">1 MES</option>
            </select>
            {% include "payments/stripe/cardform.html" %}
          </form>
        </div>
      </div>  
{% endblock %}
