{% extends "base_accounts.html" %}
{% load static %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done in" >Registro</li>
        <li class="funnel-list prox" >Invitar amigos</li>
        <li class="funnel-list last" >Obtener plan Pro</li>
    </ul>
</section>
<section class="referral-cont" >

    <h3>Aprender en comunidad es mucho mejor</h3>
    <p>Pero es mucho mejor si los dos ganan un descuento, además de la mejor experiencia hacking</p>
    <img height="200" width="220" src="{% static "img/team-exploiterco.png" %}">
    <article style="margin-top:20px" class="large-11 large-centered columns">
    <div id="Payment" style="margin-top: 35px;">
        <div class="row purchaseData" style="max-width: 73.5rem;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="">{% csrf_token %}
            <div class="large-3 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input class="required" id="id_first_name" maxlength="30" placeholder="Nombre" name="first_name" type="text" required />
                </label>
                <small class="error">El nombre es obligatorio.</small>
            </div>
            <div class="large-3 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="Email" required>
                    <label class="error">
                        {{form.email.errors}}
                    </label>
                </label>
                <p id="id_error_email_paid"></p>
                {% if form_user.email.errors %}
                  <label class="error">
                    {{ form_user.email.errors }}
                  </label>
                {% endif %}
                <small class="error">Se requiere un E-mail.</small>
            </div>
            <div class="large-3 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="text" id="id_username_paid" name="username" placeholder="Usuario" required pattern="[a-zA-Z]+">
                    <label class="error">
                      {{form.username.errors}}
                    </label>
                </label>
                <p id="id_error_username_paid"></p>
                {% if form_user.username.errors %}
                <label class="error">
                  {{ form_user.username.errors }}
                </label>
                {% endif %}
                <small class="error">El nombre de usuario es obligatorio.</small>
            </div>
            <div class="large-3 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="password" required id="id_password1_paid" name="password1" placeholder="Pon algo que tome siglos romper">
                    <label class="error">
                      {{form.password1.errors}}
                    </label>
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <div class="large-12 columns" style="text-align:center">
            <input id="signup-button" type="submit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;">
            </div>
        </form>
      </div>
    <div class="row" style="width: 65%;">
        <div class="or">
            <hr>
            <p style="background: #fff;" >O</p>
        </div>

        <div class="large-10 large-centered columns">
            <div class="content-redes">
                <a class="redes facebook signup" href='{% url 'social:begin' 'facebook'%}'>Registrate con Facebook</a>
            </div>
        </div>
    </div>
</article>

</section>
 <section class="row-FAQ">
  <div class="contentFAQ">
  <div>
    <h3>Preguntas frecuentes</h3>
  </div>
  <div class="columns-five">
   <div class="FAQ">
     <p><strong>¿Cómo funciona el plan gratuito?</strong>
        Con nuestro plan gratuito tienes <b>acceso de por vida</b> a todo el material y a las actualizaciones del curso de Introducción al Hacking ético. El curso incluye clases en vídeo que puedes ver en cualquier dispositivo y cuando quieras, artículos explicativos que profundizan los temas vistos en los vídeos, proposición de laboratorios para que practiques lo aprendido, y exámenes para que demuestres lo que sabes.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Es necesario un conocimiento previo?</strong>
        ¡No!, En Exploiter.co nos dedicamos a llevarte desde cero hasta un nivel profesional en técnicas de hacking y seguridad informática. Con el curso gratuito de Introducción al Hacking ético podrás adquirir todo el conocimiento necesario para iniciar con los cursos avanzados.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Si me suscribo al plan pago a qué tengo acceso?</strong>
        Tienes acceso a toda nuestra plataforma, a todos nuestros cursos, a todo el material y funcionalidades nuevas que vayamos liberando, a soporte técnico casi inmediato y a cualquier cosa que necesites y esté a nuestro alcance. ¡Ah! y a cerveza <b>infinita</b> en nuestras oficinas en México D.F.
     </p>
   </div>

   <div class="FAQ">
     <p><strong>¿Cuales métodos de pago aceptan?</strong>
        Aceptamos tarjetas de credito en cualquier rincón del mundo, tu pago se realiza a la cuenta de banco en USA de Exploiter, INC. de forma 100% segura a través de la mejor plataforma de pagos del mundo. El pago es de $25 dólares americanos, pero nuestra pasarela de pagos se encarga de convertirlos a tu moneda local.

También aceptamos pagos a través de PayPal

Si no dispones de los dos métodos de pago anteriores puedes contactarnos a e@exploiter.co y de seguro encontraremos la solución que más te convenga.
     </p>
   </div>
  </div>
  <div class="columns-five">
   <div class="FAQ">
     <p><strong>¿Hay compromiso de permanencia en el plan de pago?</strong>
        ¡No!, puedes cancelar tu suscripción en cualquier momento, aunque probablemente eso no será lo que quieras, pues estamos actualizando <b>semanalmente</b> nuestros cursos, creando siempre nuevas y mejores funcionalidades en la plataforma y entregandote material exclusivo.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Está segura mi información de pago?</strong>
        ¡Sí!, tu información de pago es 100% segura y ni siquiera toca nuestros servidores, es procesada totalmente por pasarelas de pago americanas altamente seguras que cifran tus datos al máximo posible.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Tengo ayuda cuando la necesite?</strong>
        ¡Siempre!, estamos para ti en Skype, correo de soporte, chat en vivo, facebook, twitter y en donde quieras. Intentamos siempre responderte lo más rápido posible, aunque tal vez si son las 4 de la mañana un domingo (Lo que demostraría que eres un estudiante increible) tardemos un par de horas en responderte.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Cuanto tiempo puede tomarme hacer un curso?</strong>
        Los cursos están diseñados para que tardes aproximadamente un mes en cada uno, aunque si eres muy disciplinado puedes terminarlo en menos tiempo. Hacer todos los cursos de Exploiter y tener un nivel alto y profesional de conocimiento debería tomarte aproximadamente 5 meses (Un semestre de universidad). En esa instancia y demostrando que eres uno de nuestros mejores estudiantes estás listo para certificarte como todo un profeisonal.
     </p>
   </div>
   </div>
  </div>
 </section>

{% endblock %}
{% block custom-javascript %}
{% endblock %}
