{% extends "base_accounts.html" %}
{% load static %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done" >Registro</li>
        <li class="funnel-list done" ><a href="{% url 'referral' %}">Invitar amigos</a></li>
        <li class="funnel-list last done in" ><a href='{% url 'referral-plan' %}'>Obtener plan Pro</a></li>
    </ul>
</section>
<section style="height: 100%; padding-top: 3%;" class="referral-cont" >

    <h3>Aprender en comunidad es mucho mejor</h3>
    <p>Pero es mucho mejor si los dos ganan un descuento, además de la mejor experiencia hacking</p>
    <div id="Payment" class="purchase" style="border-top:none;padding-top:0;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="">{% csrf_token %}
          {% if user.is_authenticated %}
              {% if not user.email %}
                  <div class="large-6 columns">
                      <label class="labelPayment" style="font-size: 17px;color: #565656">
                          E-mail
                          <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="username@exploiter.co" required>
                      </label>
                      <p id="id_error_email_paid"></p>
                      {% if form_user.email.errors %}
                        <label class="error">
                          {{ form_user.email.errors }}
                        </label>
                      {% endif %}
                      <small class="error">Se requiere un E-mail.</small>
                  </div>
                  <hr class="columns">
              {% endif %}
          {% endif %}
          {% if not user.is_authenticated %}
            <div class="large-12 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre
                    <input type="text" name="first_name" id="id_first_name_paid" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El nombre es obligatorio.</small>
            </div>
            <div class="large-12 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Apellidos
                    <input type="text" name="last_name" id="id_last_name_paid" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El apellido es obligatorio.</small>
            </div>
            <div class="large-12 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    E-mail
                    <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="username@exploiter.co" required>
                </label>
                <p id="id_error_email_paid"></p>
                {% if form_user.email.errors %}
                  <label class="error">
                    {{ form_user.email.errors }}
                  </label>
                {% endif %}
                <small class="error">Se requiere un E-mail.</small>
            </div>
            <hr class="columns">
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre de usuario
                    <input type="text" id="id_username_paid" name="username" placeholder="usuario" required pattern="[a-zA-Z]+">
                </label>
                <p id="id_error_username_paid"></p>
                {% if form_user.username.errors %}
                <label class="error">
                  {{ form_user.username.errors }}
                </label>
                {% endif %}
                <small class="error">El nombre de usuario es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña
                    <input type="password" required id="id_password1_paid" name="password1" placeholder="Pon algo que tome siglos romper">
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña  (confirmación)
                    <input type="password" required id="id_password2_paid" name="password2" placeholder="Una vez mas">
                </label>
                <p id="id_error_password"></p>
                {% if form_user.errors and not form_user.username.errors and not form_user.email.errors %}
                <label class="error">
                  Los dos campos de contraseña no coinciden.
                </label>
                {% endif %}
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <hr class="columns">
          {% endif %}
            <div class="large-12 columns">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel1" onclick="value_type_de_payment('tarjeta');">Tarjeta</a></dd>
                    <dd><a href="#panel2" onclick="value_type_de_payment('paypal');">Paypal</a></dd>
                    <input id="type_of_payment" name="type_of_payment" type="hidden" value="tarjeta">
                </dl>
		{% if error %}
		<div>
			{{ error }}
		</div>
		{% endif %}
                <div class="tabs-content">
                    <div class="content active" id="panel1">
                        <div id="credit-card">
                        <div id="credit-card-errors" style="display:none">
                            <label class="alert-message block-message error" id="stripe-error-message">
                            </label>
                        </div>
			{% if error %}
			<div>
				<script>
					$(document).ready(function(){
						$('#button_payment').trigger("click");
					});
				</script>
			</div>
			{% endif %}
                        <div class="large-6 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                                <input type="hidden" name="last_4_digits" id="last_4_digits" value="{{ form.last_4_digits.value }}">
                                <input type="hidden" name="stripe_token" id="stripe_token" value="{{ form.stripe_token.value }}">
                                <input type="text" required pattern="[0-9]" placeholder="Número de Tarjeta" id="credit_card_number">
                            </label>
                        </div>
                        <div class="large-3 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                                <input type="text" placeholder="CVV" required pattern="[0-9]" id="cvv">
                            </label>
                        </div>
                        <div class="large-12 columns">
                          <label class="labelPayment" style="font-size: 17px;color: #565656">
                          Fecha de vencimiento
                          </label>
                        </div>
                        <div class="large-6 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                              Mes
                                <select class="small" id="expiry_month">
                                    {% for month in months %}
                                        <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="large-3 columns">
                        <label class="labelPayment" style="font-size: 17px;color: #565656">
                          Año
                            <select class="small" id="expiry_year">
                                {% for year in years %}
                                    <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        </div>
                        <br>
                        <div class="large-12 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                              Cupón
                                <input type="text" name="cupon" id="id_cupon" value="">
                            </label>
                        </div>
                    </div>
                    </div>


                    <div class="content" id="panel2">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="TXSLUW785NLF2">
                      <input type="hidden" name="on0" value="">
                      <input type="hidden" name="os0" value="1 Mes">
                      <input type="hidden" name="currency_code" value="USD">
                        <div id="id_datos_del_comprador">
                      <div class="large-12 columns">
                          <dl class="tabs" data-tab>
                              <dd class="active"><a href="#yo_soy_quien_paga"><b>Yo soy quien paga</b></a></dd>
                              <dd><a href="#otro_quien_paga"><b>Paga alguien más</b></a></dd>
                          </dl>
                          <div class="tabs-content">
                              <div class="content" id="yo_soy_quien_paga">
                              </div>
                              <div class="content" id="otro_quien_paga">
                                <label  class="labelPayment" style="font-size: 17px;color: #565656">
                                    E-mail de PayPal
                                    <input type="email" id="id_email_of_paypal" maxlength="75" name="email_of_paypal" placeholder="username@exploiter.co">
                                    <small class="error"></small>
                                </label>
                              </div>
                          </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="large-12 columns">
                <div class="center">
                    <input type="submit" id="user_submit_paid" name="commit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;" onclick="send_form_paypal();">
                </div>
            </div>
        </div>
    </form>
      </div>
</section>

{% endblock %}
{% block custom-javascript %}
<script>
    var $wrapper = $('#more_friends');
    $wrapper.on('keypress', 'input', function () {
        var lastchar = $(this).val().substr(-1);
        if (lastchar === "@") {
            var $div = $('.copythis').last().clone();
            $div.find('input').val('');
            $wrapper.append($div);
        }
    });
</script>


<script src="https://js.stripe.com/v1/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
   </script>
   <script src="{% static 'js/stripe/jquery.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/stripe/application.js' %}" type="text/javascript"></script>
<!-- Facebook Conversion Code for Pricing page View en Exploiter.co -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6024857947216', {'value':'0.00','currency':'COP'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6024857947216&amp;cd[value]=0.00&amp;cd[currency]=COP&amp;noscript=1" /></noscript>

<script src="/static/js/slick.min.js"></script>
<script src="/static/js/jquery.mixitup.min.js"></script>
<script src="/static/js/scripts.jquery.js"></script>
<script src="/static/js/payments/payments.js"></script>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5072-168-10-5684');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5072-168-10-5684/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->


{% endblock %}
