{% extends "base_accounts.html" %}
{% load static %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done" >Registro</li>
        <li class="funnel-list done in" ><a href="{% url 'referral' %}">Invitar amigos</a></li>
        <li class="funnel-list last prox" ><a href="{% url 'referral-plan' %}" >Obtener plan Pro</a></li>
    </ul>
</section>
<section style="height: 100%; padding-top: 8%;" class="referral-cont" >

    <h3>Aprender en comunidad es mucho mejor</h3>
    <p>Pero es mucho mejor si los dos ganan un descuento, además de la mejor experiencia hacking</p>
    <article style="margin-top:20px" class="large-11 large-centered columns">
    <div id="Payment" style="margin-top: 35px;">
        <div class="row purchaseData" style="max-width: 73.5rem;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="{% url 'send-invented' %}">{% csrf_token %}
           <div id="more_friends" >
            <div class="copythis large-4 columns large-centered">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="email" class="email" maxlength="75" name="email" id="emailTrigger" placeholder="Email de tu amigo">            <i style="left: 25px;" class="icon_user mail" ></i>
                    <label class="error">
                        {{form.email.errors}}
                    </label>
                </label>
            </div>
            </div>
            <div class="large-7 columns large-centered">
               <p>Escríbele un mensaje a tu amigo: </p>
                <textarea name="message" rows="4">Registrate a Exploiter.co tienen muy buenos cursos ¿por que no aprender las mejores técnicas de pentesting con lideres en la industria? Y ademas si te dan {{ porcentage_discount }}% de descuento :)</textarea>
            </div>

            <div class="large-12 columns" style="text-align:center">
            <input type="submit" value="Obtener descuento" class="button [tiny small large]" style="font-size: 16px;">
            </div>
        </form>
      </div>
</article>

</section>

{% endblock %}
{% block custom-javascript %}
<script>
    var $wrapper = $('#more_friends');
$wrapper.on('keyup', 'input:not(.disabled)', function () {
	var has_letter = $(this).val().indexOf('@');
	if (has_letter !== -1){
        $(this).addClass('disabled');
		var $div = $('.copythis').last().clone();
		$div.find('input').val('');
		$wrapper.append($div);
	}
});
</script>
{% endblock %}
