{% extends "base.html" %}
{% block title %}Exploiter.co - Clase de {{courseclass.name}}{% endblock %}
{% block content %}
{% if attempts %}
<div id="bloqueo_examen" class="reveal-modal" data-reveal>
  <h2>Hola {{ user.get_short_name }}</h2>
  <p class="lead">Has superado el número de intentos por hoy, intenta otra vez en 24 horas</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
{% if alert %}
<div id="iniciar_examen" class="reveal-modal" data-reveal>
  <h2>Hola {{ user.get_short_name }}</h2>
  <p class="lead">Solo tienes 2 intentos. Asegurate de haber estudiado bien antes de tomar el examen</p>
  <center>
    <p>
      <a class="custom-button" href="{% url "quiz_start_page" quiz.url %}">Entendido</a>
    </p>
  </center>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif %}
<link rel="stylesheet" href="/static/css/morris-0.5.1.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/static/js/morris-0.5.1.min.js"></script>
<a class="goBack" type="button" href="{% url "course" courseclass.course.slug %}"><img class="back" src="/static/img/back.png"> Volver</a>
<section><br></section>
                    <section class="course-banner">
                        <div class="container">
                          <div class="caja1">
                            <h2>{{courseclass.name}}</h2>
                            <p>{{courseclass.description}}</p>
                          </div>
                          <div class="caja2">
                            <img src="{{MEDIA_URL}}{{courseclass.course.image}}">
                          </div>
                        </div>
                  </section>
                  <section class="material classDetail">
                    {% for material in materials %}
                        {% if material in videos %}
                            <article class="material-item">
                                <div class="img">
                                    <img src="/static/img/Videos.png" width="50">
                                </div>
                                <div class="material-text">
                                      <h4 class="fancy-text see {% if material in viewed_material_videos %} yup {% endif %}"><a href="{% url 'video' courseclass.course.slug courseclass.slug material.slug %}">
                                        {{material.title}}</a>
                                        <br>
                                    </h4>

                                </div>
                            </article>
                        {% endif %}
                        {% if material in books %}
                            <article class="material-item">
                                <div class="img">
                                    <img src="/static/img/libros.png" width="50">
                                </div>
                                <div class="material-text">
                                    <h4 class="fancy-text see {% if material in viewed_material_videos %} yup {% endif %}">
                                        {{ material.name }}<br>
                                        <small>{{ material.description }}</small>
                                    </h4>
                                </div>
                            </article>
                        {% endif %}
                        {% if material in articles %}
                            <article class="material-item">
                                <div class="img">
                                    <img src="/static/img/articulos.png" width="50">
                                </div>
                                <div class="material-text">
                                    <h4 class="fancy-text see {% if material in viewed_material_articles %} yup {% endif %}"><a href="{% url 'articulo' courseclass.course.slug courseclass.slug material.slug %}">
                                        {{ material.title }}</a>
                                        <br>
                                        <p>{{ material.content|slice:":200"|safe }}</p>
                                    </h4>
                                </div>
                            </article>
                        {% endif %}
                        {% if material in labs %}
                            <article class="material-item">
                                <div class="img">
                                    <img src="{{MEDIA_URL}}{{ material.image }}" width="50">
                                </div>
                                <div class="material-text">
                                    <h4 class="fancy-text see {% if material in viewed_material_videos %} yup {% endif %}">
                                        {{ material.name }}<br>
                                        <small>{{ material.description }}</small>
                                    </h4>
                                </div>
                            </article>
                        {% endif %}
                      {% endfor %}
                  </section>
                  <section class="instructor">
                    <div class="instructor-info">
		      {% if sitting %}
                        <div class="large-12 columns">
                            <ul data-equalizer-watch>
                                      <div id="donut-{{sitting.quiz.id}}" style="height: 210px;"></div>
                                {% if sitting.check_if_passed %}
                                  Aprobado con {{sitting.get_percent_correct}}%
                                {% else %}
                                  Reprobado con {{sitting.get_percent_correct}}%

                            </ul>
                        </div>
                        {% if attempts %}
                          <a class="custom-button" data-reveal-id="bloqueo_examen">Tomar exámen</a>
                        {% else %}
                          <a class="custom-button" href="{% url "quiz_start_page" quiz.url %}">Tomar exámen</a>
                        {% endif %}
                         {% endif %}
                         <script type="text/javascript">
                          Morris.Donut({
                            element: 'donut-{{sitting.quiz.id}}',
                            data: [
                              {label: "Respuestas correctas", value: {{sitting.get_current_score}}},
                              {label: "Respuestas incorrectas", value: {{sitting.get_incorrect_questions|length}}},
                            ],
                            colors: ["#05AA50", "#3C746C"]
                          });
                          </script>
                        {% else %}
                          {% if quiz.url %}
                            {% if attempts %}
                              <a class="custom-button" data-reveal-id="bloqueo_examen">Tomar exámen</a>
                            {% else %}
                              <a class="custom-button" data-reveal-id="iniciar_examen">Tomar exámen</a>
                            {% endif %}
                          {% endif %}
                        {% endif %}
                    </div>
                  </section>
            </section>
{% endblock %}
