<article id="preguntas">
	<div id="crear-pregunta">
		{% csrf_token %}
		<input type="text" placeholder="Escribe tu pregunta">
		<button>Enviar Pregunta</button>
	</div>
	<ul>
		{% for pregunta in preguntas %}
		<li><a data-id="{{ pregunta.id }}">{{ pregunta.titulo }}</a></li>
		{% endfor %}
	</ul>
</article>
<article id="respuestas"></article>
