{% load static from staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html lang="es">
{% block head %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Exploiter.co | Plataforma{% endblock %}</title>
    <meta name="description" content="{% block description %}Cursos profesionales de Hacking ético con clases en vídeo, artículos, exámenes, retos, profesores expertos y mucho más{% endblock %}" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <link rel="stylesheet" href="{% static "css/style-v2.css" %}">
    <link rel="stylesheet" href="{% static "css/iconstyle.css" %}">
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <meta name="google-site-verification" content="dUrm45owQX6TjwvGw9NjMCcr2kn5UU1mwQifH62OdnI" />
    <meta name="d8d4ff2748969b1055904afe515cdae055a06a57" content="7fb06bcebdc0d6398ff20a10a19a2d4e938bad88" />

      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51277163-1', 'exploiter.co');
          ga('send', 'pageview');

      </script>
    {% if production %}
        <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("92623cef2230cef5fb3c7e0748877016");</script><!-- end Mixpanel -->
    {% endif %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    {% if user.is_authenticated %}
    <script src="{{async_url}}/socket.io/socket.io.js"></script>
      <script type="text/javascript">
          function updateNotifications(event){
            $.get('{% url "update_notification" %}', function(data){
            });
            $("#num_notifications").text(0);
          };
          function AcceptTeams(event){
            $.get('{% url "accepted_teams" %}', function(data){
            });
            $("#TeamsNotifications").text('');
            window.location.href="https://exploiter.co{% url 'team' %}";
          };
          function CanceledTeams(event){
            $.get('{% url "canceled_teams" %}', function(data){
            });
            $("#TeamsNotifications").text('');
          };
	(function($) {
		$(function() {
			var token = "{{csrf_token}}";
			var messageTmpl = $('#messageTemplate');
			var container = $('#log');
			var input = $('#input-text');
      var user = "{{ user.username }}";
      var createMessage = function(message, is_append) {
        if(user == message.user){
          var append = is_append || false;
          if (append === true) {
            if (message.type == "video"){
              var img = "<img src='/static/img/Videos.png' width='55'>";
            }
            if (message.type == "article"){
              var img = "<img src='/static/img/articulos.png' width='55'>";
            }
            $(".notificaciones").append("<a href=" + message.url_material +"><span> <div>" + "<p class='New'>Nuevo: " + message.type + "</p>" + "<p class='time' id='date_time-" + message.id + "'>" + message.date + "</p>" + "<div class='descript' >" + "<p class='nameMaterial' >" + message.name_material + "</p>" + "<p class='nameCourse' id='notification-" + message.id + "'>Disponible en: "+ message.name_course + ", " + message.name_classes + ".</p>" + "</div>" + "<div class='img' >" + img + "</div>" + "</div> <hr> </span></a>");
          } else {
            if (message.type == "video"){
              var img = "<img src='/static/img/Videos.png' width='55'>";
            }
            if (message.type == "article"){
              var img = "<img src='/static/img/articulos.png' width='55'>";
            }
            $(".notificaciones").prepend("<a href=" + message.url_material + "><span> <div>" + "<p class='New'>Nuevo: " + message.type + "</p>" + "<p class='time' id='date_time-" + message.id + "'>" + message.date + "</p>" + "<div class='descript' >" + "<p class='nameMaterial' >" + message.name_material + "</p>" + "<p class='nameCourse' id='notification-" + message.id + "'>Disponible en: "+ message.name_course + ", " + message.name_classes + ".</p>" + "</div>" + "<div class='img' >" + img + "</div>" + "</div> <hr> </span></a>");
            if(parseFloat($("#num_notifications").text()) >= 5){
              $('#notificaciones a:last-child').remove();
            }else{
              $("#num_notifications").text(parseFloat($("#num_notifications").text()) + parseFloat(1));
              $("#num_notifications").fadeIn();
            }
          }
        }
      }

      var Message = function(message) {
        $("#notification-"+ message.id).empty();
        $("#date_time-"+ message.id).empty();
        $("#notification-"+ message.id).text("Nuevo: " + message.type + " Clase: " + message.name_classes + " Curso: " + message.name_course);
        $("#date_time-"+ message.id).text(message.date);
      }

      var createNotificationTeam = function(message){
        if (user == message.user){
          $("#num_notifications").text(parseFloat($("#num_notifications").text()) + parseFloat(1));
          $("#num_notifications").fadeIn();
          $(".notificaciones").prepend("<span id='TeamsNotifications'><div><p class='New'>Solicitud de grupo</p><p class='time' id='date_time-''>"+ message.date +"</p><div class='descript'><p class='nameMaterial'>"+ message.leader +" te ha invitado a unirse a su grupo</p><p class='team' id='notification-'> <a class='add' onclick='AcceptTeams()'><i class='icon-user-plus2'></i> Aceptar</a> <a class='noAdd' onclick='CanceledTeams()'> <i class='icon-user-minus' ></i> Declinar</a> </p></div><div class='img'><img src='/static/img/shield.png' width='55'></div></div> <hr> </span>");
        }
      }

      var createNotificationComment = function(message){
        if (user == message.user_comment){
          $("#num_notifications").text(parseFloat($("#num_notifications").text()) + parseFloat(1));
          $("#num_notifications").fadeIn();
          $(".notificaciones").prepend("<span id='NotificationsComment'><div><p class='New'>Nuevo: comentario</p><p class='time' id='date_time-''>" + message.date + "</p><div class='descript'><p class='nameMaterial'>" + message.user + " ha respondido tu aporte</p><p class='coment' id='notification-'> <a class='' href='" + message.url_comment + "'>Ir al comentario</a> </p></div><div class='img coment'><img src='/static/img/coment.png' width='55'></div></div></span>");
        }
      }
      var socket = io.connect('{{async_url}}');
			socket.on('message', function(data) {
        Message(data, true);
			});
			socket.on('message-create', function(data) {
        createMessage(data);
			});
      socket.on('notification-team-create', function(data){
        createNotificationTeam(data);
      });
      socket.on('notification-comments', function(data){
        createNotificationComment(data);
      });
      {% if notifications_team %}
      {% for notification in notifications_team %}
        var message_team = {
          "leader": "{{ notification.leader }}",
          "user": "{{ notification.user }}",
          "date": "{{ notification.date }}"
        }
        createNotificationTeam(message_team);
      {% endfor %}
      {% endif %}
      {% if notifications_comments %}
        {% for notifications_comment in notifications_comments %}
          var message_comment = {
            'user_comment': '{{ notifications_comment.user_comment }}',
            'user': '{{ notifications_comment.user }}',
            'url_comment': '{{ notifications_comment.url_comment }}',
            'date': '{{ notifications_comment.date }}'
          }
          createNotificationComment(message_comment);
        {% endfor %}
      {% endif %}
			{% for notification in notifications %}
				var message = {
					"id" : "{{ notification.pk }}",
                    "user": "{{ notification.user }}",
                    "name_course": "{{ notification.name_course }}",
                    "name_classes": "{{ notification.name_classes }}",
                    "name_material": "{{ notification.name_material }}",
                    "url_material": "{{ notification.url_material }}",
                    "date": "{{ notification.date|timesince }}",
                    "type": "{{ notification.type }}",
				}
				createMessage(message, true);
			{% endfor %}

		})
	})(jQuery)
</script>
    {% endif %}
</head>
{% endblock %}
<body>
   <div class="off-canvas-wrap" data-offcanvas style="height: 100%; background: #FCFCFC;">
      <div class="inner-wrap" style="height: 100%;">
        <nav class="tab-bar topBarV2">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span class="menuV2"></span></a>
          </section>

          <section class="middle tab-bar-section">
           <img src="https://exploiter.co/media/uploads/virus-19.png" alt="Nombre de la clase">
            <h1 class="title">{{video.title}}</h1>
            <a class="me" href="/accounts/{{ user.username }}"><img src="{% static "img/perfilanom-01.png" %}"/></a>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list menuD">
            <li  style="margin-top:20px;" {% if course_icon %}class='active'{% endif %}>
                <a href="{% url "courses" %}">
                    <i class="icon-book"></i>
                    <label class="name">Cursos</label>
                </a>
            </li>
            <li {% if exam_icon %}class='active'{% endif %}>
                <a href="{% url "quiz_index" %}">
                    <i class="icon-trophy"></i>
                    <label class="name">Exámenes</label>
                </a>
            </li>
            <li  {% if team_icon %}class="active"{% endif %}>
                <a href="{% url 'team' %}">
                    <i class="icon-group"></i>
                    <label class="name">Grupo</label>
                </a>
            </li>
            <li {% if 'accounts' in request.path %}class='active'{% endif %}>
              {% if user.is_authenticated %}
                    <a href="/accounts/{{ user.username }}">
              {% else %}
                <a href="{% url 'login' %}">
              {% endif %}
                    <i class="icon-user" style="
        font-size: 25px;
    " ></i>
                    <label class="name">Mi perfil</label>
                </a>
            </li>
            <li>
                <a href="#" data-reveal-id="soporte">
                    <i class="icon-lifebuoy"></i>
                    <label class="name">Soporte</label>
                </a>
            </li>
          </ul>
        </aside>
        <section class="main-section container-main">
          <div class="video-wrapper" >
                          <div class="flex-video widescreen vimeo">
                            {{video.iframe|safe}}
                          </div>
                          <h4 class="fancy-text-bold titulo">{{video.title}}</h4>
                        </div>
                        {% if not if_first_classes %}
                            <div class="arrow_box Box-left">
                                <a href="{% if url_previous_class %} {{ url_previous_class }} {% endif %}">
                                    <p>Atras</p>
                                </a>
                            </div>
                        {% endif %}
                        {% if not if_last_classes %}
                            <div class="arrow_box Box-right">
                                <a href="{% if url_next_class %} {{ url_next_class }} {% endif %}">
                                    <p>Siguiente</p>
                                </a>
                            </div>

                        {% endif %}

        </section>

      <a class="exit-off-canvas"></a>

      </div>
    </div>

    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    {% cache 60 js %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script src="{% static "js/vendor/foundation.offcanvas.js" %}"></script>
    <script src="{% static "js/foundation/foundation.topbar.js" %}"></script>
    {% endcache %}
    <script>
        $(function () {
        if(parseFloat($("#num_notifications").text()) == 0){
            $("#num_notifications").fadeOut();
        }
        $('.notificacion').click(function(){
            $("#num_notifications").fadeOut();
            $(document).find('#notificaciones').slideToggle();
        });
      });
    </script>
    <script>
      $(document).foundation();
      $(document).foundation('joyride', 'start');
    </script>
<!--    <script>
        $(function() {
            $( document ).tooltip();
        });
    </script>-->

    <script>
    $( "a" ).click(function(){
        var thisID = $(this).attr('id');
        $(document).find("[data-course='" + thisID + "']").slideToggle('slow');
    });
    </script>

    {% block custom-javascript %}
    {% endblock %}
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/513856.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>

</body>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5072-168-10-5684');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5072-168-10-5684/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
<script type="text/javascript"> olark('api.chat.updateVisitorNickname', {
snippet: "{{user.username}}"
});
</script>
<script type="text/javascript"> olark('api.visitor.updateEmailAddress', {
emailAddress: "{{user.email}}"
});
</script>
<script type="text/javascript"> olark('api.visitor.updateFullName', {
fullName: "{{user.first_name}}" + "{{user.last_name}}"
});
</script>

</html>
