{% extends "base.html" %}
{% load humanize %}
{% block title %} Exploiter.co - {{video.title}}{% endblock %}
{% block content %}
{% load discusiones_tags %}
{% load answers %}
<a class="goBack" type="button" href="{% url "clase" video.course_class.course.slug video.course_class.slug %}"><img class="back" src="/static/img/back.png"> Volver</a>
            <section class="inset">

                  <section class="material classDetail">
                      <article class="material-item" style="margin-top: 0em;">
                        <div class="video-wrapper" >
                          <div class="flex-video widescreen vimeo">
                            {{video.iframe|safe}}
                          </div>
                          <h4 class="fancy-text-bold titulo">{{video.title}}</h4>
                        </div>
                         {% if iframe_container %}
                          <p class="showL" > <span class="showLab" >Lanzar mi laboratorio</span> </p>
                          <div class="labs" >
                            <h4>Laboratorio</h4>
                            <iframe src="{{ iframe_container }}" frameborder="0"></iframe>
                          </div>
                          {% endif %}
                          <div>
                            <ul class="tabs" data-tab>
                              <li class="tab-title active"><a href="#panel1">Discusiones</a></li>
                                {% if video.glosary %}
                                  <li class="tab-title"><a href="#panel2">Notas del profesor</a></li>
                                {% endif %}
                                {% if concepts %}
                                  <li class="tab-title"><a href="#panel3">Conceptos</a></li>
                                {% endif %}
                            </ul>
                            <div class="tabs-content">
                              <div class="content active" id="panel1">
                                <form id="commit-sumit" onsubmit='updateComments()' >
                                   <div style="margin-top:15px;" class="row">
                                    <div class="large-11 large-centered columns">
                                     <div class="large-8 columns">
                                      <label class="input-d" >
                                        <input type="text" placeholder="Escribe tu comentario" id='comentario'/>
                                        <img src="{{ user.get_profile.get_mugshot_url }}" >
                                      </label>
                                        </div>
                                        <div class="large-4 columns">
                                        <input type='hidden' id='url_register' value='{% url "register_discussion" %}'>
                                        <input type='hidden' id='url_answer' value='{% url "register_answer" %}'>
                                        <input type='hidden' id='video_slug' value='{{ video.slug }}'>
                                      <a onclick='updateComments()' class="button-blue" >Enviar</a>
                                        </div>
                                    </div>
                                  </div>
                                </form>
                                 <!-- comentarios -->
                                 <div class='div-comentarios'>
                                    <div id="h-c-large" >
                                 {% if comment_video %}
                                    {% for comment in comment_video %}
                                      <div class="row">
                                        <div class="large-12 columns" >
                                            <div class="large-8 columns" > <a href="/accounts/{{ comment.user_comment.username }}"> <img class="radius-full img-profile" src="{{ comment.user_comment.get_profile.get_mugshot_url }}" alt="{{ comment.user_comment.get_short_name }}"> <p class="text-full-left" > - {{ comment.user_comment.username }} </p> </a> </div>
                                            <div  class="large-4 columns" > <p class="time text-full-right" > {{ comment.timestamp|naturaltime }} </p> </div>
                                        </div>
                                        <div class="large-12 columns" >
                                            <p class="coment-d" >
                                                {{ comment.comment }}
                                            </p>
                                        </div>
                                        {% get_answers comment %}
                                        <!-- respuestas -->
                                        <div data-restDiv="{{ comment.id }}" id="rest-content" class="large-12 columns b-dis" >
                                          <a id='responder-{{ comment.id }}' data-ret="{{ comment.id }}" class="coment-d rest" onclick="responder_comentario({{ comment.id }}, '{{ user.get_profile.get_mugshot_url }}', {{ comment.id }})">Responder</a>
                                          <p class="text-full-left">{{ sum_answers }} comentario</p>
                                        </div>
                                        <div class='answer-{{ comment.id }}'>
                                          {% if answers_comment %}
                                            {% for answer in answers_comment %}
                                              <div class="content-row large-11 large-right columns" >
                                                <div class="large-8 columns" > <a href="/accounts/{{ answer.user_answer.username }}"> <img class="radius-full img-profile" src="{{ answer.user_answer.get_profile.get_mugshot_url }}" alt="{{ answer.user_answer.get_short_name }}"> <p class="text-full-left" > - {{ answer.user_answer.username }} </p> </a> </div>
                                                <div  class="large-4 columns" > <p class="time text-full-right" > {{ answer.timestamp|naturaltime }} </p> </div>
                                                <div class="large-12 columns" >
                                                  <p class="coment-d" >
                                                    {{ answer.answer }}
                                                  </p>
                                                </div>
                                              </div>
                                            {% endfor %}
                                          {% endif %}
                                        </div>
                                      </div>
                                      {% endfor %}
                                  {% endif %}
                                  </div>
                                </div>
                              </div>
                              {% if video.glosary %}
                                <div class="content" id="panel2">
                                    <p>{{video.glosary|safe}}</p>
                                </div>
                                {% endif %}
                                {% if concepts %}
                                <div class="content" id="panel3">
                                    <div class="large-12">
                                      <ul class="accordion" data-accordion>
                                        {% for concept in concepts %}
                                          <li class="accordion-navigation">
                                          <a href="#panel1b" style="position: relative;">
                                            <div class="down">
                                              <img src="/static/img/down.png">
                                            </div>
                                            <div class="up">
                                              <img src="/static/img/up.png">
                                            </div>
                                          {{concept.title}}
                                          </a>
                                          <div id="panel1b" class="content">
                                            {{concept.description|safe}}
                                          </div>
                                        </li>
                                      {% endfor %}
                                      </ul>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                          </div>

                      </article>
                  </section>
            </section>
            <div class="navigation_class">
              <h3>Material</h3>
                  {% if not if_first_classes %}
                    <a class="after" href="{% if url_previous_class %} {{ url_previous_class }} {% endif %}"></a>
                    {% endif %}
                {% if not if_last_classes %}
                    <a class="before {% if if_first_classes %} firts {% endif %}" href="{% if url_next_class %} {{ url_next_class }} {% endif %}"></a>
                {% endif %}
            </div>
{% endblock %}

{% block custom-javascript %}
{% load static from staticfiles %}
  <script src="{% static "js/labs.jquery.js" %}"></script>
  <script src="{% static "js/discusiones.js" %}"></script>
{% endblock %}
