{% extends 'base.html' %}
{% load static from staticfiles %}
{% load get_points %}
{% load graphs %}
{% load get_percentage_course %}
{% block title %}Exploiter - Team dashboard{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static "css/morris-0.5.1.css" %}" >
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="{% static "js/morris.js" %}"></script>
{% endblock %}


{% block content %}
   <section class="all_team" >
      <h3>Tu equipo</h3>
       <ol>
          {% for user in obj_teams_users %}
          {% get_user_point user.user %}
            <li class="Est member{% if user.user == request.user %} active{% endif %}" >
                <ul>
                    <li><img src="http://i.imgur.com/AtBE7.png" alt="NickName"></li>
                    <li>
                        <p class="name active"><span id="name" >{{ user.user.username }}</span></p>
                    </li>
                    <li>{{ point }} puntos</li>
                    {% if user.status == 'leader' %}
                    <li class="coe" ><a class="leader" ></a></i></li>
                    {% else %}
                      {% if user.teams.leader == request.user %}
                        <li class="coe" ><a class="close" href="{% url 'delete_user_of_team' user.user.username %}"></a></li>
                      {% else %}
                        {% if user.user == request.user %}
                          <li class="coe" ><a class="close" href="{% url 'leave-team' %}"></a></li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                </ul>
            </li>
          {% endfor %}
          {% for user in obj_teams_pending %}
            <li class="Est pending" >
                <ul>
                    <li><img src="{{ MEDIA_URL }}mugshots/50acf5dbd1.png" alt="NickName"></li>
                    <li>
                        <p class="name off"><span>{{ user.user.username }}</span></p>
                    </li>
                    {% if user.teams.leader == request.user %}
                      <li class="coe" ><a class="close" href="{% url 'delete_user_of_team' user.user.username %}"></a></li>
                    {% else %}
                      {% if user.user == request.user %}
                        <li class="coe" ><a class="close" href="{% url 'leave-team' %}"></a></li>
                      {% endif %}
                    {% endif %}
                </ul>
            </li>
          {% endfor %}
          {% if get_leader %}
           <li class="Est" id="add" >
               <ul>
                   <li id="icon" style="margin-top:38%;" >
                       <p><i style="color:#C8C8C8;font-size: 40px;" class="icon-user-plus2" ></i></p>
                   </li>
                   <li id="form-img" >
                       <img src="https://exploiter.co/media/mugshots/50acf5dbd1.png" alt="Nuevo_user">
                   </li>
                   <li id="form" >
                   <form name="" method="POST" style="margin-top:15px;" accept-charset="UTF-8" action="">{% csrf_token %}
                    <label style="position: relative;">
                        <input style="padding-left:25px;" placeholder="Usuario" name="nick_name" type="text">
                        <i class="icon_user"></i>
                    </label>
                       </form>
                   </li>
               </ul>
           </li>
           {% endif %}
       </ol>
   </section>
    <div id="graph" style="width: 80%;height: 250px;margin: 20px auto 0 auto;"></div>
    <ul class="List_courses" >
      {% for course in courses %}
        <li>
            <div id="donut{{ course.id }}" style="height:200px;" ></div>
            {{ course.name }}
        </li>
      {% endfor %}
    </ul>
{% get_day %}
{% endblock %}

{% block custom-javascript %}
  <script>
      $('#add').click(function(){
        $('#icon').fadeOut(200);
        $('#form-img').delay(200).fadeIn(1500);
        $('#form').delay(300).fadeIn(1500);
    });
</script>
   <script>
   var users = [];
   {% for user in obj_teams_users %}
    users.push('{{ user.id }}');
   {% endfor %}
   {% get_data %}
    $(function () {
      var list_data = []
      {% for i in data %}
        var obj_data = {x: '{{ i.dia }}'};
        {% for otro in i.datos %}
          {% if otro.point == 'null' %}
            obj_data['{{ otro.user }}'] = null;
          {% else %}
            obj_data['{{ otro.user }}'] = '{{ otro.point }}';
          {% endif %}

        {% endfor %}
        list_data.push(obj_data);
      {% endfor %}
      var array_labels = [];
      {% for user in obj_teams_users %}
        array_labels.push('{{ user.user.username }}');
      {% endfor %}
      Morris.Line({
      element: 'graph',
      behaveLikeLine: true,
      data: list_data,
      xkey: 'x',
      ykeys: array_labels,
      labels: array_labels,
          parseTime: false
    });
    });
    </script>
    <script>
      {% for course in courses %}
      {% get_user_percentage course.slug %}
        Morris.Donut({
          element: 'donut{{ course.id }}',
          data: [
            {label: "completado", value: '{{ completed }}'},
            {label: "faltante", value: '{{ missing }}'}
          ]
        });
      {% endfor %}
</script>
<script>
    $(function() {
        $(".Est").click(function(){
        $(document).find(".member.active").removeClass("active");
            $(this).addClass("active");
            var name = $(this).find("#name").text();
            $.ajax({url: "/team/consults/"+ name, success: function(data){
                  jQuery.each(data.data, function(i, val) {
                    var element_name = 'donut' + val.id_course;
                    $( "#" + element_name ).empty();
                    Morris.Donut({
                      element: element_name,
                      data: [
                        {label: "completado", value: val.completed},
                        {label: "faltante", value: val.missing}
                      ],
                    });
                  });
              }});
        });
    });
</script>
{% endblock %}
