{% extends 'base.html' %}
{% load static from staticfiles %}
{% block title %}Exploiter - crear Team{% endblock %}
{% block content %}

<div class="sub_header" >
    <h2>No cuentas con un equipo</h2>
    <h3>¿Qué esperas para crear el tuyo? solo necesitas el Nickname de tus compañeros</h3>
    <button id="Go" class="custom-button" > Crear grupo </button>
</div>
<img class="shield" src="/static/img/shield.png">
<form name="" method="POST" class="form-team" accept-charset="UTF-8" action="">{% csrf_token %}
    <label class="labelTeam">
        <input placeholder="Usuario" maxlength="30" name="nick_1" type="text">
        <i class="icon_user"></i>
    </label>
    <label class="labelTeam">
        <input placeholder="Usuario" maxlength="30" name="nick_2" type="text">
        <i class="icon_user"></i>
    </label>
    <label class="labelTeam">
        <input placeholder="Usuario" maxlength="30" name="nick_3" type="text">
        <i class="icon_user"></i>
    </label>
    <label class="labelTeam">
        <input placeholder="Usuario" maxlength="30" name="nick_4" type="text">
        <i class="icon_user"></i>
    </label>
    <label class="labelTeam">
        <input placeholder="Usuario" maxlength="30" name="nick_5" type="text">
        <i class="icon_user"></i>
    </label>
    <button style="margin: 15px auto 0;display: block;" class="custom-button"> Crear grupo </button>
</form>

{% endblock %}


{% block custom-javascript %}
<script>
    $('#Go').click(function(){
        $('.sub_header').addClass("active");
        $('.shield').addClass("active");
        $(this).fadeOut(300);
        $('.form-team').fadeIn(1500);
    });
</script>
{% endblock %}
