{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{{ challenges.name }} - Exploiter.cp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/css/TimeCircles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/css/styles.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'challenges/b/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/b/css/bootstrap-theme.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{% static 'challenges/js/retos.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <meta property="og:type" content="website" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% for finished in terminated %}
            {% if finished %}
                {% for msg in msgs %}
                    <input type="hidden" id="msg_title" value="{{ msg.msg_title }}">
                    <input type="hidden" id="msg_content" value="{{ msg.msg_content }}">
                    <input type="hidden" id="msg_winner_code" value="{{ msg.msg_winnter_code }}">
                {% endfor %}
                <input type="hidden" id="msg_code" value="{{ code }}">
                <script>
                    $(window).load(function () {
                        var msg_title = $('#msg_title').val();
                        var msg_content = $('#msg_content').val();
                        var msg_winner_code = $('#msg_winner_code').val();
                        var code = $('#msg_code').val();
                        $('.msg_title').text(msg_title);
                        $('.msg_content').text(msg_content);
                        if(code != false){
                            $('.msg_code').text(msg_winner_code);
                            $('.code').text(code);
                        }
                        $(".msg_result").fadeIn(500);
                    });
                </script>
            {% endif %}
        {% endfor %}
      <div class="mensaje lose_time">
            <div class="mjs">
                <h4>Lo sentimos, perdiste.</h4>
                <p>Pero no hay problema de seguro a la próxima vez podras ganar, mientras tanto puedes repasar y ser mejor con el curso <a href="#" > -nombre del curso-  </a> dentro de nuestra plataforma encontraras el mejor material </p>
                <p class="go-curse" >
                    <a href="{{ url_next_class }}" class="btn btn-primary" > Siguiente clase</a>
                </p>
            </div>
        </div>
      <div class="mensaje msg_result">
            <div class="mjs">
                <h4 class="msg_title"></h4>
                <p class="msg_content"></p>
                <p class="msg_code"></p>
                <p class="code"></p>
                <p class="go-curse" >
                    <a href="{{ url_next_class }}" class="btn btn-primary" > Siguiente clase</a>
                </p>
            </div>
        </div>
        <header class="col-md-12 dropdown" >
            <img class="img-circle img-header" height="66" width="66" src="{{ MEDIA_URL }}{{ course.image }}">
            <p>{{ challenges.name }} <small>by Exploiter.co</small></p>
            <!--
            <div id="CountDownTimer" data-timer="{{ time }}" style="width: 270px; height: 85px; display:inline-block; margin: -6px 0 0 16%;"></div>
          -->
            <div class="col-md-3 pull-right dropdown">
                <div style="margin-top:12px" class="dropdown pull-right">
                    <ul class="nav nav-pills">
                        <li class="dropdown pull-right">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle username">{{ user.username }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://exploiter.co/accounts/{{ user.username }}">Mi Perfil</a></li>
                                <li><a href="{% url 'logout' %}">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if user.get_profile.get_mugshot_url == 'https://www.smartinsights.com/wp-content/themes/smartinsights/images/discussions/anonymous-question-avatar.png' %}
                  <img class="img-circle img-header pull-right" height="66" width="66"  src="{{ user.get_profile.get_mugshot_url }}">
                {% else %}
                  <img class="img-circle img-header pull-right" height="66" width="66"  src="https://exploiter.co/{{ user.get_profile.get_mugshot_url }}">
                {% endif %}
            </div>
        </header>
        <section>
            <div class="col-md-5  default-skin">
                <div class="content-reto lvl-reto" >
                    <h5>
                        <span class="number-lvl" >1</span>
                        <span id="level_title">{{ level.title }}</span>
                    </h5>
                    <p align="justify">
          						<span id="level_descripcion">
          							{{ level.description }}
          						</span>
                    </p>
                </div>
                <div class="content-reto">
                    <div class="header-objetivos">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <h5 class="objetivos" >Objetivos</h5>
                        <div class="objetivos-nav" >
                            <ul class="count_questions">
                                {% for question in count_questions %}
                                  <li class="circle-nav {% if forloop.counter == 1 %}active{% endif %}" id="circle-{{ forloop.counter }}" data-circle="{{ forloop.counter }}"></li>
                                {% endfor %}
                            </ul>
                        </div>
                        </div>
                        <p class="question active" data-nav="1">
                           1 <span id="question_content">{{ question.content }}</span>
                        </p>
                </div>
                <div class="next" >
                        <p>Respuesta:</p>
                        <button type="button" class="btn btn-primary btn-sm pull-right b-next" id='1'>Siguiente pregunta</button>
                </div>
                <div class="answers active" data-nav="1">
                    <ol class='answer-user'>
                        {% for answer in answers %}
                            <li class="option" id='answer-{{ forloop.counter }}' data-value='{{ answer.id }}'>{{ answer.content }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="col-md-7 consola">
                <iframe width="100%" height="463px" src="{{ iframe_container }}"></iframe>
            </div>
        </section>
        <section class="foo" >
            <div class="col-md-6">
                <div class="proBar">
                    <div class="progress" >
                      <div class="progress-bar" role="progressbar" aria-valuenow="{{ initiation_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ initiation_progress }}%;   background: #547DBF;">
                      </div>
                      <span class="percentage_progress">
                        {{ initiation_progress }}%
                      </span>
                    </div>
                </div>
            </div>
  			         <button type='button' class='pull-right b-nextF'>Continuar</button>
          <input id="lvl" type="hidden" value="{{ level.id }}">
          <input id="question" type="hidden" value="{{ question.id }}">
        </section>
        <script type="text/javascript" src="{% static 'challenges/js/TimeCircles.js' %}"></script>
        <script type="text/javascript" src="{% static 'challenges/js/jquery.custom-scrollbar.min.js' %}"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $(".content-descripts").customScrollbar();
            });
        </script>
    </body>
</html>
