{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Reto de la semana - Exploiter.cp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/css/styles.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'challenges/b/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/b/css/bootstrap-theme.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{% static 'challenges/js/retos.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <meta property="og:type" content="website" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section-body" >
            <header style="  height: 72px;" >
                <a href="/" >
                    <img src="{% static 'challenges/static/img/headermail-02.png' %}" />
                </a>
                <i class="menu" ></i>
                <ul id="menuL" >
                    <li>INICIO</li>
                    <li>REGISTRARME</li>
                    <li class="in" >ENTRAR</li>
                </ul>
            </header>
        <h2 class="title" >Mide tus habilidades y demuestra que eres el mejor en lo que haces</h2>
        <div class="bg" >
        <div class="formulario" >
            <div style="display: block; position: relative;" >
            <ul style="  font-size: 17px;" class="nav nav-tabs" role="tablist" id="myTab">
              <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Registrarme</a></li>
              <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Entrar</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane formEnter active" id="signup">
                 <form>
                     <div class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="text" id="name" name="name" placeholder="Nombre" required />
                            <i class="icon name"></i>
                        </label>
                    </div>
                     <div class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="text" id="name" name="email" placeholder="Correo electrónico" required />
                            <i class="icon mail"></i>
                        </label>
                    </div>
                    <div class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="text" id="user" name="user" placeholder="Usuario" required />
                            <i class="icon user"></i>
                        </label>
                    </div>
                     <div class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required />
                            <i class="icon contra"></i>
                        </label>
                    </div>
                        <p style="text-align: center;" >
                            <input id="signup-button" type="submit" value="Registrarme" class="button" style="font-size: 16px;">
                        </p>
                </form>
                    <div class="or" >
                        <hr>
                        <p>o</p>
                    </div>
                    <div class="up-redes" >
                        <p>
                            <a class="redes facebook" href="{% url 'social:begin' 'facebook' %}" >Registrarme con Facebook</a>
                        </p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane formEnter" id="login">
                    <form>
                    <div style="margin-top: 30px;" class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="text" id="user" name="user" placeholder="Usuario" required />
                            <i class="icon user"></i>
                        </label>
                    </div>
                     <div class="content_input">
                        <label class="labelForm" style="font-size: 17px;color: #565656">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required />
                            <i class="icon contra"></i>
                        </label>
                    </div>
                        <p style="text-align: center;" >
                            <input id="signup-button" type="submit" value="Entrar" class="button" style="font-size: 16px;">
                        </p>
                </form>
                    <div class="or" >
                        <hr>
                        <p>o</p>
                    </div>
                    <div class="up-redes" >
                        <p>
                            <a class="redes facebook" href="{% url 'social:begin' 'facebook' %}" >Entrar con Facebook</a>
                        </p>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </section>
        <script>
          $(function () {
            $('#myTab a:last').tab('show')
          })
        </script>
    </body>
</html>
