{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ course_landing.description|striptags}}">
        <title>Curso de {{ course_landing.name }} - Exploiter.co</title>
        <!-- og tags Facebook -->
        <meta property="og:description" content="{{ course_landing.description|striptags}}" />
        <meta property="og:title" content="Curso de {{ course_landing.name}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://exploiter.co/curso/{{course_landing.slug}}/"/>
        <meta property="og:site_name" content="exploiter.co" />
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <link rel="stylesheet" href="{% static "css/style-website.css" %}">
        <link rel="stylesheet" href="{% static "css/iconstyle-website.css"%}">
        <link rel="stylesheet" href="{% static "css/foundation.css"%}" />
        {% if production %}
	     <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("92623cef2230cef5fb3c7e0748877016");</script><!-- end Mixpanel -->
        {% endif %}
  </head>
<body>
        <!--Header-->
        <header class="index-header" style="background:url('{{MEDIA_URL}}{{course_landing.image_landing}}') no-repeat fixed; height: 90%;">
            <div class="subHeader">
                <div class="sub-header">
                        {% cache 60 logo_menu %}
                        <a href="#" class="logo"><img src="{% static "img/logo.png" %}" alt="logo de exploiter"></a>
                        <a href="#" class="perilla"><img src="{% static "img/menu.png"  %}" height="32" width="32" alt="menu"></a>
                        {% endcache %}
                        <ul class="nav-bar" id="nav">
                                <li><a href="{% url "home" %}">Inicio</a></li>
                                <li><a href="{% url "courses" %}">Cursos</a></li>
                                <li><a href="{% url "pricing" %}">Suscribirme</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url "courses" %}" id="sign-in" class="in">Entrar</a></li>
                                {% else %}
                                    <li><a href="{% url "login" %}" id="sign-in" class="in">Entrar</a></li>
                                {% endif %}
                        </ul>
                </div>
                <div class="main-header courses">
                    <img class="course" src="{{MEDIA_URL}}{{course_landing.image}}">
                    <div class="descrip" >
                        <h1>
                            {{course_landing.name}}
                        </h1>
                    <div class="info">
                        {% if course_landing.description %}
                            {{ course_landing.description|safe}}
                        {% endif %}
                        <a style="margin:0; {% if course_landing.slug == 'introduccion-al-hacking-etico' %}background:#FFD62C; border-bottom-color: #C8A822;{% endif %}{% if course_landing.slug  == 'hacking-etico-profesional' %}background: #53C114; border-bottom-color: #3A860F; {% endif %}{% if course_landing.slug  == 'hacking-con-python' %}background: #1268AF; border-bottom-color: #093457;{% endif %}{% if course_landing.slug  == 'pentesting-con-metasploit' %}background: #e82d2d; border-bottom-color: #B22222{% endif %}" href="{% url "pricing" %}" class="popup_register button" id="HeaderCTA">REGISTRATE POR SOLO $25 USD</a>
                    </div>
                </div>
                </div>
</div>
        </header>
                <section class="team">
    <div class="rowTemario-courses">
        <h2>Aprenderás todo esto</h2>

        {%for class_item in classes%}
            <div class="content_temario {% if class_item.level == 'basic' %}basic{% endif %} {% if class_item.level == 'intermediate' %}intermediate{% endif %} {% if class_item.level == 'advanced' %}advanced{% endif %} large-3 columns {% if forloop.last %}end{% endif %}">
                <img class="course" src="{{MEDIA_URL}}{{class_item.image}}">
                <div class="descrip_content">
                    <p>{{class_item.name}}</p>
                    <p>{{class_item.description|slice:"85"}}...</p>
                </div>
                <p class="level"><s>{% if class_item.level == 'basic' %}Básico{% endif %} {% if class_item.level == 'intermediate' %}Intermedio{% endif %} {% if class_item.level == 'advanced' %}Avanzado{% endif %}</s></p>
            </div>
        {% endfor %}

    </div>
    <div class="teacher" >
        <h2>Profesores</h2>
				{% for teacher in course_landing.teacher_courses.all %}
	        <div class="teacher_descrip" >
	            <img src="{{ teacher.teacher_image.url }}" alt="">
	            <h3>{{ teacher.name }}</h3>
            <p>{{ teacher.teacher_description }}</p>
        </div>
				{% endfor %}
    </div>
    </section>
            <section class="team">
                            <div style="background:#f9f9f9" class="signup_courses">
                        <h2 style="margin-bottom: 1.8em;">Registrate a este y todos los cursos</h2>
                        <!--D-->
                        <a style="margin:0; background: #1268AF; border-bottom-color: #093457;" href="{% url "pricing" %}" class="MiddleCTA button">POR SOLO $25USD al mes</a>
                </div>

        </section>

         <section class="services" id="Works">
            <article>
                    <h2 style="font-weight:900;" >¿CÓMO FUNCIONA?</h2>
                    <h3 style="display: inline-block;" >Aprende, practíca y demuestra lo que sabes. Sí, tan solo 3 pasos</h3>
            </article>
            <div class="row">
                <div class="howWorks">
                    <img alt="clases de hacking con expertos" src="{% static "img/clases-y-articulos.svg" %}" class="feature-image">
                </div>
                <div class="howWorks">
                    <img alt="Laboratorios de hacking" class="imgMiddle" src="{% static "img/laboratorios.svg" %}" class="feature-image">
                </div>
                <div class="howWorks">
                    <img alt="Examenes y medallas" class="imgRight" src="{% static "img/examenes.svg" %}" class="feature-image">
                </div>
            </div>
            <div class="stepHowWorks">
                <div class="orderStep">
                    <div class="step showLine">
                        <div class="lineRight"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">1</span>
                    </div>
                    <div class="step showLine2">
                        <div class="line"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">2</span>
                    </div>
                    <div class="step showLine3">
                        <div class="lineLeft"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">3</span>
                    </div>
                </div>
            </div>
            <div class="descrip">
                <div class="text">
                    <h3>Clases con expertos</h3>
                    <p>Aprende con material desarrollado por profesionales en la industria de la seguridad informática</p>
                </div>
                <div class="text">
                    <h3>Laboratorios controlados</h3>
                    <p>Pon en práctica todo lo que aprendes, sin ninguna preocupación, en laboratorios controlados y guiados por tu profesor</p>
                </div>
                <div class="text">
                    <h3>Exámenes</h3>
                    <p>Demuestra lo que has aprendido a través de exámenes. Si fallas no importa, puedes tomarlo cuantas veces quieras</p>
                </div>
            </div>
            <div class="row" style="margin-top: 3em;">
                <div class="howWorks">
                    <img alt="clases de hacking con expertos" src="{% static "img/multiples-dispositivos.png" %}" class="feature-image">
                </div>
                <div class="howWorks">
                    <img alt="Examenes y medallas" class="imgRight" src="{% static "img/respuestas-a-preguntas.svg" %}" class="feature-image">
                </div>
                <div class="howWorks">
                    <img alt="Laboratorios de hacking" class="imgMiddle" src="{% static "img/examenes-y-medallas.svg" %}" class="feature-image">
                </div>
            </div>
            <div class="stepHowWorks">
                <div class="orderStep">
                    <div class="step showLine">
                        <div class="lineRight"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">4</span>
                    </div>
                    <div class="step showLine2">
                        <div class="line"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">5</span>
                    </div>
                    <div class="step showLine3">
                        <div class="lineLeft"></div>
                        <!--D-->
                        <span style="background: #3084D8;" class="num">6</span>
                    </div>
                </div>
            </div>
            <div class="descrip">
                <div class="text">
                    <h3>Donde quieras, cuando quieras</h3>
                    <p>Aprende a tu ritmo, accede desde cualquier lugar del mundo, en cualquier dispositivo y a la hora que quieras</p>
                </div>
                <div class="text">
                    <h3>Respuesta a todas tus preguntas</h3>
                    <p>No te preocupes si tienes dudas o algo salió mal. Siempre habrá aguien del equipo dispuesto a ayudarte de forma casi inmediata en todo lo que necesites</p>
                </div>
                <div class="text">
                    <h3>Seguimiento de tu progreso</h3>
                    <p>Al aprobar los exámenes de cada clase recibes medallas visibles en tu perfil. Así, puedes demostar lo mucho que haz avanzado en cada uno de los cursos que has iniciado</p>
                </div>
            </div>
            </section>

                <section class="descrip-pricing-landing">
            <h2 style="color: #565656; font-weight: 900; font-size: 2em; margin-bottom: 2em;">Empieza, hoy, tu carrera profesional en Hacking ético</h2>
   <div class="row-decripPricing-landing">
     <div class="descripPricing-landing payment-landing">

        <div id="boxheader" style="background: #1268AF;">
            <h1>Plan Profesional</h1>
            <span>$25<small>USD</small></span>
        </div>
       <ul class="listPricing-landing">
         <li><span>Acceso <strong>total</strong> a nuestra plataforma</span></li>
         <li><span>Material <strong>exclusivo</strong> cada semana</span></li>
         <li><span>Acceso a <strong>todos</strong> nuestros cursos</span></li>
         <li><span>Soporte y respuestas casi<strong> inmediatas</strong></span></li>
         <li><span>Seguimiento total de tu progreso</span></li>
       </ul>
       <div class="goPayment">
         <a class="go-b" style="background: #1268AF; border-bottom-color: #093457" href="{% url "suscribirme" %}">¡Empieza ya!</a>
         <p style="margin: 18px 0 -3px 0;"></p>
       </div>
     </div>
   </div>
 </section>
        {% cache 60 testimonio %}
        <section class="section4 sectionFT courses">
    <div class="row medium-10 medium-centered">
      <div class="medium-4 columns">
        <blockquote>
          <p>"Trabajando, desarrollando y estudiando como loco con @mejorandola y @ExploiterCo me siento aun mejor que cuando estudie la carrera."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/AdrianArroyo.jpg' %}">
        <p class="user_twitter">@AdrianArroyoC</p>
      </div>
      <div class="medium-4 columns">
        <blockquote>
          <p>"@ExploiterCo Excelente plataforma de formacion, felicidades y mas ideas como esta se necesitan para investigacion en SecInfo en el pais."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/manuel.jpg' %}">
        <p class="user_twitter">@MannuDark</p>
      </div>
      <div class="medium-4 columns end">
        <blockquote style="padding: 41px 26px;">
          <p>"@ExploiterCo su curso me anima, me motiva, me emociona a seguir aprendiendo cada día más y más,  saludos."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/Santiago.jpg' %}">
        <p class="user_twitter">@SanttiagoNP</p>
      </div>
    </div>
  </section>
    {% endcache %}

        <footer>
        <br>
                {% cache 60 logo2 %}
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                {% endcache %}
                <ul class="redes">
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
        </footer>
        <script src="{% static "js/jquery-1.10.2.js" %}"></script>
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
        {% if course_landing.slug  == 'hacking-etico-profesional' %}
          <script>
            $( '.popup_register' ).on('click', function() {
              mixpanel.track("Hacking Etico CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-etico-profesional' %}
          <script>
            $( '.go-b' ).on('click', function() {
              mixpanel.track("Hacking Etico CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-etico-profesional' %}
          <script>
            $( '.MiddleCTA' ).on('click', function() {
              mixpanel.track("Hacking Etico CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-con-python' %}
          <script>
            $( '.popup_register' ).on('click', function() {
              mixpanel.track("Hacking con Python CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-con-python' %}
          <script>
            $( '.go-b' ).on('click', function() {
              mixpanel.track("Hacking con Python CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-con-python' %}
          <script>
            $( '.MiddleCTA' ).on('click', function() {
              mixpanel.track("Hacking con Python CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'pentesting-con-metasploit' %}
          <script>
            $( '.popup_register' ).on('click', function() {
              mixpanel.track("Pentesting con Metasploit CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'pentesting-con-metasploit' %}
          <script>
            $( '.go-b' ).on('click', function() {
              mixpanel.track("Pentesting con Metasploit CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'pentesting-con-metasploit' %}
          <script>
            $( '.MiddleCTA' ).on('click', function() {
              mixpanel.track("Pentesting con Metasploit CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'introduccion-al-hacking-etico' %}
          <script>
            $( '.popup_register' ).on('click', function() {
              mixpanel.track("Intro al Hacking CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'introduccion-al-hacking-etico' %}
          <script>
            $( '.go-b' ).on('click', function() {
              mixpanel.track("Intro al Hacking CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'introduccion-al-hacking-etico' %}
          <script>
            $( '.MiddleCTA' ).on('click', function() {
              mixpanel.track("Intro al Hacking CTA Clicked");
              }
            )
          </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-etico-profesional' %}
            <script>
              mixpanel.track("Hacking Etico Landing Page Viewed");
            </script>
        {% endif %}
        {% if course_landing.slug  == 'hacking-con-python' %}
            <script>
              mixpanel.track("Hacking con Python Landing Page Viewed");
            </script>
        {% endif %}
        {% if course_landing.slug  == 'pentesting-con-metasploit' %}
            <script>
              mixpanel.track("Pentesting con Metasploit Landing Page Viewed");
            </script>
        {% endif %}
        {% if course_landing.slug  == 'introduccion-al-hacking-etico' %}
            <script>
              mixpanel.track("Intro al Hacking Landing Page Viewed");
            </script>
        {% endif %}

        {% if course_landing.slug  == 'hacking-etico-profesional' %}
            <!-- Facebook Conversion Code for Hacking ético profesional Landing page View -->
            <script>(function() {
             var _fbq = window._fbq || (window._fbq = []);
             if (!_fbq.loaded) {
               var fbds = document.createElement('script');
               fbds.async = true;
               fbds.src = '//connect.facebook.net/en_US/fbds.js';
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(fbds, s);
               _fbq.loaded = true;
             }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6028028094616', {'value':'0.00','currency':'COP'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028028094616&amp;cd[value]=0.00&amp;cd[currency]=COP&amp;noscript=1" /></noscript>
        {% endif %}
        {% if course_landing.slug  == 'hacking-con-python' %}
            <!-- Facebook Conversion Code for Hacking con Python Landing page View -->
            <script>(function() {
             var _fbq = window._fbq || (window._fbq = []);
             if (!_fbq.loaded) {
               var fbds = document.createElement('script');
               fbds.async = true;
               fbds.src = '//connect.facebook.net/en_US/fbds.js';
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(fbds, s);
               _fbq.loaded = true;
             }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6028028080016', {'value':'0.00','currency':'COP'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028028080016&amp;cd[value]=0.00&amp;cd[currency]=COP&amp;noscript=1" /></noscript>
        {% endif %}
        {% if course_landing.slug  == 'pentesting-con-metasploit' %}
            <!-- Facebook Conversion Code for Pentesting con Metasploit Landing page View -->
            <script>(function() {
             var _fbq = window._fbq || (window._fbq = []);
             if (!_fbq.loaded) {
               var fbds = document.createElement('script');
               fbds.async = true;
               fbds.src = '//connect.facebook.net/en_US/fbds.js';
               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(fbds, s);
               _fbq.loaded = true;
             }
            })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6028028092016', {'value':'0.00','currency':'COP'}]);
            </script>
            <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6028028092016&amp;cd[value]=0.00&amp;cd[currency]=COP&amp;noscript=1" /></noscript>
        {% endif %}

        <!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
(function(d,s,i,r) {
if (d.getElementById(i)){return;}
var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1650107.js';
e.parentNode.insertBefore(n, e);
})(document,"script","hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->

	</body>
</html>

