{% extends 'base.html' %}
{% block content %}
    <div class="row_welcome">
    	<h2>Bienvenido</h2>
		<p>Tu cuenta profesional ha sido activada</p>
		<p> ¡Felicitaciones! Tu pago fue satisfactorio. Te estamos redirigiendo a los cursos </p>
    </div>
    <div class="row" data-equalizer>
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "pricing" %}">Suscribirte</a></li>
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
{% endblock %}
{% block custom-javascript %}
<script type="text/javascript">
    setTimeout(function(){location.href="/cursos/", 15000} );
</script>
{% endblock %}
