{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="En exploiter.co aprende técnicas profesionales de hacking. Cursos de hacking a redes wifi, hacking web, hacking con python, metasploit, y mucho más. Con Videos, laboratorios y todo un ecosistema.">
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exploiter.co -La mejor forma de aprender Hacking online</title>
  <link rel="stylesheet" href= "{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/style-website.css" %}">
  <link rel="stylesheet" href="{% static "css/slick.css" %}">
  <link rel="stylesheet" href="{% static "css/foundation.css" %}"/>
  <link rel="stylesheet" href="{% static "css/iconstyle-website.css" %}">
  <script src="https://js.stripe.com/v1/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
   </script>
   <script src="{% static 'js/stripe/jquery.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/stripe/application.js' %}" type="text/javascript"></script>
</head>

<body>
 <header class="header-pricing">
   <div class="sub-header">
      <a href="#" class="logo"><img src="{% static "img/logo.png" %}"></a>
      <a href="#" class="perilla"><img src="{% static "img/menu.png" %}" alt=""></a>
      <ul class="nav-bar" id="nav">
        <li><a href="{% url "home" %}">Inicio</a></li>
        <li><a href="{% url "signup" %}">Registrarme</a></li>
        {% if user.is_authenticated %}
          <li><a class="in" href="{% url "courses" %}">Entrar</a></li>
                                {% else %}
                                        <li><a href="{% url "login" %}">Entrar</a></li>
                                {% endif %}
      </ul>
    </div>
    <div class="main-header">
      <h1>EL MUNDO NECESITA HACKERS</h1>
      <h2>Profesionales capaces de encontrar y prevenir fallos de seguridad. Tú puedes ser uno</h2>
    </div>
 </header>
 <section class="descrip-pricing">
   <div class="row-decripPricing">
     <div class="descripPricing payment">
       <div class="pricing-header">
         <h3>
           Pro
         </h3>
         <span>$25<small>USD/mes</small></span>
       </div>
       <ul class="listPricing">
         <li><span>Acceso <strong>total</strong> a nuestra plataforma</span></li>
         <li><span>Material <strong>exclusivo</strong> cada semana</span></li>
         <li><span>Acceso a <strong>todos</strong> nuestros cursos</span></li>
         <li><span>Soporte y respuestas casi<strong>inmediatas</strong></span></li>
         <li><span>Seguimiento total de tu progreso</span></li>
       </ul>
       <div class="goPayment">
         <a href="" data-reveal-id="Payment" id="button_payment">¡Empieza ya!</a>
       </div>
       <div id="Payment" class="reveal-modal" data-reveal>
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="">{% csrf_token %}
        <div class="row purchaseData" style="width: 65%;">
            {% if not user.is_authenticated %}
            <h4><span class="formStep">1</span>Tu información básica</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre
                    <input type="text" name="first_name" id="id_first_name_paid" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El nombre es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Apellidos
                    <input type="text" name="last_name" id="id_last_name_paid" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El apellido es obligatorio.</small>
            </div>
            <div class="large-8 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    E-mail
                    <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="username@exploiter.co" required>
                </label>
                <p id="id_error_email_paid"></p>
                {% if form_user.email.errors %}
                  <label class="error">
                    {{ form_user.email.errors }}
                  </label>
                {% endif %}
                <small class="error">Se requiere un E-mail.</small>
            </div>
            <hr class="columns">
            <h4 class="columns"><span class="formStep">2</span>Tus credenciales de cuenta</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre de usuario
                    <input type="text" id="id_username_paid" name="username" placeholder="usuario" required pattern="[a-zA-Z]+">
                </label>
                <p id="id_error_username_paid"></p>
                {% if form_user.username.errors %}
                <label class="error">
                  {{ form_user.username.errors }}
                </label>
                {% endif %}
                <small class="error">El nombre de usuario es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña
                    <input type="password" required id="id_password1_paid" name="password1" placeholder="Pon algo que tome siglos romper">
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña  (confirmación)
                    <input type="password" required id="id_password2_paid" name="password2" placeholder="Una vez mas">
                </label>
                <p id="id_error_password"></p>
                {% if form_user.errors and not form_user.username.errors and not form_user.email.errors %}
                <label class="error">
                  Los dos campos de contraseña no coinciden.
                </label>
                {% endif %}
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <hr class="columns">
            {% endif %}
            <h4 class="columns"><span class="formStep">{% if user.is_authenticated %}1{% else %}3{% endif %}</span>Tu información de pago</h4>
            <div class="large-12 columns">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel1" onclick="value_type_de_payment('tarjeta');">Tarjeta</a></dd>
                    <!-- <dd><a href="#panel2" onclick="value_type_de_payment('paypal');">Paypal</a></dd>-->
                    <input id="type_of_payment" name="type_of_payment" type="hidden" value="tarjeta">
                </dl>
		{% if error %}
		<div>
			{{ error }}
		</div>
		{% endif %}
                <div class="tabs-content" id="credit-card">
                    <div class="content active" id="panel1">
                        <div id="credit-card-errors" style="display:none">
                            <label class="alert-message block-message error" id="stripe-error-message">
                            </label>
                        </div>
			{% if error %}
			<div>
				<script>
					$(document).ready(function(){
						$('#button_payment').trigger("click");
					});
				</script>
			</div>
			{% endif %}
                        <div class="large-6 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                              Número de Tarjeta de Crédito
                                <input type="hidden" name="last_4_digits" id="last_4_digits" value="{{ form.last_4_digits.value }}">
                                <input type="hidden" name="stripe_token" id="stripe_token" value="{{ form.stripe_token.value }}">
                                <input type="text" required pattern="[0-9]" id="credit_card_number">
                            </label>
                        </div>
                        <div class="large-3 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                                 CVV
                                <input type="text" required pattern="[0-9]" id="cvv">
                            </label>
                        </div>
                        <div class="large-12 columns">
                          <label class="labelPayment" style="font-size: 17px;color: #565656">
                          Fecha de vencimiento
                          </label>
                        </div>
                        <div class="large-6 columns">
                            <label  class="labelPayment" style="font-size: 17px;color: #565656">
                              Mes
                                <select class="small" id="expiry_month">
                                    {% for month in months %}
                                        <option value="{{ month }}"{% if soon.month == month %} selected{% endif %}>{{ month }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="large-3 columns">
                        <label class="labelPayment" style="font-size: 17px;color: #565656">
                          Año
                            <select class="small" id="expiry_year">
                                {% for year in years %}
                                    <option value="{{ year }}"{% if soon.year == year %} selected{% endif %}>{{ year }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        </div>
                        <div class="large-12 columns">
                            <label>
                              Los detalles de su tarjeta de crédito serán enviados directamente a nuestro procesador de pagos
                            </label>
                        </div>
                    </div>
                    <div id="id_datos_del_comprador">
                      <hr class="columns">
                      <h4 class="columns"><span class="formStep">{% if user.is_authenticated %}2{% else %}4{% endif %}</span>Datos del comprador</h4>
                      <div class="large-12 columns">
                          <dl class="tabs" data-tab>
                              <dd class="active"><a href="#yo_soy_quien_paga"><b>Yo soy quien paga</b></a></dd>
                              <dd><a href="#otro_quien_paga"><b>Paga alguien más</b></a></dd>
                          </dl>
                          <div class="tabs-content">
                              <div class="content" id="yo_soy_quien_paga">
                              </div>
                              <div class="content" id="otro_quien_paga">
                                <label  class="labelPayment" style="font-size: 17px;color: #565656">
                                    E-mail de PayPal
                                    <input type="email" id="id_email_of_paypal" maxlength="75" name="email_of_paypal" placeholder="username@exploiter.co">
                                    <small class="error"></small>
                                </label>
                              </div>
                          </div>
                      </div>
                    </div>

                    <div class="content" id="panel2">
                      <input type="hidden" name="cmd" value="_s-xclick">
                      <input type="hidden" name="hosted_button_id" value="TXSLUW785NLF2__.">
                      <input type="hidden" name="on0" value="">
                      <input type="hidden" name="os0" value="1 Mes">
                      <input type="hidden" name="currency_code" value="USD">
                    </div>
                </div>
            </div>
            <hr class="columns">
            <div class="large-12 columns">
                <div class="center">
                    <input type="submit" id="user_submit_paid" name="commit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;" onclick="send_form_paypal();">
                </div>
            </div>
        </div>
    </form>
      </div>
     </div>
   </div>
   <div class="row-decripPricing">
     <div class="descripPricing free">
       <div class="pricing-header">
         <h3>
           Free
         </h3>
         <span>$0 <small>for the life</small></span>
       </div>
       <ul class="listPricing">
         <li><span>Videos, articulos y laboratorios</span></li>
         <li><span>Gratis para siempre</span></li>
         <li><span>Realimentación del cursos cada semestre</span></li>
       </ul>
       <div class="goFree">
         {% if not user.is_authenticated %}
            <a data-reveal-id="PaymentFree">¡Empieza ya!</a>
         {% else %}
            <a href="{% url "courses" %}">¡Entrar!</a>
         {% endif %}
       </div>
       <div id="PaymentFree" class="reveal-modal" data-reveal>
        <form method="POST" data-abide id="user_form_method" class="form-stacked" accept-charset="UTF-8" action="">{% csrf_token %}
        <div class="row purchaseData" style="width: 65%;">
            {% if not user.is_authenticated %}
            <h4><span class="formStep">1</span>Tu información básica</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre
                    <input type="text" name="first_name" id="id_first_name" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El nombre es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Apellidos
                    <input type="text" name="last_name" id="id_last_name" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El apellido es obligatorio.</small>
            </div>
            <div class="large-8 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    E-mail
                    <input type="email" id="id_email" maxlength="75" name="email" placeholder="username@exploiter.co" required>
                </label>
                <small class="error">Se requiere un E-mail.</small>
            </div>
            <hr class="columns">
            <h4 class="columns"><span class="formStep">2</span>Tus credenciales de cuenta</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre de usuario
                    <input type="text" id="id_username" name="username" placeholder="usuario" required pattern="[a-zA-Z]+">
                </label>
                <small class="error">El nombre de usuario es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña
                    <input type="password" required id="id_password1" name="password1" placeholder="Pon algo que tome siglos romper">
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Contraseña  (confirmación)
                    <input type="password" required id="id_password2" name="password2" placeholder="Una vez mas">
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <hr class="columns">
            <hr class="columns">
            <div class="large-12 columns">
                <div class="center">
                    <input type="submit" name="commit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;" onclick="send_form_paypal();">
                </div>
            </div>
            {% endif %}
        </div>
    </form>
    </div>

     </div>
   </div>
 </section>
<section class="section4 sectionFT">
    <div class="carrusel2">
          <div>
            <p>"Trabajando, desarrollando y estudiando como loco con @mejorandola y @ExploiterCo me siento aun mejor que cuando estudie la carrera."</p>
            <div class="pic">
              <img src="{% static "img/AdrianArroyo.jpg" %}" alt="@AdrianArroyoC">
            </div>
              <p class="small nickTwitter">@AdrianArroyoC</p>
          </div>
          <div>
            <p>"@ExploiterCo Excelente plataforma de formacion, felicidades y mas ideas como esta se necesitan para investigacion en SecInfo en el pais."</p>
            <div class="pic">
              <img src="{% static "img/manuel.jpg" %}" alt="@MannuDark">
            </div>
              <p class="small nickTwitter">@MannuDark</p>
          </div>
          <div>
            <p>"@ExploiterCo su curso me anima, me motiva, me emociona a seguir aprendiendo cada día más y más,  saludos... :D"</p>
            <div class="pic">
              <img src="{% static "img/Santiago.jpg" %}" alt="">
            </div>
              <p class="small nickTwitter">@SanttiagoNP</p>
          </div>
      </div>
  </section>
 <section class="row-FAQ">
  <div class="contentFAQ">
  <div>
    <h3>Preguntas frecuentes</h3>
  </div>
  <div class="columns-five">
   <div class="FAQ">
     <p><strong>¿Cómo funciona el plan gratuito?</strong>
        Con nuestro plan gratuito tienes <b>acceso de por vida</b> a todo el material y a las actualizaciones del curso de Introducción al Hacking ético. El curso incluye clases en vídeo que puedes ver en cualquier dispositivo y cuando quieras, artículos explicativos que profundizan los temas vistos en los vídeos, proposición de laboratorios para que practiques lo aprendido, y exámenes para que demuestres lo que sabes.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Es necesario un conocimiento previo?</strong>
        ¡No!, En Exploiter.co nos dedicamos a llevarte desde cero hasta un nivel profesional en técnicas de hacking y seguridad informática. Con el curso gratuito de Introducción al Hacking ético podrás adquirir todo el conocimiento necesario para iniciar con los cursos avanzados.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Si me suscribo al plan pago a qué tengo acceso?</strong>
        Tienes acceso a toda nuestra plataforma, a todos nuestros cursos, a todo el material y funcionalidades nuevas que vayamos liberando, a soporte técnico casi inmediato y a cualquier cosa que necesites y esté a nuestro alcance. ¡Ah! y a cerveza <b>infinita</b> en nuestras oficinas en México D.F.
     </p>
   </div>

   <div class="FAQ">
     <p><strong>¿Cuales métodos de pago aceptan?</strong>
        Aceptamos tarjetas de credito en cualquier rincón del mundo, tu pago se realiza a la cuenta de banco en USA de Exploiter, INC. de forma 100% segura a través de la mejor plataforma de pagos del mundo. El pago es de $25 dólares americanos, pero nuestra pasarela de pagos se encarga de convertirlos a tu moneda local.

También aceptamos pagos a través de PayPal

Si no dispones de los dos métodos de pago anteriores puedes contactarnos a e@exploiter.co y de seguro encontraremos la solución que más te convenga.
     </p>
   </div>
  </div>
  <div class="columns-five">
   <div class="FAQ">
     <p><strong>¿Hay compromiso de permanencia en el plan de pago?</strong>
        ¡No!, puedes cancelar tu suscripción en cualquier momento, aunque probablemente eso no será lo que quieras, pues estamos actualizando <b>semanalmente</b> nuestros cursos, creando siempre nuevas y mejores funcionalidades en la plataforma y entregandote material exclusivo.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Está segura mi información de pago?</strong>
        ¡Sí!, tu información de pago es 100% segura y ni siquiera toca nuestros servidores, es procesada totalmente por pasarelas de pago americanas altamente seguras que cifran tus datos al máximo posible.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Tengo ayuda cuando la necesite?</strong>
        ¡Siempre!, estamos para ti en Skype, correo de soporte, chat en vivo, facebook, twitter y en donde quieras. Intentamos siempre responderte lo más rápido posible, aunque tal vez si son las 4 de la mañana un domingo (Lo que demostraría que eres un estudiante increible) tardemos un par de horas en responderte.
     </p>
   </div>
   <div class="FAQ">
     <p><strong>¿Cuanto tiempo puede tomarme hacer un curso?</strong>
        Los cursos están diseñados para que tardes aproximadamente un mes en cada uno, aunque si eres muy disciplinado puedes terminarlo en menos tiempo. Hacer todos los cursos de Exploiter y tener un nivel alto y profesional de conocimiento debería tomarte aproximadamente 5 meses (Un semestre de universidad). En esa instancia y demostrando que eres uno de nuestros mejores estudiantes estás listo para certificarte como todo un profeisonal.
     </p>
   </div>
   </div>
  </div>
 </section>

 <footer>
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                <ul>
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
        </footer>
<script src="{% static "js/vendor/modernizr.js" %}"></script>
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/foundation.min.js" %}"></script>
<script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
<script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/jquery.mixitup.min.js" %}"></script>
<script src="{% static "js/scripts.jquery.js" %}"></script>
<script src="{% static "js/payments/payments.js" %}"></script>
</body>
</html>
