{% load static from staticfiles %}
{% load cache %}
<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cursos de ethical hacking profesional. Aprende cómo hacer auditorías profesionales, hacking con python, metasploit avanzado y mucho más con profesores expertos">
        <title>Exploiter | Cursos Profesionales de Hacking Ético</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
            <link rel="stylesheet" href="{% static "css/style-website.css" %}">
            <link rel="stylesheet" href="{% static "css/iconstyle-website.css"%}">
        <meta name="google-site-verification" content="dUrm45owQX6TjwvGw9NjMCcr2kn5UU1mwQifH62OdnI" />
    <meta name="d8d4ff2748969b1055904afe515cdae055a06a57" content="7fb06bcebdc0d6398ff20a10a19a2d4e938bad88" />
    <meta name="google-site-verification" content="EFGSk76wiZ7hCg3t7WsDGS3cHa3TjTuLk01-ius6UoM" />
    {% if production %}
        <script async src="//cdn.optimizely.com/js/2591070525.js"></script>
    {% endif %}
    {% if google_analytcs %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51277163-1', 'exploiter.co');
  ga('send', 'pageview');

</script>
{% endif %}
</head>
<body>
        <!--Header-->
        <header class="index-header">
	<video autoplay loop poster="{% static "img/exploiter_blog.jpg" %}" id="bgvideo" muted>
<source src="/media/uploads/introfinal.mp4" type="video/mp4">
</video>

                <div class="sub-header">
                        {% cache 60 logo_menu %}
                        <a href="#" class="logo"><img src="{% static "img/logo.png" %}" alt="logo de exploiter"></a>
                        <a href="#" class="perilla"><img src="{% static "img/menu.png"  %}" height="32" width="32" alt="menu"></a>
                        {% endcache %}
                        <ul class="nav-bar" id="nav">
                                <li><a href="{% url "home" %}">Inicio</a></li>
                                <li><a href="{% url "courses" %}">Cursos</a></li>
                                <li><a href="{% url "pricing" %}">Suscribirme</a></li>
                                    <li><a href="{% url "login" %}" id="sign-in" class="in">Entrar</a></li>
                        </ul>
                </div>
                {% cache 60 aprende_hacking %}
                <div class="info">
                        <h1>CONVIERTETE EN UN HACKER ÉTICO PROFESIONAL</h1>
                        <p>Tenemos todo un ecosistema para que te conviertas en un <strong>profesional</strong> de la seguridad informática completamente <strong>desde cero</strong></p>
                        <a href="{% url 'trial_sign-in' %}" id="CTAhome">EMPIEZA GRATIS YA</a>
                </div>
                {% endcache %}
        </header>

        <!--Services-->

        <section class="services" id="Works">
        	<article>
        	        <h2>¿CÓMO FUNCIONA?</h2>
        	        <h3>Aprende, practíca y demuestra lo que sabes. Sí, tan solo 3 pasos</h3>
        	</article>
        	<div class="row">
        		<div class="howWorks">
        			<img alt="clases de hacking con expertos" src="{% static "img/clases-y-articulos.svg" %}" class="feature-image">
        		</div>
        		<div class="howWorks">
        			<img alt="Laboratorios de hacking" class="imgMiddle" src="{% static "img/laboratorios.svg" %}" class="feature-image">
        		</div>
        		<div class="howWorks">
        			<img alt="Examenes y medallas" class="imgRight" src="{% static "img/examenes.svg" %}" class="feature-image">
        		</div>
        	</div>
        	<div class="stepHowWorks">
        		<div class="orderStep">
        			<div class="step showLine hidden">
        				<div class="lineRight"></div>
        				<span class="num">1</span>
        			</div>
        			<div class="step showLine2 hidden">
        				<div class="line"></div>
        				<span class="num">2</span>
        			</div>
        			<div class="step showLine3 hidden">
        				<div class="lineLeft"></div>
        				<span class="num">3</span>
        			</div>
        		</div>
        	</div>
        	<div class="descrip">
        		<div class="text one">
        			<h3>Clases con expertos</h3>
        			<p>Aprende a tu ritmo con material desarrollado por profesionales en la industria de la seguridad informática</p>
        		</div>
        		<div class="text two">
        			<h3>Laboratorios controlados</h3>
        			<p>Pon en práctica todo lo que aprendes, sin ninguna preocupación, en laboratorios controlados y guiados por tu profesor</p>
        		</div>
        		<div class="text tree">
        			<h3>Exámenes</h3>
        			<p>Demuestra lo que has aprendido a través de exámenes. Si fallas no importa, puedes tomarlo cuantas veces quieras</p>
        		</div>
        	</div>
            <section class="b">
        	<div class="post row">
        		<div class="halfLeft">
        			<div class="text">
        				<p>Donde quieras y cuando quieras
        				</p>
        				<p>Aprende a tu ritmo, desde cero hasta un nivel profesional. Cada semana hay nuevas clases exclusivas que puedes ver desde cualquier dispositivo y a la hora que quieras</p>
        			</div>
        		</div>
        		<div class="half img">
        			<img alt="acceso multiplataforma" src="{% static "img/multiples-dispositivos.png" %}">
        		</div>
        	</div>
        	<hr>
        	<div class="post row">
        		<div class="halfLeft img">
        			<img alt="examenes y medallas" src="{% static "img/examenes-y-medallas.svg" %}">
        		</div>
        		<div class="half">
        			<div class="text">
        				<p>Gana medallas y demuestra tus habilidades
                        <small>(beta)</small>
        				</p>
        				<p>Al aprobar los exámenes de cada clase recibes medallas que están visibles en tu perfil para cualquier persona. Así puedes demostrar lo mucho que haz avanzado en cada uno de los cursos que has iniciado</p>
        			</div>
        		</div>
        	</div>
        	<hr>
        	<div class="post row">
        		<div class="halfLeft">
        			<div class="text">
        				<p>Respuesta a todas tus preguntas
        				</p>
        				<p>No te preocupes si tienes dudas o algo salió mal. Siempre habrá alguien del equipo dispuesto a ayudarte de forma casi inmediata en todo lo que necesites</p>
        			</div>
        		</div>
        		<div class="half imgMan">
        			<img alt="respuesta a todas tus preguntas" src="{% static "img/respuestas-a-preguntas.svg" %}">
        		</div>
        	</div>
            </section>
        </section>

        <!--Portafolio-->

        <section class="portafolio">
                <article>
                        <h2>Cursos profesionales</h2>
                        <h3>Impartidos por expertos en la industria del Hacking</h3>
                </article>
                <section class="image">
                        {% cache 60 curso_introduccion %}
                        <article class="introduccion">
                            <div class="portafolio_class" >
                                <img src="{% static "img/curso-de-introduccion-al-hacking-etico.png" %}" alt="curso de introducción al hacking ético">
                            </div>
                            <div class="move">
                                <h3>Introducción al Hacking ético</h3>
                                <p>Aprende desde cero las técnicas y metodologías que usan los hackers éticos en la industria.</p>
                                <p class="view_course"><a href="/curso/introduccion-al-hacking-etico/">Ver curso</a></p>
                            </div>
                        </article>
                        {% endcache %}
                        {% cache 60 curso_profesional %}
                        <article class="profesional">
                            <div class="portafolio_class" >
                                <img src="{% static "img/curso-de-hacking-etico-profesional.png" %}" alt="curso profesional de hacking étio">
                            </div>
                            <div class="move">
                                <h3>Hacking ético profesional</h3>
                                <p>Conduce auditorías profesionales de Hacking ético, genera reportes que el cliente entienda, aplica técnicas efectivas que logren detectar y romper fallos, escalar privilegios y tener el máximo alcance posible.</p>
                                <p class="view_course"><a href="/curso/hacking-etico-profesional/">Ver curso</a></p>
                            </div>
                        </article>
                        {% endcache %}
                        {% cache 60 curso_metasploit %}
                        <article class="metasploit">
                            <div class="portafolio_class" >
                                <img src="{% static "img/curso-de-pentesting-con-metasploit.png" %}" alt="curso de hacking con metasploit">
                            </div>
                            <div class="move">
                                <h3>Penetration testing con Metasploit</h3>
                                <p>Conviertete en un experto de Metasploit, aprende a desarrollar tus propios exploits y a conducir auditorías profesionales con este increíble framework.</p>
                               <p class="view_course"><a href="/curso/pentesting-con-metasploit/">Ver curso</a></p>
                            </div>
                        </article>
                        {% endcache %}
                        {% cache 60 curso_python %}
                        <article class="python">
                            <div class="portafolio_class" >
                                <img src="{% static "img/curso-de-hacking-con-python.svg" %}" alt="curso de hacking con pyton">
                            </div>
                            <div class="move">
                                <h3>Hacking con Python</h3>
                                <p>Especializate en Hacking con Python totalmente desde cero y aprende a automatizar múltiples técnicas completamente ofensivas.</p>
                                <p class="view_course"><a href="/curso/hacking-con-python/">Ver curso</a></p>
                            </div>
                        </article>
                        {% endcache %}
<!--                        <article>
                                        <img src="{% static "img/web.png" %}" alt="curso de hacking web">
                                        <div class="move">
                                                <h4>Ataques a aplicaciones web</h4>
                                        </div>
                        </article>
                        <article>
                                        <img src="{% static "img/wifi.png" %}" alt="curso de hacking de redes wi-fi">
                                        <div class="move">
                                                <h4>Hacking de redes WI-FI</h4>

                                        </div>
                        </article>-->
                </section>
        </section>

        {% cache 60 empieza_aprender_ya %}
        <!--Material-->
        <section class="team">
                <div>
                        <i class="icon-gift"></i>
                        <h2>Accede gratis a todos nuestros cursos por 7 dias</h2>
                        <h3>Puedes acceder a las 4 primeras clases de cada curso por $0 y sin necesidad de tarjeta de credito</h3>
                        <div style="margin:0 auto" class="content_signup">
                <div id="Payment">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="/signup/">{% csrf_token %}
            <div style="margin-left:15%" class="content_input_name">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input class="required" id="id_first_name" maxlength="30" name="first_name" type="text" placeholder=" Nombre" required />
                </label>
            </div>
            <div class="content_input_name">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input class="required" id="id_last_name" maxlength="30" name="last_name" type="text" placeholder=" Apellido" required />
                </label>
            </div>
            <div class="content_input">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="Correo electrónico" required>
                    <i class="icon mail"></i>
                    <label class="error">
                        {{form.email.errors}}
                    </label>
                </label>
                <p id="id_error_email_paid"></p>
                {% if form_user.email.errors %}
                  <label class="error">
                    {{ form_user.email.errors }}
                  </label>
                {% endif %}
            </div>
            <div class="content_input">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="text" id="id_username_paid" name="username" placeholder="Usuario" required>
                    <i class="icon user"></i>
                    <label class="error">
                      {{form.username.errors}}
                    </label>
                </label>
                <p id="id_error_username_paid"></p>
                {% if form_user.username.errors %}
                <label class="error">
                  {{ form_user.username.errors }}
                </label>
                {% endif %}
            </div>
            <div class="content_input">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <input type="password" required id="id_password1_paid" name="password1" placeholder="Contraseña">
                    <i class="icon contra"></i>
                    <label class="error">
                      {{form.password1.errors}}
                    </label>
                </label>
            </div>
            <div class="content_submit" style="text-align:center">
            <input id="signup-button" type="submit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;">
            </div>
    </form>
      </div>
{{ form.errors }}
        <div class="orIndex">
            <hr>
            <p>o</p>
        </div>

        <div class="index">
            <div class="content-redes">
                <a class="redes facebook" href='{% url 'social:begin' 'facebook'%}' style="border-bottom: none;">Registrarme con Facebook</a>
            </div>
        </div>
            </div>
                </div>
        </section>
        {% endcache %}
        {% cache 60 apoyan_a_exploiter %}
        <section class="trust">
            <div class="trust_row">
                <h2>Apoyan a Exploiter</h2>
                <ul class="trusts">
                    <li><img width="160px" src="{% static 'img/amazon-logo.png' %}" alt="confian en exploiter"></li>
                    <li><img width="155px;" src="{% static 'img/sendgrid-logo.png' %}" alt="confian en exploiter"></li>
                    <li><img width="160px" src="{% static 'img/500-logo-2.png' %}" alt="confian en exploiter"></li>
                </ul>
            </div>
        </section>
        {% endcache %}
        <!--Footer-->

        <footer>

        		<hr>
                {% cache 60 desarrollado_por_exploiter %}
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                {% endcache %}
                {% cache 60 redes_sociales %}
                <ul class="redes" >
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
                {% endcache %}
                {% cache 60 footer %}
                <ul class="nav_footer">
                    <li><a href="{% url "home" %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url "courses" %}" id="sign-in" class="in">Entrar</a></li>
                    {% else %}
                        <li><a href="{% url "login" %}" id="sign-in" class="in">Entrar</a></li>
                    {% endif %}
                    <li><a href="#popup_register" class="popup_register">Registrarme</a></li>
                </ul>
                <ul class="nav_footer end">
		          <li><a href="{% url "terms" %}">Términos de uso</a></li>
		          <li><a href="{% url "privacy" %}">Políticas de privacidad</a></li>
                </ul>
                {% endcache %}

                <p>Exploiter, INC. 2711 Centerville RD STE 400, Wilmington, New Castle, Delaware. 19808 (USA).
                &nbsp;
                <a href="https://mixpanel.com/f/partner"><img style="padding-top:30px" src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                </p>
        </footer>
    {% cache 60 js %}
  		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
      <script src="{% static 'js/viewportchecker.js' %}"></script>

		<script>
		$(document).ready(function(){
			$(".post").addClass("hidden");
      $(".showLine").addClass("hidden");
      $(".showLine2").addClass("hidden");
      $(".showLine3").addClass("hidden");
      $(".post").viewportChecker({
			    classToAdd: "visible animated fadeIn", // Class to add to the elements when they are visible
			    offset: 180
			   });
      $(".showLine").viewportChecker({
   		   classToAdd: "visible animated fadeIn", // Class to add to the elements when they are visible
   			  offset: 120
   			});
      $(".showLine2").viewportChecker({
         classToAdd: "visible animated fadeIn", // Class to add to the elements when they are visible
         offset: 120
      });
      $(".showLine3").viewportChecker({
         classToAdd: "visible animated fadeIn", // Class to add to the elements when they are visible
         offset: 120
      });
		});
		</script>
    <script>
      $( ".popup_register" ).click(function(){
        $("#popup_register").show('slow');
      });
            $( "#popup_register").click(function(){
                if($(".popup").is(':hover')){

                }
                else{
                    $("#popup_register").hide('slow');
                }
            });
        </script>

        <script>

                $(function(){

                        var nav = $("#nav"), no = "nav-open";

                        $(".perilla").on("click",function(){

                                        if(nav.hasClass(no))
                                        {
                                                nav.animate({height : 0},300);

                                                setTimeout(function(){
                                                        nav.removeClass(no).removeAttr("style");
                                                },320);

                                        }
                                        else
                                        {
                                                var newH = nav.css("height","auto").height();

                                                nav.height(0).animate({height : newH},300);

                                                setTimeout(function(){
                                                        nav.addClass(no).removeAttr("style");
                                                },320);

                                        }
                        });
                });

        </script>
        {% endcache %}
  <script type="text/javascript">
    (function(d,s,i,r) {
      if (d.getElementById(i)){return;}
      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/513856.js';
      e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);
  </script>
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
<!-- Start of Async HubSpot Analytics Code -->
<script type="text/javascript">
(function(d,s,i,r) {
if (d.getElementById(i)){return;}
var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/1650107.js';
e.parentNode.insertBefore(n, e);
})(document,"script","hs-analytics",300000);
</script>
<!-- End of Async HubSpot Analytics Code -->
</body>
</html>
