{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Aprende ethical hacking profesional. Cursos de hacking wifi, hacking web, metasploit, python y mucho más; Con profesores expertos">
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <link rel="stylesheet" href="{% static "css/mex.css" %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </head>
    <body>
        <section class="section-body" >
            <header>
                <a href="/" >
                    <img src="{% static "img/logo.png" %}" alt="logo de exploiter" />
                </a>
                <i class="menu" ></i>
                <ul id="menuL" >
                    <li><a href="{% url "home" %}">INICIO</a></li>
                    <li> <a href="/singup/">REGISTRARME</a> </li>
                    {% if user.is_authenticated %}
                                    <li class="in" ><a href="{% url "courses" %}">Entrar</a></li>
                    {% else %}
                                    <li class="in" ><a href="{% url "login" %}" >Entrar</a></li>
                    {% endif %}
                </ul>
            </header>
            
            <div class="copy" >
                <h1>Exploiter.co en Mexico</h1>
                <p>Hola mexico, esto es un copy, si eres de ciudad de mexico, o sus alrededores; y quieres charlar junto con una cerveza eres bienvenido en nuestras oficinas</p>
                <p class="go"><a id="go" href="#" >¡Quiero ir!</a></p>
            </div>
            <div class="formulario" >
                <h2>Tu información</h2>
                <p>Pronto te escribiremos y te confirmaremos la fecha</p>
                <form>
                <div class="content_input">
                    <label class="labelForm" style="font-size: 17px;color: #565656">
                        <input type="text" id="name" name="name" placeholder="Nombre" required />
                        <i class="icon user"></i>
                    </label>
                </div>
                <div class="content_input">
                    <label class="labelForm" style="font-size: 17px;color: #565656">
                        <input type="text" id="name" name="email" placeholder="Correo electrónico" required />
                        <i class="icon mail"></i>
                    </label>
                </div>
                    <p style="text-align: center;" ><input id="signup-button" type="submit" value="Registrarme" class="button" style="font-size: 16px;"></p>
                
                </form>
            </div>
        </section>
        <script>
        $(function () {
            $('.menu').click(function(){
                $('#menuL').toggle(1000);
            });
            $('#go').click(function(){
                $(document).find('.formulario').fadeIn();
                var delayS = 2000;
                $(document).find('input').each(function( index ) {
                    $(this).fadeIn(delayS);
                    delayS += 1000;
                });
            });
        });
        </script>
    </body>
</html>