{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Aprende técnicas de hacking. Atacar redes wifi, hacking con metasploit, hacking de aplicaciones web, etc. Con Videos, laboratorios y mucho más">
	<title>Exploiter.co - Live</title>
	<link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
	<link rel="stylesheet" href="{% static "css/style-website.css" %}">
	<link rel="stylesheet" href="{% static "css/iconstyle-website.css" %}">
    <meta name="google-site-verification" content="dUrm45owQX6TjwvGw9NjMCcr2kn5UU1mwQifH62OdnI" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51277163-1', 'exploiter.co');
  ga('send', 'pageview');

</script>
</head>
<body>
	<section class="services">
		<article>
		<h2>Bsides, el evento Hacker en Colombia</h2>
		<h3>Desde Exploiter.co te invitamos a uno de los mejores eventos de Hacking del año</h3>
		<br>
		<div style="text-align:center;">
		<iframe width="560" height="315" src="//www.youtube.com/embed/erI4W1auzIM" frameborder="0" allowfullscreen></iframe>
		</div>
		<br>
		<h3>Este Jueves a las 5PM (Colombia)</h3>	
		</article>
</section>
	<footer>
	<figure>
		<img src="{% static "img/logoTrans.png" %}" alt="logo de exploiter">
	</figure>
	<p>Desarrollado por Exploiter.co</p>
		<ul>
			<li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
			<li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
			<li><a href="http://instagram.com/exploiter.co" target="_blank"><i class="icon-instagram"></i></a></li>
		</ul>
	</footer>
</body>
</html>
