{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="En exploiter.co aprende técnicas profesionales de hacking. Cursos de hacking a redes wifi, hacking web, hacking con python, metasploit, y mucho más. Con Videos, laboratorios y todo un ecosistema.">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exploiter.co - nosotros</title>
  <link rel="stylesheet" href="/static/css/style-website.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/foundation.css" />
  <link rel="stylesheet" href="/static/css/iconstyle-website.css">
  <link rel="stylesheet" href="https://raw.githubusercontent.com/l-lin/font-awesome-animation/master/dist/font-awesome-animation.min.css">
</head>

<body>
 <header class="header-pricing">
   <div class="sub-header">
      <a href="#" class="logo"><img src="/static/img/logo.png"></a>
      <a href="#" class="perilla"><img src="/static/img/menu.png" alt=""></a>
      <ul class="nav-bar" id="nav">
        <li><a href="/">Inicio</a></li>
        <li><a href="{% url "courses" %}">Cursos</a></li>
        <li><a href="/signup/">Registrarme</a></li>
        {% if user.is_authenticated %}
          <li><a class="in" href="/cursos/">Entrar</a></li>
                                {% else %}
                                        <li><a class="in" href="/login/">Entrar</a></li>
                                {% endif %}
      </ul>
    </div>
    <div style="width: 60%;" class="main-header">
      <h1>Conoce a nuestro impresionante y diverso equipo</h1>
      <h2>Profesionales lideres en la industria dispuesto a dar lo mejor de ellos para enseñarte todo lo que saben</h2>
    </div>
 </header>

<section class="nosotros_team" >
   <h3>Nuestro equipo</h3>
    <ul>
        <li>
            <img class="img_teacher" src="/static/img/juan_eljach.jpg" alt="Profesor exploiterco">
            <div class="ctn" >
            <div class="content_descrip" >
                <p class="name" >Juan Eljach</p>
                <div class="descrip" >
                    <p>profesor</p>
                </div>
                <div class="descrip_comp" >
                    <p>Especializado en Metasploit, y otras cosas raras</p>
                </div>
            </div>
            </div>
        </li>
        <li>
            <img class="img_teacher" src="/static/img/Hernan_caballero.jpg" alt="Profesor exploiterco">
            <div class="ctn" >
            <div class="content_descrip" >
                <p class="name" >Hernan Alvarez Caballero</p>
                <div class="descrip" >
                    <p>profesor</p>
                </div>
                <div class="descrip_comp" >
                    <p>Especializado en Metasploit, y otras cosas raras</p>
                </div>
            </div>
            </div>
        </li>
        <li>
            <img class="img_teacher" src="/static/img/Lucas_padawan-exploiterco.png" alt="Profesor exploiterco">
            <div class="ctn" >
            <div class="content_descrip" >
                <p class="name" >Lucas Duarte Wulfert</p>
                <div class="descrip" >
                    <p>profesor</p>
                </div>
                <div class="descrip_comp" >
                    <p>Especializado en Metasploit, y otras cosas raras</p>
                </div>
            </div>
            </div>
        </li>
        <li>
            <img class="img_teacher" src="/static/img/lucas_duarte.jpg" alt="Profesor exploiterco">
            <div class="ctn" >
            <div class="content_descrip" >
                <p class="name" >Danilo Vargas</p>
                <div class="descrip" >
                    <p>profesor</p>
                </div>
                <div class="descrip_comp" >
                    <p>Especializado en Metasploit, y otras cosas raras</p>
                </div>
            </div>
            </div>
        </li>
        <li>
            <img class="img_teacher" src="/static/img/diego_ortiz.jpg" alt="Profesor exploiterco">
            <div class="ctn" >
            <div class="content_descrip" >
                <p class="name" >Diego Ortiz</p>
                <div class="descrip" >
                    <p>profesor</p>
                </div>
                <div class="descrip_comp" >
                    <p>Especializado en Metasploit, y otras cosas raras</p>
                </div>
            </div>
            </div>
        </li>
    </ul>

</section>

<section class="nosotros_exploiterco" >
   <div class="aboutas">
       <h3>¿que hace exploiter.co?</h3>
       <p>En exploiter nos dedicamos a generar conciencia y estudio, de calidad y barato en busca de una mejor no se algo y chachara :3</p>
   </div>
</section>

 <section style="margin-top:0" class="section4 sectionFT">
    <div class="row medium-10 medium-centered">
      <div class="medium-4 columns">
        <blockquote>
          <p>"Trabajando, desarrollando y estudiando como loco con @mejorandola y @ExploiterCo me siento aun mejor que cuando estudie la carrera."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/AdrianArroyo.jpg' %}">
        <p class="user_twitter">@AdrianArroyoC</p>
      </div>
      <div class="medium-4 columns">
        <blockquote>
          <p>"@ExploiterCo Excelente plataforma de formacion, felicidades y mas ideas como esta se necesitan para investigacion en SecInfo en el pais."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/manuel.jpg' %}">
        <p class="user_twitter">@MannuDark</p>
      </div>
      <div class="medium-4 columns end">
        <blockquote style="padding: 41px 26px;">
          <p>"@ExploiterCo su curso me anima, me motiva, me emociona a seguir aprendiendo cada día más y más,  saludos."</p>
        </blockquote>
        <img class="img_twitter" src="{% static 'img/Santiago.jpg' %}">
        <p class="user_twitter">@SanttiagoNP</p>
      </div>
    </div>
  </section>

 <footer>
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                <ul class="redes">
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
        </footer>
<!-- Qualaroo for kissmetrics.com -->
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/972812958/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/foundation.min.js"></script>
<script src="/static/js/slick.min.js"></script>
<script src="/static/js/jquery.mixitup.min.js"></script>
<script src="/static/js/scripts.jquery.js"></script>
</body>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('5072-168-10-5684');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5072-168-10-5684/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
<script type="text/javascript"> olark('api.chat.updateVisitorNickname', {
snippet: "{{user.username}}"
});
</script>
<script type="text/javascript"> olark('api.visitor.updateEmailAddress', {
emailAddress: "{{user.email}}"
});
</script>
<script type="text/javascript"> olark('api.visitor.updateFullName', {
fullName: "{{user.first_name}}" + "{{user.last_name}}"
});
</script>
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
</html>
