{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="En exploiter.co aprende técnicas profesionales de hacking. Cursos de hacking a redes wifi, hacking web, hacking con python, metasploit, y mucho más. Con Videos, laboratorios y todo un ecosistema.">
        <title>Exploiter.co - Políticas de Privacidad</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/style-website.css" %}">
        <link rel="stylesheet" href="{% static "css/iconstyle-website.css"%}">
	</head>
<body>
	<header class="header-pricing">
    	<div class="sub-header">
      	<a href="#" class="logo"><img src="/static/img/logo.png"></a>
      	<a href="#" class="perilla"><img src="/static/img/menu.png" alt=""></a>
      	<ul class="nav-bar" id="nav">
        	<li><a href="/">Inicio</a></li>
        	<li><a href="{% url "pricing" %}">Suscribirme</a></li>
        {% if user.is_authenticated %}
          <li><a class="in" href="/cursos/">Entrar</a></li>
                                {% else %}
                                        <li><a href="/login/">Entrar</a></li>
                                {% endif %}
      </ul>
    </div>
    <div class="main-header">
    <br>
    <br>
      <h1>
            Políticas de Privacidad
	</h1>
    </div>
 </header>
  <section class="services">
        	<div class="row">
        		<div class="halfLeft">
        			<div class="text">
        				<p>Responsable de Tratamiento de los Datos y Titular</p>
        				<p style="color:#a4a4a4">
                                        	Exploiter, INC. 2711 CENTERVILLE RD STE 400, WILMINGTON, NEW CASTLE, DELAWARE. 19808 (USA),
						e@exploiter.co
					 </p>
        			</div>
			</div>
		 </div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Finalidad del Tratamiento de los Datos recogidos</p>
                                        <p style="color:#a4a4a4">
						Los Datos relativos al Usuario son recogidos para permitir al Titular la prestación de sus servicios, así como para las siguientes finalidades: Acceso a las cuentas de servicios de terceros, Estadísticas y Contactar con el Usuario.
						<br>Los Datos Personales utilizados para cada finalidad son descritos en los apartados específicos de este documento.
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Información detallada del tratamiento de los Datos Personales</p>
                                        <p style="color:#a4a4a4">
                                            Se recogen Datos Personales para las siguientes finalidades y utilizando los siguientes servicios:
                                            <ul>
					    	<li>
							<strong>Acceso a las cuentas de servicios de terceros:</strong>
							<ul>
								<li>
									<strong>Acceso a la cuenta de Facebook (Esta Aplicación):</strong>
									<br>
									<span>Este servicio permite a esta Aplicación conectarse con la cuenta del Usuario en la red social Facebook, proporcionada por Facebook Inc.
									<br>Permisos solicitados: Dirección de correo electrónico.
									<br>Lugar de tratamiento : EE.UU</span>
								</li>
							</ul>
						</li>
						<li><strong>Contactar con el Usuario:</strong>
							<ul>
								<li><strong>Lista de Correo o Newsletter (Esta Aplicación):</strong><br>
								Al registrarse en la lista de correo o el newsletter, la dirección de correo electrónico del Usuario será incluida automáticamente en una lista de contactos a los que se les podrán remitir mensajes de correo electrónico con información comercial o promocional relativa a esta Aplicación. Su dirección de correo electrónico también podrá ser incluida en esta lista a raíz de registrarse en esta Aplicación o tras realizar una compra.
								<br><br>
								Datos Personales recogidos: Apellido(s), Dirección de correo electrónico y Nombre.
								</li>
								
							</ul>
						</li>
						<li><strong>Estadisticas:</strong>
						<br>Los servicios contenidos en esta sección permiten al Titular monitorizar y analizar el tráfico web y pueden ser utilizados para rastrear el comportamiento del Usuario.
							<ul>
								<li><strong>Google Analytics (Google):</strong>
								<br>Google Analytics es un servicio de análisis web prestado por Google Inc. (“Google”). Google utiliza los Datos recogidos para rastrear y examinar el uso de esta Aplicación, para preparar informes de sus actividades y compartirlos con otros servicios de Google.
								<br><br>Google puede utilizar los Datos recogidos para contextualizar y personalizar los anuncios de su propia red de publicidad
								<br><br>Datos Personales recogidos: Cookie y Datos de uso.
								<br>Lugar de tratamiento : EE.UU.
								</li>
								<li><strong>MixPanel (MixPanel):</strong>
								<br>MixPanel es un servicio de estadísticas prestado por Mixpanel Inc.
								<br><br>Datos Personales recogidos: Cookie y Datos de uso
								<br>Lugar de tratamiento : EE.UU.
								</li>
							</ul>
						</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Modificación de esta política de privacidad</p>
                                        <p style="color:#a4a4a4">
                                            El Responsable de Tratamiento se reserva el derecho de modificar esta política de privacidad en cualquier momento notificándolo a los Usuarios a través de esta página. Se recomienda encarecidamente que revisen esta página con frecuencia, tomando como referencia la fecha de la última modificación indicada al final. En el caso de que un Usuario esté en desacuerdo con alguna de las modificaciones realizadas a esta Política, el Usuario deberá cesar en el uso de esta Aplicación y podrá solicitar al Responsable de Tratamiento que elimine sus Datos Personales. Salvo que se indique lo contrario, la política de privacidad vigente en cada momento será de aplicación a todos los Datos Personales que el Responsable de Tratamiento haya recogido hasta entonces.
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Definiciones y referencias legales</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li><strong>Datos Personales (o Datos):</strong>
						<br>Constituye dato personal cualquier información relativa a una persona física, identificada o identificable, aunque sea indirectamente, mediante referencia a cualquier otra información, inclusive a un número de identificación personal.
						</li>
                                                <li><strong>Datos de Uso:</strong>
                                                <br>Los datos personales recogidos de forma automática por esta Aplicación (o por servicios de terceros utilizados por esta Aplicación), que podrán incluir: las direcciones IP o nombres de dominio de los ordenadores utilizados por el Usuario que se conecte a esta Aplicación, las direcciones URI (Uniform Resource Identifier), la hora de la solicitud, el método utilizado para realizar la solicitud al servidor, las dimensiones del archivo obtenido en respuesta, el código numérico indicando el estado de la respuesta del servidor (resultado satisfactorio, error, etc…), el país de origen, las características del navegador y del sistema operativo utilizados por el visitante, las diversas coordenadas temporales de la visita (por ejemplo, el tiempo de permanencia en cada una de las páginas) y los detalles relativos al itinerario seguido dentro de la Aplicación, con especial referencia a la secuencia de páginas consultadas, a los parámetros relativos al sistema operativo y al entorno informático del Usuario.
						</li>
                                                <li><strong>Usuario:</strong>
                                                <br>El individuo que utiliza esta Aplicación, que debe coincidir con el Titular de los Datos o bien haber sido autorizado por éste y cuyos Datos Personales son objeto de tratamiento.
                                                </li>
                                                <li><strong>Titular de los Datos:</strong>
                                                <br>La persona física o jurídica a la que se refieren los Datos Personales.
                                                </li>
                                                <li><strong>Encargado del Tratamiento:</strong>
                                                <br>La persona física, jurídica, administración pública o cualquier otra institución, asociación u organización autorizada por el Responsable de Tratamiento a tratar los Datos Personales de conformidad con esta política de privacidad.
                                                </li>
                                                <li><strong>Responsable de Tratamiento (o Propietario):</strong>
                                                <br>La persona física, jurídica, administración pública o cualquier otra institución, asociación u organización con la facultad, incluso solidariamente con otro Responsable de Tratamiento, de tomar decisiones relativas a la finalidad, los métodos de tratamiento de los Datos Personales y los medios utilizados, incluyendo las medidas de seguridad relativas al funcionamiento y el uso de esta Aplicación. A menos que se especifique lo contrario, el Responsable de Tratamiento es el Propietario de esta Aplicación.
                                                </li>
                                                <li><strong>Esta Aplicación:</strong>
                                                <br>La herramienta de hardware o software mediante la cual se han recogidos los Datos Personales del Usuario.
                                                </li>
						<li><strong>Cookie:</strong>
                                                <br>Pequeña unidad de datos almacenada en el dispositivo del Usuario.
                                                </li>
                                                <li><strong>Información legal:</strong>
                                                <br>Esta política de privacidad se refiere únicamente a esta Aplicación.
                                                </li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
        </section>
        <section class="team">
        </section>

        <footer>

        		<hr>
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                <ul class="redes">
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
        </footer>
	</body>
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
</html>
