{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="En exploiter.co aprende técnicas profesionales de hacking. Cursos de hacking a redes wifi, hacking web, hacking con python, metasploit, y mucho más. Con Videos, laboratorios y todo un ecosistema.">
        <title>Exploiter.co - Términos de uso</title>
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/style-website.css" %}">
        <link rel="stylesheet" href="{% static "css/iconstyle-website.css"%}">
	</head>
<body>
	<header class="header-pricing">
    	<div class="sub-header">
      	<a href="#" class="logo"><img src="/static/img/logo.png"></a>
      	<a href="#" class="perilla"><img src="/static/img/menu.png" alt=""></a>
      	<ul class="nav-bar" id="nav">
        	<li><a href="/">Inicio</a></li>
        	<li><a href="{% url "pricing" %}">Suscribirme</a></li>
        {% if user.is_authenticated %}
          <li><a class="in" href="/cursos/">Entrar</a></li>
                                {% else %}
                                        <li><a href="/login/">Entrar</a></li>
                                {% endif %}
      </ul>
    </div>
    <div class="main-header">
    <br>
    <br>
      <h1>
            Términos de Uso
	</h1>
    </div>
 </header>
  <section class="services">
        	<div class="row">
        		<div class="halfLeft">
        			<div class="text">
        				<p>Nuestra relación</p>
        				<p style="color:#a4a4a4">
                                            <ul>
                                                <li>Por el acceso y uso de nuestros productos usted acepta completamente nuestros Términos de Uso descritos aquí así como con nuestras Políticas de Privacidad.</li>
                                                <li>Aceptamos hacer absolutamente nuestro mejor esfuerzo para proveer productos de calidad. Recíprocamente, usted acepta abstenerse cualquier actividad que interfiera o nos prohíba proveer nuestros servicios.</li>                                            
                                                <li>Por el uso de nuestros servicios, acepta que los accederá a través de nuestra interface y no intentará eludir nuestro sistema.</li>
                                                <li>Nos reservamos el derecho a cancelar su cuenta o a dejar de proveer servicios en caso de que viole nuestro Términos de Uso.</li>
                                                <li>Puede decidir cuando no continuar usando nuestros productos. Puede terminar su acuerdo con nosotros en cualquier momento solicitando la cancelación de su cuenta.</li>
                                                <li>Si no está satisfecho con nuestros servicios, o cree que no llenan sus expectativas de aprendizaje, estaremos dispuestos a reembolsar su último pago. Sin embargo, si la suscripción de ese último pago lleva más de 3 días vigente, nos reservamos el derecho a declinar el reembolso</li>
                                            </ul>
                                         </p>
        			</div>
			</div>
		 </div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Sus responsabilidades</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
                                                <li>Proveer una dirección de e-mail válida, y cualquier otra información requerida.</li>
                                                <li>Debe asegurarse que la información de su cuenta se mantenga exacta y válida.</li>
                                                <li>Usted es responsable de mantener las credenciales de su cuenta seguras. La actividad en su cuenta está bajo su responsabilidad, así que le sugerimos mantener esta información en un lugar seguro</li>
                                                <li>Su cuenta debe ser sólo usada por una persona o entidad legal.</li>
                                                <li>Usted es responsable del contenido publicado y de cualquier actividad que suceda en su cuenta.</li>
                                                <li>No nos haremos responsables de las decisiones que usted tome por fuera del alcance de nuestros productos</li>
                                                <li>No debe usar este servicio, o lo aprendido en él, para cualquier propósito ilegal o no autorizado.  No puede violar, en el uso de este servicio, cualquier ley o jurisdicción (Incluyendo copyrigth o leyes de marca).</li>
						<li>Nuestros productos son para su uso personal. Trabajamos duro para proveer un producto de calidad y esperamos que no intentará revender, copiar, o hacer nuestros productos disponibles para otros sin nuestro permiso por escrito. Si amas nuestro producto lo suficiente como para compartirlo, por favor solicita nuestro permiso.</li>                                            
					    </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Nuestros servicios</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
					    	<li>Constantemente mejoramos nuestros productos y servicios. Así que podríamos actualizar, agregar, o remover ciertos productos sin una notificación previa.</li>
                                                <li>Nos esforzamos en proveer un servicio con una experiencia de usuario excepcional y estamos siempre abiertos a sugerencias, comentarios, y retroalimentación a través de nuestros medios de comunicación.</li>
                                                <li>Intentamos que aprenda al máximo posible mientras usa nuestros productos. Sin embargo, no podemos garantizar que esto será cumplido en su totalidad, puesto que usted es responsable de su aprendizaje. </li>
                                                <li>Trabajamos constantemente en asegurar que nuestros productos y servicios estén siempre disponibles. Sin embargo, debido a la naturaleza de nuestro negocio, es algo que no estamos seguros de poder garantizar siempre.</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Suscripción</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li>Es requerida una tarjeta válida o una cuenta pre-aprobada en PayPal para el pago.</li>
						<li>El servicio es cobrado en base a una suscripción mensual, como se determina en su suscripción inicial. La fecha de cobros recurrentes podría variar a lo largo del tiempo debido a la cantidad de días de algunos meses.</li>
						<li>Todos los planes son automáticamente renovados a menos que el cliente previamente finalice su suscripción (Que puede hacerlo a través de la configuración de su cuenta).</li>
						<li>La reconfiguración de su servicio podría causar pérdida de contenido, funcionalidades o capacidad en su cuenta. Exploiter.co no se hace responsable de ninguna de esas perdidas</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Cancelación y desactivación</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li>Usted es directamente responsable de la cancelación de su suscripción.</li>
						<li>Si cancela su suscripción antes del final del ciclo de pago actual, la cancelación se hará efectiva una vez finalice dicho ciclo. Mientras tanto, seguirá teniendo acceso a nuestro servicio.</li>
						<li>Exploiter.co tiene el derecho a suspender o cancelar cualquier cuenta y a veta la prestación del servicio en cualquier momento, por alguna razón que viole los Términos de Uso y las Políticas de Privacidad descritas en la aplicación. Tal cancelación del servicio resulta en la desactivación o eliminación de su cuenta o del acceso a su cuenta.</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Modificaciones al servicio y precios</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li>Exploiter.co se reserva el derecho a modificar o descontinuar, temporal o permanentemente, el Servicio (o cualquier parte de él) con o sin notificación previa. Además, el Servicio podría estar temporalmente deshabilitado debido a mantenimientos ocasionales.</li>
						<li>Los precios de todos los Servicios, incluyendo a las suscripciones mensuales, estan sujetos a cambios con 30 días de notificación previa. Dicha notificación puede ser enviada a través de email o en el sitio de Exploiter.co</li>
						<li>Exploiter.co no se hace responsable por las modificaciones al precio, suspensión o descontinuación del Servicio que usted o una aplicación de tercero genere.</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Promociones</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li>Exploiter.co se reserva el derecho a modificar o descontinuar, temporal o permanentemente, promociones y/o descuentos con o sin notificación previa.</li>
						<li>Los puntos dentro de la aplicación o las medallas ganadas son una métrica para el progreso de el cliente en los cursos. Los puntos o medallas no pueden ser redimidos por créditos o por cualquier valor monetario.</li>
                                            </ul>
                                         </p>
                                </div>
			</div>
		</div>
                <div class="row">
                        <div class="halfLeft">
                                <div class="text">
                                        <p>Condiciones Generales</p>
                                        <p style="color:#a4a4a4">
                                            <ul>
						<li>El uso del servicio está bajo su propia responsabilidad y riesgo.</li>
						<li>Usted entiende y acepta que Exploiter.co usa proveedores y socios de hosting para implementar el hardaware, software, redes, almacenamiento y tecnología requerida para el funcionamiento del Servicio.</li>
						<li>Usted no puede modificar, adaptar o vulnerar el Servicio.</li>
						<li>Acepta no reproducir, duplicar, copiar, vender, revender o explotar ninguna de las partes del Servicio, o del acceso al Servicio sin un permiso por escrito emitido por Exploiter.co.</li>
						<li>Cualquier abuso verbal, físico o escrito a cualquier cliente, empleado, miembro o directivo de Exploiter.co resultará en la cancelación inmediata de la cuenta.</li>
						<li>No puede transmitir cualquier tipo de gusano, virus, malware o código malicioso a través de la aplicación.</li>
						<li>Si su consumo de ancho de banda excede de forma significativa el porcentaje promedio (determinado de forma privada por Exploiter.co) de otro cliente de Exploiter.co se reserva el derecho de inhabilitar de forma inmediata su cuenta hasta que ajuste su consumo.</li>
						<li>Exploiter.co no garantiza totalmente que (1) El servicio satisfaga sus requerimientos especificos, (2) el servicio no tendrá interrupciones, será totalmente oportuno, seguro, o libre de errores, (3) los resultados que podrían ser obtenidos por el uso del producto sean exactos, (4) La calidad de cualquier producto, servicio, información, o material comprado u obtenido por usted cumplirá con todas sus expectativas, y (5) que cualquier error en el Servicio sea corregido</li>
						<li>Cualquier pregunta sobre los Términos de Uso debe ser enviada a la dirección de correo e@exploiter.co.</li>
                                            </ul>
                                         </p>
                                </div>
        		</div>
        	</div>
        </section>
        <section class="team">
        </section>

        <footer>

        		<hr>
                <figure>
                        <img src="{% static "img/logo2.png" %}" alt="logo de exploiter">
                        <figcaption>Desarrollado por Exploiter.co</figcaption>
                </figure>
                <ul class="redes">
                        <li><a href="https://www.facebook.com/exploiter.co" target="_blank"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://twitter.com/exploiterco" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href=""><i class="icon-instagram"></i></a></li>
                </ul>
        </footer>
	</body>
</html>
