{% extends 'base.html' %}
{% block content %}
    <div class="row_welcome">
    	<h2>Bienvenido</h2>
		<p>Tu cuenta ha sido activada</p>
		<p>Ya puedes acceder a la plataforma con total normalidad</p>
    </div>
    <div class="row" data-equalizer>
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "pricing" %}">Suscribirte</a></li>
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
{% endblock %}
{% block custom-javascript %}
<script>
$(document).ready(function(){
    ga("send", "event", "signupfree", "signup-complete", "signup-completed-page-loaded")
});
</script>
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
{% endblock %}
