@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?mmtg95');
	src:url('fonts/icomoon.eot?#iefixmmtg95') format('embedded-opentype'),
		url('fonts/icomoon.woff?mmtg95') format('woff'),
		url('fonts/icomoon.ttf?mmtg95') format('truetype'),
		url('fonts/icomoon.svg?mmtg95#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"]  {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-size: 28px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e902";
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-film:before {
	content: "\e913";
}

.icon-pacman:before {
	content: "\e916";
}

.icon-book:before {
	content: "\e91f";
}

.icon-profile:before {
	content: "\e923";
}

.icon-lifebuoy:before {
	content: "\e941";
}

.icon-user-plus2:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-lock:before {
	content: "\e98f";
}

.icon-trophy:before {
	content: "\e99e";
}

.icon-out:before {
	content: "\ea13";
}

.icon-heart:before {
	content: "\f004";
}

.icon-group:before {
	content: "\f0c0";
}

.icon-users:before {
	content: "\f0c0";
}

.icon-list:before {
	content: "\f0c9";
}

.icon-navicon:before {
	content: "\f0c9";
}

.icon-reorder:before {
	content: "\f0c9";
}

.icon-smile-o:before {
	content: "\f118";
}

.icon-frown-o:before {
	content: "\f119";
}

.icon-meh-o:before {
	content: "\f11a";
}
