@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
background: rgba(51, 51, 51, 0.52);;
}

header a img{
    width: 4em;
    margin-left: 10%;
    margin-top: 10px;
}

header ul{
    display: inline-block;
    list-style: none;
    float: right;
    color: #f9f9f9;
    margin-top: 14px;
    margin-right: 8%;
    font-weight: bold;
}

header ul li{
    display: inline-block;
      margin: 0 10px;
}

header ul li.in{
    border: 2px solid #f9f9f9;
    padding: 8px 10px;
}

.menu {
    display: none;
    position: relative;
      width: 50px;
  height: 50px;
    top: 10px;
  right: 20px;
    cursor: pointer;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.menu:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 30px;
    padding-right: 0.5em;
    position: absolute;
    top: 11px;
    right: 0;
}

.section-body{
    background: url("/static/img/Zocalo_Mexico_City_panorama_at_nightfall.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  position: absolute;
    width: 100%;
    min-height: 100%;
    display: block;
    font-family: "Ubuntu";
}

.section-body .copy{
    position: relative;
    left: 10%;
    display: inline-block;
  top: 0px;
    color: #fafafa;
  width: 352px;
  height: 195px;
  line-height: 22px;
    background: rgba(51,51,51,.85);
      padding: 30px;
  margin-top: 10%;
}

.section-body .copy h1{
    margin-bottom: 20px;
} 

.section-body .copy p{
    font-size: 19px;
}

.section-body .copy .go{
    text-align: center;
    margin-top: 12%;
}

.section-body .copy .go a{
border-top: 1px solid;
      border-color: #0f76ac;
  padding: 10px 20px;
  background: #1186c4;
  color: #f9f9f9;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.5s;
}

.section-body .copy .go a:hover{
    background-color: #0d6695;
}

.formulario{
    position: relative;
    background: rgba(51,51,51,.85);
    right: 10%;
  top: 0px;
    display: none;
    float: right;
  width: 325px;
  height: 195px;
  line-height: 22px;
      padding: 30px;
  margin-top: 10%;
}

.formulario h2{
    color: #f9f9f9;
}

.formulario p{
    color: #f9f9f9;
    margin-bottom: 10px;
}

.formulario form .content_input{
      padding: 0;
  display: inline-block;
  position: relative;
    margin-bottom: 10px;
}

.formulario form .content_input .labelForm input{
    width: 91%;
    display: none;
  padding-left: 36px;
    padding-top: 5px;
  padding-bottom: 5px;
    height: 28px;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    -o-border-radius: 5px;
  border-radius: 5px;
      border: 1px solid #ccc;
    font-size: 17px;
    color: #a8a8a8;
}

.icon {
  position: absolute;
  top: 1px;
  left: 10px;
}

.icon:before {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #a8a8a8;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  top: 7px;
}

.icon.mail:before {
  content: "\f003";
  left: 0;
}

.icon.user:before {
  content: "\f007";
  left: 2px;
}

.button{
    font-size: 16px;
  /* border-top: 1px solid; */
  border-color: #0f76ac;
    display: none;
  padding: 10px 20px;
  background: #1186c4;
  color: #f9f9f9;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.5s;
}

.button:hover{
    background-color: #0d6695;
}

@media screen and (max-width: 800px){
    
.menu {
  display: inline-block;
    float: right;
}
    
.section-body .copy{width: 65%;
  min-height: 195px;
height: auto;}
    
    header ul{
        display: none;
        float: none;
    }
    
    header ul li{
          width: 100%;
  text-align: center;
  margin: 10px auto 10px auto;;
        
    }
    
    .formulario {
    right: 4%;
    width: 65%;
        min-height: 195px;
  height: auto;
    }
}

