.menuD li{text-align: center;}
.menuD li a i {
    margin: 0 auto 5px;
  display: block;
  width: 30px;
}

.left-off-canvas-menu{background: #cbcbcb}

ul.off-canvas-list li a:hover {
  background: #BABABA;
}

ul.off-canvas-list li label {
  color: #717171;
  background: #BEBEBE;
  border-top: 1px solid #B6B6B6;
}

ul.off-canvas-list li a {  border-bottom: 1px solid #BABABA;}

.menuD li a .name{
    display: inline-block;
    margin: 0 auto;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

.tab-bar {height: 3.8125rem;}

.topBarV2{
    background: #FCFCFC;
    color: #494949;
}

.topBarV2 .left-small{  border-right: solid 1px #C0C0C0;
    width: 3.8125rem;
    height: 3.8125rem;
}

.tab-bar .menu-icon {
  width: 3.8125rem;
  height: 3.8125rem;
}

.tab-bar-section {padding: 0 1.625rem;}

.tab-bar-section img {
    float: left;
    height: 3.8125rem;
    margin-right: 25px;
    padding: 5px;
}
.tab-bar-section .me{
  float: right;
  text-align: center;
}
.tab-bar .menu-icon .menuV2::after{
    box-shadow: 0 0 0 1px #C0C0C0, 0 7px 0 1px #C0C0C0, 0 14px 0 1px #C0C0C0;
}

.tab-bar h1{
    color: #808080;
    display: inline-block;
    float: left;
    margin-top: 7px;
}

.container-main{
     padding: 20px 20%;
  margin: 0 auto;
  background: #FCFCFC;
  border-top: 5px solid #fff;
}

.container-main .titulo{
    color: #808080;
    font-weight: bold;
}

.arrow_box {
	position: relative;
	background: #fff;
	border: 4px solid #DDD;
    display: inline-block;
}
.arrow_box p{
    margin: 5px 20px;
    font-weight: bold;
      color: #878787;
}
.Box-left{  border-radius: 12px 0 0 12px;}
.Box-left:after, .Box-left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.Box-left:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #DDD;
	border-width: 18px;
	margin-top: -18px;
}
.Box-left:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #DDD;
	border-width: 24px;
	margin-top: -24px;
}

.Box-right{ float: right; border-radius: 0 12px 12px 0;}
.Box-right:after, .Box-left:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.Box-right:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #DDD;
	border-width: 18px;
	margin-top: -18px;
}
.Box-right:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #DDD;
	border-width: 24px;
	margin-top: -24px;
}