{% extends 'base.html' %}
{% block title %}Todos los exámenes{% endblock %}

{% block content %}
<h2 class="all_ex">Todos los exámenes</h2>
    {% if quiz_list %}
        {% for course in all_course %}
            <h5 class="course_title" >{{ course }}</h5>
            <center>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Clase</th>
                            <th>Porcentaje necesario</th>
                            <th>Resultado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for quiz in quiz_list %}
                            {% if quiz.course_class.course.available and quiz.course_class.course == course %}
                                <tr>
                                    <td class="table_quiz" >{{ quiz.course_class }}</td>
                                    <td>{{ quiz.pass_mark }}%</td>
                                    {% if quiz in all_quiz_of_course_of_user %}
                                        {% for quiz_user in all_sittings_of_user %}
                                            {% if quiz_user.quiz == quiz %}
                                                <td class="table_quiz2" >{{ quiz_user.get_percent_correct }} %</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>
                                            Exámen aprobado
                                        </td>
                                    {% else %}
                                        <td>No has tomado el exámen</td>
                                        <td>
                                            <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
                                                Tomar el exámen
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        {% endfor %}
        <p>Tienes multiples intentos para cada examen, estudia y cuando te sientas seguro hazlo y apruebalo </p>
    {% else %}
        <p>Los exámenes estan a punto de ser publicados.</p>
    {% endif %}
{% endblock %}
