{% extends "base_quiz.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
{% if quiz.course_class.level == 'basic' %}
	<div class="headerClass basicColor">
		<p class="numTotal">{{ quiz.get_questions.count }}</p>
		<p class="lvlQuiz">Básico</p>
		<div class="nameClassQuiz">
			<h3>{{quiz.course_class}}</h3>
		</div>
	</div>
{% endif %}

{% if quiz.course_class.level == 'intermediate' %}
	<div class="headerClass intermediateColor">
		<p class="numTotal">{{ quiz.get_questions.count }}</p>
		<p class="lvlQuiz">Intermedio</p>
		<div class="nameClassQuiz">
			<h3>{{quiz.course_class}}</h3>
		</div>
	</div>
{% endif %}

{% if quiz.course_class.level == 'advanced' %}
	<div class="headerClass advancedColor">
		<p class="numTotal">{{ quiz.get_questions.count }}</p>
		<p class="lvlQuiz">Avanzado</p>
		<div class="nameClassQuiz">
			<h3>{{quiz.course_class}}</h3>
		</div>
	</div>
{% endif %}

<div class="descrip">
<div class="preQuiz">
<div id="lose" style="height: 200px;margin-top:30px;float:left;width:400px;">
	<p> &lt;{{quiz.pass_mark}}%</p>
</div>
<script type="text/javascript">
        Morris.Donut({
          element: 'lose',
          data: [
            {label: ">{{quiz.pass_mark }}%", value: 1}, 
            {label: "<{{quiz.pass_mark}}%", value: 9},
          ],
          colors: ["#05AA50", "#3C746C"]
        });
</script>
<div id="approve" style="height: 200px;margin-top:30px;float:left;width:369px;">
	<p> &gt;{{quiz.pass_mark}}%</p>
</div>
<script type="text/javascript">
        Morris.Donut({
          element: 'approve',
          data: [
            {label: ">{{quiz.pass_mark}}%", value: 9},
            {label: ">{{quiz.pass_mark }}%", value: 1},
          ],
          colors: ["#05AA50", "#3C746C"]
        });
    </script>
    	<p class="descripQuiz">Repruebas</p>
    	<p style="margin-left: 295px;" class="descripQuiz">Apruebas</p>
    <div class="quizButton">
    	<a class="back" href="{% url 'clase' quiz.course_class.course.slug quiz.course_class.slug %}">
		VOLVER
  		</a>
		<a class="go" href="{% url 'quiz_question' quiz_name=quiz.url %}">
		EMPEZAR
  		</a>
  	</div>
</div>
</div>
{% endblock %}