{% load static from staticfiles %}

<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<meta charset="utf-8">

<title>{% block title %}{% endblock %}</title>
<meta name="description" content="{% block description %}{% endblock %}">

<!-- styles -->
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% block styles %}{% endblock %}
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>
<link rel="stylesheet" href="/static/css/morris-0.5.1.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="/static/js/morris-0.5.1.min.js"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>


<!-- Before the quiz content -->

<div class="containerQuiz">

{% block content %}

{% endblock %}

</div>

<!-- After the quiz content -->

{% block custom-javascript %}

{% endblock %}

</body>
</html>
