{% extends "base.html" %}
{% load quiz_tags %}
{% load static from staticfiles %}

{% block title %}Exploiter.co - Tu progreso {% endblock %}
{% block description %} User Progress Page {% endblock %}
{% block content %}
<link rel="stylesheet" href="/static/css/morris-0.5.1.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/static/js/morris-0.5.1.min.js"></script>
            
            <div class="row" data-equalizer>
              {% for x in sittings %}
                <div class="large-6 columns">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <div id="donut-{{x.quiz.id}}" style="height: 210px;"></div>
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{x.quiz}}</h4>
                    </li>
                    {% if x.check_if_passed %}
                    	<li class="bullet-item">Aprobado con {{x.get_percent_correct}}%</li>
                    {% else %}
                    	<li class="bullet-item">Reprobado con {{x.get_percent_correct}}%</li>
                    {% endif %}
                  </ul>    
                </div>
                <script type="text/javascript">
					Morris.Donut({
					  element: 'donut-{{x.quiz.id}}',
					  data: [
					    {label: "Respuestas correctas", value: {{x.get_current_score}}},
					    {label: "Respuestas incorrectas", value: {{x.get_incorrect_questions|length}}},
					  ],
					  colors: ["#05AA50", "#3C746C"]
					});
				</script>
              {% endfor %}
            </div>



{% endblock %}

