{% extends "base_quiz.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block styles %}
{% load static from staticfiles %}
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
{% endblock %}

{% block content %}

{% if previous.answers %}

  <p class="muted"><small>Pregunta anterior:</small></p>
  <p>{{ previous.previous_question }}</p>

  {% if previous.previous_outcome %}
	<div class="alert alert-success">
  {% else %}
	<div class="alert alert-warning">
  {% endif %}
  	  <p><small>
		Tu respuesta fue </small>
		<strong>
		  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
		</strong>
	  </p>

	</div>


	<p><strong>Explicación:</strong></p>
	<div class="well " style="background-color: #fcf8e3;">
	  <p>{{ previous.previous_question.explanation }}</p>
	</div>

	<hr>

{% endif %}

<br />

{% if question %}
<div class="headerClass">
{% if progress %}
<div class="cantQuestions" style="float: right;">
	<div id="imgProgress">
		{% if level == 'basic' %}
			<img class="basicColor" src="/static/img/contador.png"/>
		{% endif %}
		{% if level == 'intermediate' %}
			<img class="intermediateColor" src="/static/img/contador.png"/>
		{% endif %}
		{% if level == 'advanced' %}
			<img class="advancedColor" src="/static/img/contador.png"/>
		{% endif %}
	</div>
	<div id="progressbar">
	</div>
	 <script>
		$(function() {
			$( "#progressbar" ).progressbar({
				max: {{ progress.1 }},
				value: {{ progress.0|add:1 }}
			});
			{% if level == 'basic' %}
				$(this).find('.ui-widget-header').css({'background-color':'#39B54A'});
			{% endif %}
			{% if level == 'intermediate' %}
				$(this).find('.ui-widget-header').css({'background-color':'#3079AB'});
			{% endif %}
			{% if level == 'advanced' %}
				$(this).find('.ui-widget-header').css({'background-color':'#B73130'});
			{% endif %}
		});
	</script>
	{% if level == 'basic' %}
		<p class="cantQuestionsBasic">
			{{ progress.0|add:1 }}/{{ progress.1 }}
		</p>
	{% endif %}
	{% if level == 'intermediate' %}
		<p class="cantQuestionsIntermediate">
			{{ progress.0|add:1 }}/{{ progress.1 }}
		</p>
	{% endif %}
	{% if level == 'advanced' %}
		<p class="cantQuestionsAvanced">
			{{ progress.0|add:1 }}/{{ progress.1 }}
		</p>
	{% endif %}
</div>
{% endif %}
</div>
<div class="descrip" style="height: auto;margin-bottom:-20px;padding-bottom: 50px;">
	{% if level == 'basic' %}
		<p class="quizQuestion quizQuestionBasci">{{ question.content }}</p>
	{% endif %}
	{% if level == 'intermediate' %}
		<p class="quizQuestion quizQuestionInter">{{ question.content }}</p>
	{% endif %}
	{% if level == 'advanced' %}
		<p class="quizQuestion quizQuestionAvanced">{{ question.content }}</p>
	{% endif %}

{% if question.figure %}
    <img margin="35 auto 25" src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}
<div class="quizAnswer">
	<form action="" method="POST">{% csrf_token %}
	  <input type=hidden name="question_id" value="{{ question.id }}">

	  <ul id="answerList">

		{% for answer in form.answers %}
		  <li class="optionAnswer">
		    	{{ answer }}
		  </li>
		{% endfor %}

	  </ul>
	  <div style="width:100px;margin-left:42%;display:inline-block;">
	  	{% if level == 'basic' %}
			<input type="submit" value="Siguiente" class="basicButton btn btn-large btn-block btn-success" >
		{% endif %}
		{% if level == 'intermediate' %}
			<input type="submit" value="Siguiente" class="interButton btn btn-large btn-block btn-success" >
		{% endif %}
		{% if level == 'advanced' %}
			<input type="submit" value="Siguiente" class="avancedButton btn btn-large btn-block btn-success" >
		{% endif %}
	  	
	  </div>
	</form>
</div>
</div>
{% endif %}

<hr>

<script type="text/javascript">
	$('label').click(function(){
		{% if level == 'basic' %}
			$(document).find(".optionAnswerBasic").removeClass('optionAnswerBasic');
			$( this ).addClass("optionAnswerBasic");
		{% endif %}
		{% if level == 'intermediate' %}
			$(document).find(".optionAnswerIntermediate").removeClass('optionAnswerIntermediate');
			$( this ).addClass("optionAnswerIntermediate");
		{% endif %}
		{% if level == 'advanced' %}
			$(document).find(".optionAnswerAvanced").removeClass('optionAnswerAvanced');
			$( this ).addClass("optionAnswerAvanced");
		{% endif %}
	});
</script>


{% endblock %}

