{% extends "base_quiz.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.course_class}} {% endblock %}
{% block description %} Exam Results for {{ quiz.title }} {% endblock %}

{% block styles %}
{% load static from staticfiles %}
  {% if sitting.check_if_passed %}
  <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
  <script src="{% static 'js/vendor/modernizr.js' %}"></script>
  {% endif %}

{% endblock %}

{% block content %}

  {% if previous.answers %}

  <p class="muted"><small>The previous question:</small></p>
  <p>{{ previous.previous_question }}</p>
  <p>Your answer was
	<strong>
	  {{ previous.previous_outcome|yesno:"correct,incorrect" }}
	</strong>
  </p>
  {% include 'correct_answer.html' %}
  <p><strong>Explanation:</strong></p>
  <div class="well " style="background-color: #fcf8e3;">
    <p>{{ previous.previous_question.explanation }}</p>
  </div>
  <hr>

  {% endif %}

  {% if max_score %}
    <div class="headerClass {% if level == 'basic' %}basicColor{% endif %}{% if level == 'intermediate'%}intermediateColor{% endif %}{% if level == 'advanced' %}advancedColor{% endif %}">
      <img style="float:left" src="/static/img/gorro.png">
      <p class="lvlQuiz">{% if level == 'basic' %}Básico{% endif %}{% if level == 'intermediate'%}Intermedio{% endif %}{% if level == 'advanced' %} Avanzado{% endif %}</p>
      <div class="nameClassQuiz">
        <h3>{{quiz.course_class}}</h3>
      </div>
    </div>
  {% endif %}
  {% if sitting.check_if_passed %}

  <div class="descripResult">
  <div class="row">
  <div class="large-12 columns">
  <div class="orbit-container">
  <ul data-orbit data-options="animation_speed:1500;">
    <li>
      <div class="donutResult">
        <ul data-equalizer-watch>
        <div id="donutR" style="height: 210px;"></div>
        {% if sitting.check_if_passed %}
          <p>
            Aprobado con {{sitting.get_percent_correct}}%
          </p>
        {% else %}
          <p>
            Reprobado con {{sitting.get_percent_correct}}%
          </p>
        {% endif %}
        </ul>
        </div>
    <div class="questionResult">
    <h3>PREGUNTAS INCORRECTAS</h3>
  {% if incorrect_content %}
      {% for question in incorrect_content %}
        <p class="incorrectQuestions">
        {{ question.content }}
        </p>
      {% endfor %}
  {% else %}
      <h4>0</h4>
  {% endif %}
  </div>
    </li>
    {% if award_image %}
    <li class="active">
      <div class="win">
        <h3>¡DESBLOQUEASTE UNA NUEVA MEDALLA!</h3>
        <div class="img" >
          <img src="{{MEDIA_URL}}{{ award_image}}">
        </div>
        <div class="cinta_content">
        <div class="cinta" >
          <p><span>Ganaste {{ award_point }} puntos</span></p>
        </div>
        </div>
          <div class="fb-root">
            <p>
              <a href="http://www.facebook.com/sharer.php?s=100&p[url]=https://exploiter.co/accounts/{{ user.username }}/?s=100&p[title]=Exploiter.co+-+mis+logros+y+progreso&p[summary]=Mi+perfil" target="_blank">Compartir</a>
            </p>
          </div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://exploiter.co/accounts/{{ user.username }}/" data-text="Acabo de aprender {{quiz.course_class}} en @ExploiterCo" data-size="large" data-related="ExploiterCo" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <h3>{{quiz.course_class}}</h3>
      </div>
    </li>
    {% endif %}
    {% if last_class %}
    <li>
      <div class="win">
        <h3>¡DESBLOQUEASTE UNA NUEVA CLASE!</h3>
        <div class="img" >
          <img src="{{MEDIA_URL}}{{ last_class.image}}">
        </div>
        <h3>{{last_class.name}}</h3>
      </div>
      <div class="backQuiz">
        <a style="text-align:center;width:25%;" href="{% url "clase" quiz.course_class.course.slug last_class.slug %}">Siguiente clase</a>
      </div>
    </li>
    {% endif %}
  </ul>

  <!-- Timer and Play/Pause Button -->
  <div class="orbit-timer">
    <div class="orbit-progress"></div>
  </div>
</div>

  </div>
  </div>
  </div>

  {% else %}
  <div class="descripResult">
    <div class="donutResult">
      <ul data-equalizer-watch>
        <div id="donutR" style="height: 210px;"></div>
        {% if sitting.check_if_passed %}
          <p>
            Aprobado con {{sitting.get_percent_correct}}%
          </p>
        {% else %}
          <p>
            Reprobado con {{sitting.get_percent_correct}}%
          </p>
        {% endif %}
      </ul>
    </div>
    <div class="questionResult">
    <h3>PREGUNTAS INCORRECTAS</h3>
  {% if incorrect_content %}
      {% for question in incorrect_content %}
        <p class="incorrectQuestions">
		    {{ question.content }}
	      </p>
      {% endfor %}
  {% else %}
      <h4>0</h4>
  {% endif %}
  </div>
  <div class="backQuiz">
    <a  href="{% url "clase" quiz.course_class.course.slug quiz.course_class.slug %}">Volver a la clase</a>
  </div>

  </div>
  {% endif %}
<script type="text/javascript">
 Morris.Donut({
   element: 'donutR',
   data: [
     {label: "Respuestas correctas", value: {{sitting.get_current_score}}},
     {label: "Respuestas incorrectas", value: {{sitting.get_incorrect_questions|length}}},
   ],
   colors: ["#05AA50", "#3C746C"]
 });
</script>

{% endblock %}

{% block custom-javascript %}
{% load static from staticfiles %}
  {% if sitting.check_if_passed %}
    <script src="{% static 'js/foundation/foundation.js' %}"></script>
    <script src="{% static 'js/foundation/foundation.orbit.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <script src="{% static 'js/foundation.min.js' %}"></script>
    <script>
          $(document).foundation({
  orbit: {
    animation: 'slide',
    pause_on_hover: true,
    timer_speed: 2000,
    animation_speed: 500,
    resume_on_mouseout: false,
    preloader_class: 'preloader',
    slide_number:false,
    navigation_arrows: false,
    bullets: true
  }
});
        </script>

  {% endif %}

{% endblock %}
