{% extends "base_quiz.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}


{% if user.is_authenticated %}
  <p>Ya has tomado el exámen, recuerda que solo puedes tomar cada exámen una sola vez.</p>
{% else %}
  <p>El exámen es accesible solo para usuarios registrados</p>
{% endif %}


{% endblock %}

