<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Preguntas mas equivocadas</title>
  </head>
  <body>
    <table>
      {% for course in courses %}
        <tr>
          <th>
            <span style="color:red;">{{ course.name|upper }}</span>
          </th>
        </tr>
        {% for question in WrongQuestions %}
            {% if question.quiz.first.course_class.course == course %}
            {% for value_question in list_value_questions%}
              {% if value_question.id == question.id %}
                <tr>
                  <th>
                    {{ value_question.value }}
                  </th>
                  <th>
                    {{ question.content }}
                  </th>
                  <th>
                      {{ question.quiz.first.title }}
                  </th>
                </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
        {% endfor %}
      {% endfor %}
    </table>
  </body>
</html>
