{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}Cancelar suscripción :({% endblock %}
   
{% block content %}
    <form class="editProfile" action='' method='POST'>
    <fieldset>
     <nav class="top-bar" data-topbar role="navigation"> <ul class="title-area">
 <li class="name"> <h1><a nohref>¿Estas seguro de cancelar la suscripción?</a></h1> </li> </ul>  </nav>
    <hr>
     {% csrf_token %}
     <div class="row">
      <p style="text-align: center;" >
        <input type='submit' value='Cancelar suscripción'>
        <a class="custom-button" href='/cursos'>Cursos</a>
      </p>
        </div>
      <fieldset>
    </form>

{% endblock %}