{% extends "base.html" %}
{% block title %}Exploiter.co - {{article.title}}{% endblock %}
{% block content %}
<a class="goBack" type="button" href="{% url "clase" course_url class_url %}"><img class="back" src="/static/img/back.png"> Volver</a>
            <section class="inset">
                  <section class="material classDetail">
                      <article class="material-item" style="margin-top: 0em;">
                          <h4 class="fancy-text-bold">{{article.title}}</h4>
                          <p style="color: #a4a4a4;">{{article.content|safe}}</p><br>
                      </article>
                  </section>
            </section>
<div class="navigation_class">
              <h3>Material</h3>
                  {% if not if_first_classes %}
                    <a class="after" href="{% if url_previous_class %} {{ url_previous_class }} {% endif %}"></a>
                    {% endif %}
                {% if not if_last_classes %}
                    <a class="before" href="{% if url_next_class %} {{ url_next_class }} {% endif %}"></a>
                {% else %}
                  {% if 'cursos' in if_last_classes %}
                    <a class="before" href="{{ if_last_classes }}"></a>
                  {% endif %}
                {% endif %}            </div>
{% endblock %}
