{% extends "base.html" %}
{% block hot %}{% endblock %}
{% block menu %}{% endblock %}
{% block content %}

    <!-- Tab Buttons -->
    <div class="container-fluid">
        <div class="row">
            <ul class="nav nav-tabs nillplay-blog-tab phone-tab-button">
                <li class="active">
                    <a href="#tab1">
                        <i class="fa fa-file-text play-tab-fa"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    
        
    <!-- Blog Loop -->
    <div class="container-fluid">
        <div class="row play-container-post pt30 pb30">
            <div class="col-xs-12 col-sm-12 col-md-12 pl30 pr30">
                <div class="tab-content">
    				<div  class="tab-pane active" id="tab1">
                        <div class="row">
                        {% for article in articles %}                   
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="nillplay-blog-featured-image" style="max-height:200px;">
                                    <div class="nillplay-postformat-pictitle">
                                        <h1><a href="http://www.nilltheme.com/live/play/cindy-doe-biography/" rel="bookmark" title="Cindy Doe Biography">{{article.title}}</a></h1>
                                    </div>           
       	                                <img src="{{MEDIA_URL}}{{article.image}}" alt="img04">            
                                    <div class="nillplay-post-format-icon">
                                        
                                        <div class="nillplay-postformat-select">
                                            <i class="fa fa-file-text"></i>
                                        </div>
                                        <div class="nillplay-postformat-select-two">
                                            <a href="http://www.nilltheme.com/live/play/wp-content/uploads/2014/02/nillplay-c15.jpg" class="fancybox"><i class="fa fa-expand"></i></a>
                                                                                    </div>
                                        <div class="nillplay-postformat-title">
                                            <h6><a href="http://www.nilltheme.com/live/play/cindy-doe-biography/">{{article.title}}</a></h6>
                                        </div>                                 
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}                                       
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>
    
            
                        
    <!-- Page Navi -->
    <div class="container-fluid">
        <div class="row play-share-container">
            <div class="col-xs-12 col-sm-12 col-md-12 pl30">
                <div class="pagination nillplay-pagenavi pull-left">
                    <ul class="page_navi">
	<li class="current"><span>1</span></li>
	<li class="after delta-1"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/2/">2</a></li>
	<li class="after delta-2"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/3/">3</a></li>
	<li class="after delta-3"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/4/">4</a></li>
	<li class="after delta-4"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/5/">5</a></li>
	<li class="after delta-5"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/6/">6</a></li>
	<li class="after delta-6 tail"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/7/">7</a></li>
	<li class="next"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/2/">&gt;</a></li>
	<li class="last"><a href="http://www.nilltheme.com/live/play/blog-page-no-sidebar/page/12/">Last</a></li>
	<li class="page_nums"><span>1/12</span></li>
</ul>
                </div>
            </div>   
        </div>
    </div>
    
  
    
    <div class="container-fluid">
        <div class="row">
        <div class="nillplay-footer">
            
            <div class="col-xs-12 col-sm-4 col-md-4 pl30">
                <div class="nillplay-footer-logo">
                    <img src="http://www.nilltheme.com/live/play/wp-content/uploads/2014/02/footer-logo.png" alt="" />
                </div>
            </div>
            
                        <div class="col-xs-12 col-sm-8 col-md-8 pr30">
                
                <div class="nillplay-footer-social pull-right">
                    <ul>
                                            <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        </ul>
                </div>
                
            </div>
                    </div>
        </div>
    </div> 

    </div>
    <div class="clearfix"></div>
{% endblock %}
{% block footer %}{% endblock %}