<form action="/examenes/{{ quiz.url }}/take/" method="get">

	
<table class="table table-hover table-bordered" id="answerchoice">
<tbody>


{% for answer in answers %}
	<tr>
		<td>
		    	<label>
			    	<input type="radio" name="guess" value="{{ answer.id }}" class="form-radio">
			    	{{ answer.content }}
		    	</label>
		</td>
    </tr>
{% endfor %}
</form>
</tbody>
</table>
<input type="submit" value="Check" class="btn btn-large btn-block btn-warning">
