
{% if user_was_incorrect %}
    
	<div class="alert alert-error">		
		<strong>Respondiste la pregunta incorrectamente</strong><br><br>	
	</div>
    	
    
{% endif %}

<table class="table table-striped table-bordered">
<tbody>
{% for answer in answers %}
    
    {% if answer.correct %}
    	
	<tr class="success">
    	<td>{{ answer.content }}</td> <td><strong>Respuesta correcta</strong></td>

    {% else %}
    <tr>
    	<td>{{ answer.content }}</td><td></td>
    	
    {% endif %}
	</tr>
{% endfor %}

</tbody>
</table>
