{% extends "base.html" %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}
{% if previous %}
	
        <p class="muted"><small>Pregunta anterior:</small></p> 
        <p>{{ previous.previous_question }}</p>
        
        {% ifequal previous.previous_outcome 'correct' %}
			<div class="alert alert-success">
		{% else %}
			<div class="alert alert-error">
		{% endifequal %}
		    </div>
		    
			{% correct_answer previous %}
		        
		    
<hr>
	
{% endif %}<br />


{% if question %}

    	<p><strong>{{ question.category }}</strong></p>
        <p class="lead">{{ question.content }}</p>
		{% answers_for_question question quiz %}
		
{% endif %}
    
    <hr>

{% endblock %}
