{% extends 'base.html' %}
{% block title %}All Quiz{% endblock %}

{% block content %}
<h2>Examenes</h2>
    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            <li><a href="{% url "quiz_take" quiz.url %}">{{ quiz.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Aun no hay examenes.</p>
    {% endif %}
{% endblock %}

{% block right-sidebar %}
<h2>Sponsored Advertisements</h2>
{% endblock %}
