{% extends "base.html" %}

{% load quiz_tags %}

{% block title %} Exam Paper Result {% endblock %}
{% block description %} Exam Results {% endblock %}

{% block content %}


{% if previous %}
	
        <p class="muted"><small>Pregunta anterior:</small></p> 
        <p>{{ previous.previous_question }}</p>
        <p>Tu respuesta fue <em>{{ previous.previous_answer }}</em> y es <strong>{{ previous.previous_outcome }}</strong></p>
		{% correct_answer previous %}
        <p><strong>Explicación:</strong></p>
        <div class="well " style="background-color: #fcf8e3;">
        	<p>{{ previous.previous_question.explanation }}</p>
        </div>
<hr>
	
{% endif %}

{% if score %}
    	
    	<div>
	    	<h2>Resultado</h2>
	    	<p><strong>{{ quiz.title }}</strong></p>
	    	
	        <p class="lead">Respondiste correctamente {{ score }} preguntas de {{ max_score }}, obteniendo una calificación de {{ percent }}</p>
	        
	        <p>Recuerda que puedes realizar el examen las veces que quieras y perfeccionar tu conocimiento</p>
        </div>
        
		    	    
{% endif %}

    
    <hr>
    
{% if session and possible %}
    
    <p class="lead">Your session score is {{ session }} out of a possible {{ possible }}</p>
        
    <hr>
    
{% endif %}
    
{% if questions %}
    
    	{% for question in questions %}
    	
    		<p class="lead">{{ question.content }}</p>
    		{% correct_answer_for_all_with_users_incorrect question incorrect_questions %}
    		    	
    	{% endfor %}
    
{% endif %}


{% endblock %}
