{% extends 'base.html' %}
{% block title %}Quizzes related to {{ category.category }}{% endblock %}

{% block content %}
    {% if quizzes %}
    <h1>Quizzes in {{ category.category }}</h1>
        <ul>
        {% for quiz in quizzes %}
            <li><a href="{{ BASE_URL }}/quiz/{{ quiz.url }}">{{ quiz.title }}</a></li>
            asd
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no quizzes.</p>
    {% endif %}
{% endblock %}
