{% extends "base_accounts.html" %}
{% load static %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done" >Registro</li>
        <li class="funnel-list done in" ><a href="{% url 'trial_poll' %}">Encuesta</a></li>
        <li class="funnel-list last prox" ><a href="{% url 'trial_thanks' %}" >Activación</a></li>
    </ul>
</section>
<section style="height: 100%; padding-top: 3%;" class="referral-cont" >
    <h3>Ayúdanos a entender mejor tus necesidades y lo que quieres aprender</h3>
    <article style="margin-top:20px" class="large-11 large-centered columns">
    <div id="Payment" style="margin-top: 35px;">
        <div class="row purchaseData" style="max-width: 73.5rem;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action=".">{% csrf_token %}
           <div class="large-5 large-centered columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <b>¿Te gustaría dedicarte profesionalmente al Hacking y tener un empleo increíble defendiendo o atacando la seguridad de una empresa?</b>
                    <label style="margin-top:15px" >
                      {{ form.dedicate_to_the_hacking.errors }}
                      {{ form.dedicate_to_the_hacking|escape }}
                    </label>
                </label>
            </div>
            <div class="large-5 large-centered columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <b>¿Qué nivel de estudios tienes?</b>
                    {{ form.level_of_study.errors }}
                    {{ form.level_of_study|escape }}
                </label>
            </div>
            <div class="large-5 large-centered columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    <b>¿Qué cursos o temas adicionales te gustaría que tuviéramos en la plataforma?</b>
                    {{ form.courses.errors }}
                    {{ form.courses|escape }}
                </label>
            </div>
            <div class="large-12 columns" style="text-align:center">
            <input type="submit" value="Enviar" class="button [tiny small large]" style="font-size: 16px;">
            </div>
        </form>
      </div>
</article>

</section>

{% endblock %}
{% block custom-javascript %}

{% endblock %}
