{% extends "base_accounts.html" %}
{% load static %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done" >Registro</li>
        <li class="funnel-list done" ><a href="{% url 'trial_poll' %}">Encuesta</a></li>
        <li class="funnel-list last in done" ><a href="{% url 'trial_thanks' %}" >Activación</a></li>
    </ul>
</section>
<section style="height: 100%; padding-top: 10%;" class="referral-cont" >

   <div class="large-6 columns large-centered" >
       <p> ¡Excelente! Empieza ya mismo con nuestros cursos profesionales. #HappyHacking </p>
       <div class="large-5 columns large-centered button-blue " >
           <a href="{% url 'courses' %}" >Ir a los cursos</a>
       </div>
   </div>

</section>

{% endblock %}
{% block custom-javascript %}

{% endblock %}
