{% extends "base_accounts.html" %}
{% load static %}
{% block menu %}
<ul class="nav-bar white" id="nav">
        <li>¿YA TIENES UNA CUENTA? <a href="{% url "trial_poll" %}"> <u> ENTRA AQUI </u> </a></li>
</ul>

{% endblock %}
{% block content %}

<section class="arrow-nav" >
    <ul>
        <li class="first done in" >Registro</li>
        <li class="funnel-list prox" ><a href="{% url 'trial_poll' %}">Encuesta</a></li>
        <li class="funnel-list last" ><a href="{% url 'trial_thanks' %}" >Activación</a></li>
    </ul>
</section>
<section style="height: 100%; padding-top: 3%;" class="referral-cont" >

    <h3>Accede gratis a todos nuestros cursos por 7 días</h3>
    <p>En tan solo 3 sencillos pasos</p>
    <article class="large-8 large-centered columns">
    <article style="margin-top:5px" class="large-6 columns">
    <div id="Payment">
        <div class="row purchaseData" style="max-width: 73.5rem;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="/signup/">{% csrf_token %}
          <div class="row" style="width: 100%;">
              <div class="large-12 large-centered columns">
                  <div class="content-redes">
                      <a class="redes facebook signup" href='{% url 'social:begin' 'facebook'%}'>Registrarme con Facebook</a>
                  </div>
              </div>
              <div class="or">
                  <hr>
                  <p style="background: #fff;" >O</p>
              </div>
          </div>
          <div class="large-6 columns">
              <label class="labelPayment input_trial">
                  <input class="required" id="id_first_name" maxlength="30" placeholder="Nombre" name="first_name" type="text" required />
              </label>
          </div>
          <div class="large-6 columns">
              <label class="labelPayment input_trial">
                  <input class="required" id="id_last_name" maxlength="30" placeholder="Apellido" name="last_name" type="text" required />
              </label>
          </div>
            <div class="large-12 columns">
                <label class="labelPayment input_trial">
                    <input class="required" id="id_email" maxlength="30" placeholder="Email" name="email" type="text" required />
                </label>
            </div>
            <div class="large-12 columns">
                <label class="labelPayment input_trial">
                    <input class="required" id="id_username" maxlength="30" placeholder="Usuario" name="username" type="text" required />
                </label>
            </div>
            <div class="large-12 columns">
                <label class="labelPayment input_trial">
                    <input style="margin:0;" type="password" required id="id_password1" name="password1" placeholder="Tu contraseña">
                </label>
            </div>
            <div class="large-12 columns" style="text-align:center;margin-top: 10px;">
              <div class="content_submit">
                  <input id="signup-button" type="submit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;">
              </div>
            </div>
        </form>
      </div>
</article>
<article style="margin-top:10px" class="large-6 columns">
    <div style="margin-bottom: 20px;" class="large-12 columns">
        <div class="large-11 large-rigth pull-right columns text-left">
            <p class="text-full-left  fa-check-circle-o" >7 días de suscripción profesional por $0 y sin necesidad de tarjeta de crédito</p>
        </div>
    </div>
    <div style="margin-bottom: 20px;" class="large-12 columns">
        <div class="large-11 large-rigth pull-right columns text-left">
            <p class="text-full-left  fa-check-circle-o" >Conoce como funcionan nuestros increíbles cursos accediendo a las 4 primeras clases de cada uno</p>
        </div>
    </div>
    <div style="margin-bottom: 20px;" class="large-12 columns">
        <div class="large-11 large-rigth pull-right columns text-left">
            <p class="text-full-left  fa-check-circle-o" >Recibe todos los beneficios de un miembro de nuestro plan profesional, por 7 días</p>
        </div>
    </div>
</article>
</article>

</section>

{% endblock %}
{% block custom-javascript %}

{% endblock %}
