@font-face {
	font-family: 'icomoon';
	src:url('fonts-website/icomoon.eot?p499t6');
	src:url('fonts-website/icomoon.eot?#iefixp499t6') format('embedded-opentype'),
		url('fonts-website/icomoon.woff?p499t6') format('woff'),
		url('fonts-website/icomoon.ttf?p499t6') format('truetype'),
		url('fonts-website/icomoon.svg?p499t6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-size: 22px;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gift:before {
	content: "\e600";
	font-size: 84px;
	color: #a4a4a4;
	display: inline-block;
	padding-bottom: 20px;
}
.icon-facebook:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
