@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

*{
  margin: 0px;
}

input[type="text"], input[type="email"], input[type="password"]{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}


body
{
  background-color: #f5f5f5;
  font-family: "Ubuntu";
  letter-spacing: 0.02rem;
}
#wrapper {
  padding-left: 90px;
  transition: all 0.4s ease 0s;
}

body .reveal-modal-bg{
  background: none;
}

body .index-header{
  height: 0px;
  padding-bottom: 0px;
  background: #ffffff;
  color: #aaa;
}

body .index-header .logo{
  padding-top: 0.5em;
}

body .index-header .logo img{
  width: 58px;
}

body .index-header ul{
  margin-bottom: 0px;
}

body .index-header .nav-bar li a{

  color: #aaa;
}

.forgot:before {
    content: "\f119";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #008cba;
    /*-- border: 1px solid #008cba;
    border-radius: 1000px;
    padding: 1px 4px; --*/
    font-size: 15px;
    margin-right: 5px;
}

.purchaseData input, input[type="email"], input[type="password"], select, .tabs{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.purchaseData .button{
  background: #5fcf80;
  border-radius: 5px;
  margin: 0 auto;
  border-bottom: 3px #3ac162 solid;
}

.purchaseData input:focus{
  border-color: #3ab54b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.row .formStep{
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  line-height: 30px;
  margin: -2px 10px 0 -40px;
  position: relative;
  text-align: center;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-bottom: 3px #3ac162 solid;
}
form hr {
border-color: #e4ecee;
margin-top: 20px;
margin-bottom: 30px;
}

.row_welcome{
  width: 50%;
  margin: 3% auto 4%;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: #565656;
}

.row_welcome h2{
  color: #565656;
  padding-bottom: 20px;
}

.row_welcome p{
  font-size: 1.1em;
  margin-bottom: 0;
}

.classDetail{
  width: 75%;
}

.accordion .accordion-navigation .down{
  display: block;
  position: absolute;
  margin-left: 60%;
}

.accordion .active .down{
  display: none;
}

.accordion .accordion-navigation .up{
  display: none;
}

.accordion .active .up{
  display: block;
  position: absolute;
  margin-left: 60%;
}

.classDetail #nameGlossary{
  background: yellow;
  border-radius: 8px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 80px;
  background: #222326;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-align: center;
}

.sidebar-nav .logout{
  margin-top: 250%;
}

.sidebar-nav li a label{
  color: #999999;
  font-weight: 600;
}

.sidebar-nav ul li a:hover{
  font-color: #d5d5d5;
}

.sidebar-nav li a {
  padding: 1em 0;
  color: #999999;
  display: block;
  text-decoration: none;
  transition: color 0.3s;
}

.sidebar-nav li a:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.sidebar-nav > .user-img
{
  margin-top: 9em;
}
.sidebar-nav > .user-img img
{
  border-radius: 50%;
  width: 40px; 
}

.top-bar.menu{
  background: none;
  width: 55%;
  float: right;
  height: 6rem;
}

.top-bar.menu .top-bar-section .top-nav
{
  text-align: right;
  list-style: none;
  margin: 1em 6em 0 0;
  height: 10px;
}

.top-bar.menu .top-bar-section .top-nav li .notificacion:before {
    content: "\f0f3";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #c7c7c7;
    text-decoration: none;
    font-size: 22px;
    padding-right: 0.5em;
    position: absolute;
    top: 13px;
    left: 10px;
}

.top-bar.menu .top-bar-section .top-nav .noti{
  position:relative;
  margin-left: 5px;
  text-decoration: none;
  vertical-align: top;
}

.top-bar.menu .top-bar-section .top-nav .noti a{
  display: block;
  height: 50px;
  width: 52px;
}

.top-bar.menu .top-bar-section .top-nav li .notificacion:hover:before{
  color: #b3b3b3;
}

.top-bar.menu .top-bar-section .top-nav .noti .notificacion #num_notifications{
  width: 21px; height: 21px; text-align: center; background: none repeat scroll 0 0 #E02424; border-radius: 3px 3px 3px 3px; color: #FFFFFF; font: bold 0.9em Tahoma,Arial,Helvetica; padding: 2px 4px; position: absolute; right: 3px; top: 0;
}

.top-bar.menu .top-bar-section #notificaciones{
  display: none;
  position: absolute;
  height: 460px;
  z-index: 4;
  width: 21em;
  top: 80px;
  right: 16px;
  background: #fff; 
  border: 4px solid #e7e7e7; 
  border-radius: 8px;
  padding: 10px;
} 

.top-bar.menu .top-bar-section #notificaciones .notificaciones{
  padding-right: 10px;
  overflow: auto;
  height: 430px;
  width: 336px;
}

.top-bar.menu .top-bar-section #notificaciones:after, .top-bar.menu .top-bar-section #notificaciones:before { 
  bottom: 100%; 
  left: 67%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; } 
.top-bar.menu .top-bar-section #notificaciones:after { border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 15px; margin-left: -15px; } 
.top-bar.menu .top-bar-section #notificaciones:before { border-color: rgba(199, 199, 199, 0); border-bottom-color: #e7e7e7; border-width: 21px; margin-left: -21px; }

.top-bar.menu .top-bar-section #notificaciones span .descript{
  width: 75%;
  display: inline-block;
}

.top-bar.menu .top-bar-section #notificaciones span .img{
  width: 25%;
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
}

.top-bar.menu .top-bar-section #notificaciones span .New{
  font-size: 13px;
  color: #8d9aa5;
  font-weight: bold;
  display: inline-block;
  width: 51%;
  margin: 0;
}

.top-bar.menu .top-bar-section #notificaciones span .time{
  font-size: 13px;
  color: #8d9aa5;
  display: inline-block;
  width: 49%;
  text-align: right;
  margin: 0;
}

.top-bar.menu .top-bar-section #notificaciones span .nameMaterial{
  margin: -8px 0 0;
  color: #657380;
  font-weight: bold;
  font-size: 15px;
  padding-left: 5px;
}

.top-bar.menu .top-bar-section #notificaciones span .nameCourse{
  font-size: 14px;
  color: #8d9aa5;
  display: inline-block;
  padding-left: 5px;
}

.top-bar.menu .top-bar-section .top-nav li
{
  display: inline-block;
  background: none;
  margin-left: 5px;
}
.top-bar.menu .top-bar-section .top-nav li .nameUser
{
  margin-top:6px;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  color: #565656;
  padding:1.3rem 1rem 0 1rem;
}

.split.button span:after {
      border-top-style: solid;
      border-width: 0.375rem;
      top: 40%;
      margin-left: -0.375rem;
    border-color: #ccc transparent transparent transparent; }

.menu .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 0.9375rem;
      line-height: 2.2125rem;
      color: #565656;
      background: transparent; }

.menu .top-bar-section .bullet-item .custom-button.registrarme{
  color: #fff;
  background: #008cba;
  font-weight: bold;
  padding: 0.2em 1.8em;
}

.menu .top-bar-section .bullet-item .custom-button.registrarme:hover{
  color: #fff;
  background: #0079a1;
  text-decoration: none;
}

.menu .top-bar-section li:not(.has-form) a:not(.button):hover{
  background: transparent;
  color: #565656;
  text-decoration: underline;
}

.split.button span {
    border-left-color: #f5f5f5; }

.top-bar.menu .top-bar-section .top-nav li .nameUser:hover
{
  background: #e8e8e8;
  color: #565656;
}

.menu .top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
          color: #565656;
          display: block; }

.top-bar.menu .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: #565656;
        background: #fff; }

.top-bar.menu .top-bar-section .top-nav li.has-dropdown a:active{
  background: none;
}

.top-bar.menu .top-bar-section .top-nav li.has-dropdown a:after{
  border-color: rgba(178, 178, 178, 0.8) transparent transparent transparent;
  margin-top: 8.5px;
}

.top-bar.menu .top-bar-section .top-nav li img{
  width: 60px;
  border-radius: 1000px;
}

.top-bar.menu .top-bar-section .top-nav li ul.f-dropdown li{
  width: 100%;
  text-align: left;
}

.content-header 
{
  height: 35px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 60px;
  line-height: 65px;
  display: inline-block;
}

.custom-button
{
  background: #008cba;
  border-radius: 5px;
  border-bottom: 3px #0079a1 solid; 
  color: #f9f9f9;
  font-weight: bold;
  padding: 0.4em 1.8em;
  text-decoration: none;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.custom-button:hover
{
  color: #f9f9f9;
  background-color: #0079a1;
}
#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}
.fancy-text-bold
{
  color: #565656;
  font-weight: bold;
}
.fancy-text
{
  color: #565656;
}

.fancy-text.see{
  position: relative;
}

.material.classDetail .material-item .material-text .fancy-text.see.yup:after {
    color: rgb(5, 170, 80);
}

.material.classDetail .material-item .material-text .fancy-text.see:after {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #ccc;
    font-size: 20px;
    padding-right: 0.5em;
    position: absolute;
    top: 5px;
    left: 96%;
}

.inset .navigation_class{
  width: 23%;
  float: right;
  padding: 25px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: #fff;
  margin-right: 10px;
}

.inset .navigation_class h3{
  margin: 0 0 25px;
  color: #545454;
  font-family: "Ubuntu";
  text-align: center;
}

.inset .navigation_class h5{
  margin: 15px 0 0;
  color: #545454;
  font-family: "Ubuntu";
  text-align: center;
  width: 25%;
  margin-left: 15%;
  float: left;
}

.inset .navigation_class .after, .before{
  position: relative;
}

.inset .navigation_class .before.firts{
  margin-left: 50%;
}

.inset .navigation_class .after:before {
    content: "\f060";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding: 8% 15%;
    margin-left: 13%;
    background: #ccc;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
}

.inset .navigation_class .before:before {
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding: 8% 15%;
    background: #ccc;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;

}

.inset .row .courses_status{
  font-family: "Ubuntu";
  font-size: 18px;
  color: #545454;
  font-weight: 500;
  line-height: 1.3;
  padding-left: 0.9275rem;
}

.course-banner
{
  overflow: hidden; 
}
.course-banner .text
{
  width: 75%;
}
.course-banner .img
{
  text-align: center;
  width: 25%;
}
.container
{
  border-radius: 6px; 
  background-color: #304a59;
  overflow: hidden;
  color: #fff;
  padding: 1.5em 1em;
}
.container .caja1
{
  float: left;
  width: 80%;
}

.containerClass .caja1 .showBadges{
  font-size: 17px;
  width: 25%;
  display: block;
  margin: -20px auto 16px;
  text-decoration: underline;
  text-align: center;
}

.container .caja1 h2
{
  color: #fff;
  font-weight: bold;
}
.containerClass .caja2
{
  margin: 0 auto;
  text-align: center;
  width: 21.33%;
}
.comment
{
  border-bottom: 1px #efefef solid;
  margin-top: 2em;
  overflow: hidden;
  padding: 1em;
}

.material
{
  float: left;
  overflow: hidden;
  margin-bottom: 2em;
}


.courseMaterial{
  width: 100%;
}

.classes{
  margin: 0 auto;
}

.Advanced
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

.Basic
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

.hrCourses{
  border: solid #008cba;
  border-width: 7px 0 0;
  background: #f5f5f5;
  width: 45%;
  margin: 708px auto 0;
  padding-bottom: 25px;
}

.hrCourses:before{
  background: #008cba;
  content: "";
  height: 17%;
  position: absolute;
  width: 7px;
}

.Advanced .box
{
  width: 35%;
  margin: 0% auto 4% auto;
}

.Basic .box
{
  width: 35%;
  margin: 3% auto 0% auto;
  background: #f6f6f6;
}

.Basic:after
{
  background: #008cba;
content: "";
height: 15.8%;
position: absolute;
top: 93.5%;
width: 7px;
margin-left: 48.5%;
z-index: -1;
}

.Advanced:before
{
 background: #008cba;
 bottom: 100%;
 content: "";
 height: 50px;
 position: absolute;
 width: 7px;
 margin-left: 48.5%;
}

.Intermediate
{
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 35%;
  margin-left: 10%;
  float: left; 
  position: relative;
  margin-bottom: 3%;
}

.pricing-table .description{
  height: 80px;
}

.pricing-table .description h5{
  margin-top: 6%;
}

.FirstInter
{
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 35%;
  margin-left: 10%;
  float: left; 
  position: relative;
  margin-bottom: 1.75em;
  margin-top: 3%;
  background: #f5f5f5;
}

.L:before{
  background: #008cba;
bottom: 100%;
content: "";
height: 18.1%;
position: absolute;
width: 7px;
margin-left: 43.8%;
}

/*Clases*/

.classArticle{
  width: 30%;
  min-height: 290.238px;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  float: left;
}

.classArticle .descrip img{
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
  display: table;
  padding-top: 5px;
  margin: 0 auto;
  height: 110px;
  width: 110px;
}

.classArticle .descrip{
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  height: 262px;
}

.classArticle .descrip h4{
  text-align: center;
  font-size: 18px;
  padding: 0 2px;
}

.classArticle .descrip .pricing-table {
  border: none;
  margin-bottom: 0;
  margin-top: 10px;
}

.classArticle .descrip .pricing-table .bullet-item {
  border: none;
}


.classArticle .descrip .enter-button{
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

.classArticle .descrip .enter-button a{
  color: #808285;
  border: 2px solid #CECECE;
  padding: 0;
  padding: 3px 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.classArticle .descrip p{
  text-align: justify;
  color: #808285;
  font-size: 14px;
  font-weight: normal;
  line-height: 1rem;
  margin: 0 20px;
}

.headerClass{
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.headerClass img{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.headerClass p{
  font-size: 14px;
  color: #fff;
  border: 1px solid #C1C1C1;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  float: right;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.basicColor{
  background: #39B54A;
}

.basicColor p{
  padding-top: 1px;
  padding-right: 30px;
  padding-left: 30px;
}

.intermediateColor{
  background: #3079AB;
}

.intermediateColor p{
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.advancedColor{
  background: #B73130;
}

.advancedColor p{
  padding-top: 1px;
  padding-right: 18px;
  padding-left: 18px;
}

.containerClass{
  background: #fff;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.containerClass .caja1 .percentage{
  display: block;
  margin-top: -21.5px;
  text-align: center;
  color: #fff;
}

.bannerUserProfile{
  margin: 10px auto 10px;
  width: 60%;
  background: #fff;
  display: table;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.bannerUserProfile img{
  display: block;
  margin: 20px auto 20px;
  width: 70%; 
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.bannerUserProfile p{
  color: #525252;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 2;
  font-family: "Ubuntu";
  font-size: 18px;
}
.bannerUserProfile h6{
  color: #525252;
  margin-bottom: 10px;
  font-family: "Ubuntu";
  font-size: 18px;
}

.bannerUserProfile a{
  font-size: 13px;
  display: table;
  margin-bottom: 10px;
  margin-top: 20px;
}

.bannerUserProfile .points{
  border-radius: 1000px;
  border: 2px solid #f5f5f5;
  width: 100px;
  height: 100px;
  margin: 25% auto;
}

.bannerUserProfile .points:hover{
  background: #f5f5f5;
}

.bannerUserProfile .points p{
  width: 89px;
  text-align:center;
  margin: 18px 0 0 5px;
  line-height: 1.5;

}

.bannerClass{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 42%;
  margin-top: 30px;
}

.bannerClass.bannerBadgeCourse{
   margin-top: 15px;
}

.containerClass .caja2 img{
  display: table;
  padding-top: 5px;
  margin: 0 auto;
}

.containerClass .caja1 h4{
  color: #525252;
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
}

.containerClass .caja1 b{
  padding-right: 10px;
  font-size: 20px;
}

.containerClass .caja1 p{
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 18px;
}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border-bottom: 3px solid #0079A1;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
  background: #008cba;
  border-bottom: 3px #0079a1 solid;
  text-shadow:0 1px 1px rgba(0,0,0,0.5);
  transition: background-color 0.5s;
}

.btn:hover {
  background: #03699c;
  color: #fff;
  text-decoration: none;
}

.menu .top-bar-section .top-nav.right .bullet-item .sup{
  color: #008cba;
  padding: 15px 0 0;
}

.menu .top-bar-section .top-nav.right .bullet-item .sup:hover{
  color: #008cba;
}


.Intermediate:before
{
  background: #008cba;
bottom: 100%;
content: "";
height:49px;
position: absolute;
width: 7px;
margin-left: 44.5%;
}

.material-item
{
  border-radius: 8px;
  margin-top: 2em;
  background-color: #fff;
  overflow: hidden;
  padding: 1em;
}

.material-item .img
{
  float: left;
  width: 10%;
  text-align: center;
}
.material-item .img img
{
  border-radius: 50%; 
}
.material-item .material-text
{
  float: left;
  width: 90%;
}
.all-materials
{
  text-align: center;
}
.instructor
{
  text-align: center;
  float: left;
  margin: 2.8em 2.5% 0 2.5%;
  width: 20%;
}
.instructor .instructor-info img
{
  border-radius: 50%;
}

.inset .goBack{
  color: #008cba;
}
.inset .back{
  height: 24px;
  width: 28px;
  margin-bottom: 2px;
}



/*Video Class*/

div .tabs .tab-title{
  border: 2px solid #f9f9f9;
}

div .tabs .tab-title.active a{
  background: #EFEFEF;
  color: #565656;
}

div .tabs .tab-title a{
  background: #fff;
  font-weight: bold;
  color: #565656;

}

.tabs .tab-title > a{
  padding: 0.5rem 1rem;
}

.tabs-content .content.active p{
  color: #a4a4a4;
}

.tabs-content .content.active .accordion .accordion-navigation.active div{
  color: #a4a4a4;
}

.accordion .accordion-navigation .down{
  display: block;
  position: absolute;
  margin-left: 92%;
}

.accordion .active .down{
  display: none;
}

.accordion .accordion-navigation .up{
  display: none;
}

.accordion .active .up{
  display: block;
  position: absolute;
  margin-left: 92%;
}

.classDetail #nameGlossary{
  background: yellow;
  border-radius: 8px;
}

/*-- Labs - Videoclass --*/
.labs{
  width: 100%;
  margin: 45px 0 0;
  height: 0;
  overflow: hidden;
  transition: height 1s;
}

.labs.visible {
  height: 530px;
}

.labs h4{
  text-align: center;
  color: #565656;
  font-weight: bold;
  font-family: "Ubuntu";
  margin-bottom: 20px;
}

.labs iframe{
  width: 100%;
  height: 500px;
}

.flex-video.vimeo.fixed-lab{
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 24%;
  z-index: 4;
}

.flex-video.vimeo.fixed-lab iframe{
  width: 100% !important;
  height: 35% !important;
}

.showL{
  text-align: center;
  margin-top: 2em;
}

.showLab {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  background: #1186c4;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  font-weight: bold;
}

.showLab:hover {
  background: #2785b5;
  text-decoration: none;
  cursor: pointer;
}





/*Quiz*/

.cinta_content{
  position: relative;
  display: block;
  text-align: center;
}

.cinta:before { margin-top:0.5em; /* hacemos que el elemento coincida con la cinta */ content: ""; /* el elemento va a estar vacío */ position: absolute; left: 34%; border:1em solid #f7cd26; /* los bordes definirán el tamaño del elemento y el color de fondo */ } .cinta:after{ margin-top:0.5em; /* hacemos que el elemento coincida con la cinta */ content: ""; /* el elemento va a estar vacío */ float:left; border:1em solid #f7cd26; /* los bordes definirán el tamaño del elemento y el color de fondo */ position: absolute; top: 0; left:62.3%; } .cinta:after { /* al indicar que el borde derecho sea transparente hará que parezca que le falta un triángulo */ border-right-color:transparent; } .cinta:before { border-left-color:transparent; } .cinta span { background:#ffd204; display:inline-block; line-height:2em; padding:0 1em; margin-top:1em; position:relative; } .cinta p span { background:#FFD204; margin-top:0; /* eleva el enlace */ } /* creamos otros dos elementos vacíos para mostar pliegues debajo del enlace cuando este se eleva */ .cinta span:before { content: ""; position:absolute; top:2em; left:0; border-right:0.5em solid #9B8651; border-bottom:0.5em solid #f7cd26; } .cinta span:after { content: ""; position:absolute; top:2em; right:0; border-left:0.5em solid #9B8651; border-bottom:0.5em solid #f7cd26; }

.containerQuiz{
  width: 769px;
  margin: 50px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
  box-shadow: 10px 10px 0px 0px rgba(221,221,221,1);
}

.headerClass .nameClassQuiz{
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.headerClass .nameClassQuiz h3{
  padding: 12px;
  margin: 0;
  color: #fff;
}

.headerClass .numTotal{
  padding: 3px 5px;
  float: left;
  margin-left: 30px;
  font-size: 18px;
}

.headerClass .lvlQuiz{
  float: right;
  font-size: 16px;
  margin-top: 12px;
}

.containerQuiz .descrip{
  height: 412px;
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.containerQuiz .descripResult{
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f9f9f9;
  display: block;
}

.containerQuiz .descripResult .donutResult{
  width: 50%;
  float: left;
  display: table;
  margin-top: 40px;
}

.containerQuiz .descripResult .donutResult p{
  width: 100%;
  text-align: center;
}

.containerQuiz .descripResult .questionResult{
  width: 50%;
  color: #565656;
  float: left;
  display: table;
}

.containerQuiz .descripResult .questionResult h4{
  text-align: center;
  font-size: 8em;
  color: #545454;
}

.containerQuiz .descripResult .questionResult h3{
  text-align: center;
  color: #545454;
  margin-top: 25px;
}

.containerQuiz .descripResult .questionResult .incorrectQuestions{
  font-size: 16px;
  padding: 6px 15px;
  margin: 14px 7px 14px -10px;
  background: #f9f9f9;
}

.containerQuiz .orbit-progress{
  background-color: rgba(237, 237, 237, 1) !important;
}

.containerQuiz .orbit-container .orbit-timer.paused > span{
  border-left-color: rgba(237, 237, 237, 1) !important;
}

.containerQuiz .orbit-container .orbit-timer{
  left: 0; 
}

.containerQuiz .descripResult .orbit-container .win .fb-root{
  text-align: right;
  display: inline-block;
  width: 50%;
  padding-right: 0.5%;
  margin-right: 15px;
}

.containerQuiz .descripResult .orbit-container .win .fb-root p{
  display: inline-block;
  position: relative;
  width: 70px;
}

.containerQuiz .descripResult .orbit-container .win .fb-root p a{
  display: block;
  position: absolute;
  margin-top: -8.5px;
  background: #496DBB;
  color: #fff;
  padding: 2px 6px;
  border-radius: 0 5px 5px 0;
}

.containerQuiz .descripResult .orbit-container .win .fb-root p a:hover{
 background: #3a5ba2; 
}

.containerQuiz .descripResult .orbit-container .win .fb-root p:before {
    content: "\f09a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding: 0.5px 11px;
    position: absolute;
    top: -8px;
    left: -32px;
    background: #3a5ba2;
    border-radius: 5px 0 0 5px;
}

.containerQuiz .descripResult .orbit-container .win .fb_reset .fb-share-button span{
  height: 29px;
  width: 90px;
}


.containerQuiz .win{
  margin-top: 35px;
}

.containerQuiz .win h3{
  text-align: center;
  font-family: "Ubuntu";
  color: #565656;
  font-weight: bold;
}

.containerQuiz .win .img{
  width: 100%;
  display: inline-block;
}

.containerQuiz .win .img img{
  display: table !important;
  margin: 5px auto 10px;
  width: 150px;
  height: 150px; 
  border-radius: 1000px;
}

.containerQuiz .descripResult .backQuiz{
  display: table;
  width: 100%;
  background: #fff;
}

.containerQuiz .descripResult .backQuiz a{
  display: block;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid;
  width: 20%;
  margin: 0 auto 20px;
  color: #fff;
  background: #5bc0de;
  border-color: #3284d5;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.containerQuiz .back{
  margin-left: 250px;
  padding: 8px 30px;
  background: #EDEDED;
  color: #272727;
  border: 1px solid #D9D9D9;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  margin-top: 65%;
}

.containerQuiz .go{
  margin-left:33px;
  padding: 8px 30px;
  background: #31B5D5;
  color: #fff;
  border: 1px solid #22859E;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

.quizButton{
  margin-top: 350px;
  position: absolute;
}

.descrip .preQuiz #lose tspan:nth-child(1){
  display: none;
}

.descrip .preQuiz #lose p{
  margin-left: 165px;
  position: relative;
  top: -125px;
  font-size: 30px;
}

.descrip .preQuiz #approve tspan:nth-child(1){
  display: none;
}

.descrip .preQuiz #approve p{
  margin-left: 145px;
  position: relative;
  top: -125px;
  font-size: 30px;
}

.descripQuiz{
  color: #565656;
  font-size: 20px;
  float: left;
  margin-left: 153px;
}


.cantQuestions{
  background: #E6E6E6;
  width: 100%;
  margin-top: -20px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.cantQuestions p{
  padding: 12px 5px;
  font-size: 18px;
  margin-top: -35px;
}

.headerClass .cantQuestions .cantQuestionsBasic{
  border: 2px solid #39B54A;
  color: #39B54A;
}

.headerClass .cantQuestions .cantQuestionsIntermediate{
  border: 2px solid #3079AB;
  color: #3079AB;
}

.headerClass .cantQuestions .cantQuestionsAvanced{
  border: 2px solid #B73130;
  color: #B73130;
}

.quizQuestion{
  font-size: 17px;
  color: #565656;
  margin-left: 45px;
  margin-top: 45px;
  padding-top: 45px;
  padding-left: 10px;
  margin-bottom: 38px;
}

.quizQuestionBasci::before{
  content:"?";
  border: 1px solid #39B54A;
  color: #39B54A;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 1px 5px;
  margin-right: 10px;
}

.quizQuestionInter::before{
  content:"?";
  border: 1px solid #3079AB;
  color: #3079AB;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 3px 5px;
  margin-right: 10px;
}

.quizQuestionAvanced::before{
  content:"?";
  border: 1px solid #B73130;
  color: #B73130;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 1px 5px;
  margin-right: 10px;
}

.quizAnswer{
  width: 85%;
  margin: 0 auto;
}

#answerList{
  margin-bottom: 20px;
  padding-left: 0px;
}

/*.quizAnswer input[type="submit"]{
  width: 106px;
}*/

.containerQuiz{
  
}

input[type="radio"]{
  display: none;
}

.optionAnswerBasic{
  background: #C5F2BB;
  border: 1px solid #90BA93;
}

.optionAnswerIntermediate{
  background: rgba(178, 204, 223, 0.49);
  border: 1px solid #8F91b7;
}

.optionAnswerAvanced{
  background: rgba(232, 132, 131, 0.23);
  border: 1px solid #B58F8F;
}

.containerQuiz .descrip .quizAnswer form div .basicButton{
  background: #39B54A;
  border-color: #23702A;
}

.containerQuiz .descrip .quizAnswer form div .interButton{
  background: #3079AB;
  border-color: #204D66;
}

.containerQuiz .descrip .quizAnswer form div .avancedButton{
  background: #B73140;
  border-color: #841F1F;
}



.optionAnswer{
  width: 100%;
  float: left;
  margin-bottom: 8px;
  display: block;
}

.optionAnswer label{
  font-weight: normal;
  font-size: 15px;
  color: #645772;
  padding: 10px 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.optionAnswer label{
  width: 100%;
}

#imgProgress{
  width: 109px;
  margin: 0;
  float: left;
}

.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  height: 100%;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

.ui-widget-content {
  border: 1px solid #aaaaaa;
  border-left: none;
  color: #222222;
  width: 45%;
  display: inline-block;
  margin-top: 14px;
  height: 30px;
  margin-left: -20px;
  webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
}

.ui-widget-header {
  border: 1px solid transparent;
  border-right: 1px solid #aaaaaa;
  color: #222222;
  font-weight: bold;
}

/*---- Badges ----*/

.bannerBadges{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding-bottom: 15px;
  display: none;
}

.bannerBadges.active{
  display: block;
}


.bubble:before
{
content: '';
position: relative;
border-style: solid;
border-width: 13px 13px 0;
border-color: #f5f5f5 transparent;
display: block;
width: 0;
z-index: 0;
top: 0px;
left: 48.8%;
}

.arrow_box { position: relative; background: #ffffff; border: 3px solid #dedede; } .arrow_box:after, .arrow_box:before { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } .arrow_box:after { border-color: rgba(255, 255, 255, 0); border-top-color: #ffffff; border-width: 10px; margin-left: -10px; } .arrow_box:before { border-color: rgba(222, 222, 222, 0); border-top-color: #dedede; border-width: 14px; margin-left: -14px; }



.bannerClass.arrow_box .containerClass{
  background: transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.contentBadge{
  border-radius: 4px;
  background: #fff;
  width: 22%;
  height: 245px;
  display: table;
  float: left;
  margin-left: 2%;
  margin-top: 25px;
  margin-right: 0.5%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.contentBadge .badge{
  display: table;
  margin: 20px auto;
  width: 120px;
}

.contentBadge .badge.gray{
  opacity: 0.4;
}

.contentBadge h6{
  width: 90%;
  text-align: center;
  margin: 10px auto 10px;
  color: #565656;
  height: 42px;
}

.contentBadge p{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  color: #808285;
  font-size: 14px;
  padding-bottom: 10px;
}


.alert_perfil{
  margin-top: 30px; background: rgba(78, 181, 236, 0.17); text-align: center; margin-bottom: 20px; padding: 25px 0; border-radius: 8px; color: #565656;
}

/*------------Editar perfil------------*/
.editProfile fieldset{
  border: none;
  width: 100%;
}

.editProfile fieldset hr{
  margin: 0;
  width: 0;
}

.editProfile fieldset .top-bar{
  color: #565656;
  width: 50%;
  background: #fff;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.editProfile fieldset .top-bar ul li{
  background: #fff;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}


.editProfile fieldset span{
  color: #565656;
}

.editProfile fieldset .top-bar ul li a{
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.editProfile fieldset .top-bar .toggle-topbar.menu-icon a span::after{
  content: ""; position: absolute; display: block; height: 0; top: 50%; margin-top: -8px; right: 0.9375rem;
  box-shadow: 0 0 0 1px #565656, 0 7px 0 1px #565656, 0 14px 0 1px #565656;
  width: 16px;
}


.editProfile fieldset .top-bar ul li .no{
  background: #fff;
  color: #565656;
}

.editProfile fieldset .top-bar ul li .no:hover{
  background: #4cb7ef;
  color: #fff;
}

.editProfile fieldset .top-bar .title-area .name{
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.editProfile fieldset .top-bar .title-area .name h1 a{
  color: #565656;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.editProfile fieldset table{
  border-color: #fff;
  width: 50%;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  padding: 25px;
}

.editProfile .row{
  margin: 0 auto;
  width: 50%;
  padding: 15px;
  background: #fff;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.editProfile fieldset table tbody tr{
  background: #fff;
}

.editProfile fieldset table tbody tr th{
  font-weight: 100;
  padding: 0 10px 15px;
}

.editProfile fieldset input{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;}

.editProfile fieldset input[type="submit"]{
  border: none;
  padding: 10px;
  margin-left: -10px;
  cursor: pointer;
}



@media(max-width: 1030px){
  .classArticle{
  margin-right: 10px;
  margin-left: 10px;
  width: 45%
  }

  .bannerUserProfile p{
    text-align: center;
  }

  .bannerUserProfile h6{
    text-align: center;
  }

  .bannerUserProfile a{
    margin-left: auto;
    margin-right: auto;
  }

  .bannerUserProfile .points{
    margin: 5% auto;
  }

  .bannerClass{
    width: 55%;
  }

  .L:before{
    height: 16.1%;
    margin-left: 42.8%;
  }

}

@media (max-width:767px) {

  .btn{
    display: block;
    margin: 0 20%;
  }

  .row_welcome{
    width: 96%;
  }

.top-bar.menu .top-bar-section .top-nav{
  margin-right: 1.5em;
}

.editProfile fieldset .top-bar{
  width: 90%;
}

.editProfile fieldset table{
  width: 90%;
}

.editProfile .row{
  width: 90%;
}

.editProfile fieldset .top-bar ul li a{
  border-radius: 0;
  }

.pricing-table .description h5{
  margin-top: 3%;
}

#wrapper {
  padding-left: 0;
}

.hrCourses{
  display: none;
}

.material-item .img
{
  width: 20%;
  margin: 0px 10px 0px -10px;
}

.material-item .material-text
{
  width: 80%;
}

.top-bar .top-bar-section .top-nav
{
  margin: 1em 0.2em 0 0;
}

.top-bar .top-bar-section .top-nav li{
  vertical-align: bottom;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
  margin-left: -180px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 80px;
  transition: all 0.4s ease 0s;
  position: fixed;

}

#menu-toggle {
  display: inline-block;
  margin-left: 10px;
}

.inset {
  padding: 15px;
  margin-top: 35px;
}

/*Clases*/
.classArticle{
  margin-right: 0;
  margin-left: 8px;
  width: 48%;
  min-height: 294px;
  }

  .bannerClass{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 55%;
}
  .classArticle .descrip{
    height: 280px;
  }




.Basic
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; 
  margin-top: 2%;
}

.Basic .box
{
  width: 90%;
  margin-top: 6%;
}

.Basic:after{
  margin-left: 46.8%;
  height: 25%;
}

.Advanced
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; 
  margin-top: 48px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.Advanced ul
{
  margin-bottom: 0px;
}

.FirstInter ul
{
  margin-bottom: 0px;
}

.Advanced:before
{
  background: #008cba;
 bottom: 100%;
 content: "";
 height:80px;
 z-index: -1;
 position: absolute;
 width: 7px;
 margin-left: 45.3%;
}

.Advanced .box
{
  width: 90%;
  height: auto;
  margin: 0 auto 0 auto;
}

.FirstInter
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 93%;
  float: left; 
  height: auto;
  margin-left: 4%;
  margin-top: 10%;
  margin-bottom: 0;
}

.Intermediate ul
{
  margin-bottom: 0px;
}

.Intermediate
{
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 93%;
  float: left; 
  height: auto;
  margin-left: 4%;
  margin-top: 11%;
  margin-bottom: 0;
}

.FirstInter:before
{
  background: #008cba;
 bottom: 100%;
 content: "";
 height:80px;
 z-index: -1;
 position: absolute;
 width: 7px;
 margin-left: 46%;
}

.Intermediate:before
{
  background: #008cba;
 bottom: 100%;
 content: "";
 height:80px;
 z-index: -1;
 position: absolute;
 width: 7px;
 margin-left: 46%;}

.classDetail{
  width: 100%;
}

.instructor
{
  text-align: center;
  float: left;
  margin: 0px;
  width: 100%;

}

.instructor .instructor-info {
  width: 315px;
  margin: 0 auto;
}



/*------ Quiz ------*/
.containerQuiz .descripResult .questionResult{
  width: 90%;
  margin: 0 5%;
}

.containerQuiz .descripResult .donutResult{
  margin-left: 25%;
}


/*------ badges ------*/
.contentBadge{
  width: 30%;
}

}

@media (max-height:580px){
#sidebar-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
}
}

@media (max-width:580px){
/*------ badges ------*/
.contentBadge{
  width: 46.4%;
}

  .bubble:before{
    left: 47.5%;
  }
}


@media (max-width:490px){
  /*clases*/
  .bannerClass{
    width: 85%;
  }

  .classArticle{
    margin-left: 7%;
    width: 85%;
  }

  .bubble:before{
    left: 47.3%;
  }
}

@media (max-width:413px){
  /*clases*/
  .bannerClass{
    width: 85%;
  }

  .classArticle{
    margin-left: 7%;
    width: 85%;
  }

  .content-header .top-nav .ComoFunciona{
    display: none;
  }

  .content-header .top-nav li:nth-child(3){
    margin: 0 auto;
  }

.Intermediate{
  margin-top: 50px;
}

.Intermediate:before{
  margin-left: 42.5%;
}

.FirstInter{
  margin-top: 50px;
}

.FirstInter:before{
  height: 50px;
  margin-left: 42.5%;
}

.Basic .box
{
  width: 93%;
  margin-top: 11%;
}

.Basic:after
{
  margin-left: 43.5%;
}

