@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

.nav-tabs > li {
  float: left;
  width: 50%;
  margin-bottom: -1px;
  text-align: center;
}

header a img{
    width: 12em;
    margin-left: 10%;
    margin-top: 10px;
}

header #menuL{
    display: inline-block;
    list-style: none;
    float: right;
    color: #d5d5d5;
    margin-top: 14px;
    margin-right: 8%;
    font-weight: bold;
}

header #menuL li{
    display: inline-block;
      margin: 0 10px;
}

header #menuL li.in{
    border: 2px solid #f9f9f9;
    padding: 8px 10px;
}

.menu {
    display: none;
    position: relative;
      width: 50px;
  height: 50px;
    top: 10px;
  right: 20px;
    cursor: pointer;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.menu:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #d5d5d5;
    font-size: 30px;
    padding-right: 0.5em;
    position: absolute;
    top: 3px;
    right: 0;
}

.title{
      text-align: center;
  width: 45%;
  margin: 25px auto 0;
  color: #A5A5A5;

}

.title.all{
    width: 55%;
}

.section-body{
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: block;
}

.nav-tabs > li{
    margin-left: -1px;
}

.bg{
      display: block;
  position: relative;
  min-height: 390px;
  background: url("/static/img/bg.png") no-repeat fixed;
    background-position: 10% 167px;
  margin-top: 55px;
}

.formulario{
    position: absolute;
    min-height: 340px;
  right: 14%;
  top: -5px;
  width: 30%;
  padding: 0px;
  background: #fff;
  border: 1px solid;
  border-top: none;
  border-color: #DDDDDD;
  border-radius: 8px;
}

.tab-content{
    padding: 10px;
}

.formEnter form .content_input .labelForm{
      font-weight: normal;
  display: block;
  position: relative;
  margin: 2px auto;
    width: 90%;
}

.formEnter form .content_input{
      padding: 0;
  display: block;
    text-align: center;
  position: relative;
    margin-top: 15px;
}

.formEnter form .content_input .labelForm input{
  padding-left: 36px;
    width: 100%;
    padding-top: 5px;
  padding-bottom: 5px;
    height: 38px;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    -o-border-radius: 5px;
  border-radius: 5px;
      border: 1px solid #ccc;
    font-size: 17px;
    color: #a8a8a8;
}

.icon {
  position: absolute;
  top: 1px;
  left: 10px;
}

.icon:before {
  content: "";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #a8a8a8;
  font-size: 16px;
  padding-right: 0.5em;
  position: absolute;
  top: 7px;
}

.icon.user:before{
    content: "\f085";
    left: 3px;
}

.icon.mail:before {
  content: "\f003";
    left: 2px;
}

.icon.name:before {
  content: "\f007";
    left: 4px;
}

.icon.contra:before {
  content: "\f023";
    left: 5px;
}

.or{
    position: relative;
    margin-top: 20px;
}

.or hr{
    margin: 0;
}

.or p{
      margin: 0;
  text-align: center;
  position: absolute;
  top: -11px;
  left: 45%;
  background: #fff;
  width: 10%;
}

.up-redes{
    text-align: center;
    margin-top: 28px;
}

.up-redes .redes{
    background: #496dbb;
  border-radius: 5px;
  color: #fff;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  font-size: 14px;
}

.up-redes .redes:hover{
    background: #3A5BA2;
    text-decoration: none;
    color: #fff;
}

.up-redes .redes.facebook:after {
  content: "\f09a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  border-radius: 0 5px 5px 0;
  color: #fff;
  background: #3A5BA2;
  font-size: 15px;
  padding: 10px 16px;
  margin-right: -15px;
  margin-left: 15px;
}


.button{
    font-size: 16px;
  /* border-top: 1px solid; */
  border-color: #0f76ac;
  padding: 8px 15px;
  margin-top: 10px;
  background: #1186c4;
  color: #f9f9f9;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.5s;
}

.button:hover{
    background-color: #0d6695;
}

.content_all{
    width: 95%;
    margin: 25px auto 0;
    display: block;
    position: relative;
}

.content_all ol .content_all_challenge{
    width: 40%;
    position: relative;
    display: inline-block;
    margin: 0 4% 45px;
    padding-bottom: 1.5em;
    background: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.content_all ol .content_all_challenge .challenge_img{
    position: relative;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(34,34,34,0.25);
    height: 110px;
    padding: 6px;
    left: -30px;
    position: absolute;
    top: -14px;
    width: 110px;
    z-index: 20;
}

.content_all ol .content_all_challenge .challenge_img img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.content_all ol .content_all_challenge header{
    padding-left: 100px;
  padding-top: 10px;
  border-bottom: none;
  display: block;
  position: relative;
  height: auto;
    color: #888888;
}

.content_all ol .content_all_challenge header h4{
    font-weight: bold;
}

.content_all ol .content_all_challenge header p{
    color: #888888;
    margin: 0;
    font-size: 15px;
}

.content_all ol .content_all_challenge header p small{
    font-size: 100%
}

.content_all ol .content_all_challenge .challange_descript{
    background: #FFFFFF;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
    padding-bottom: 1.25em;
    padding-top: 0.8em;
    padding-left: 100px;
    overflow-y: auto;
    height: 171px;
}

.content_all ol .content_all_challenge .challange_descript ol{
    list-style: none;
    color: #b7b7b7;
    font-size: 18px;
}

.content_all ol .content_all_challenge .challange_descript ol li{
    margin: 8px 0;
    position: relative;
}

.content_all ol .content_all_challenge .challange_descript ol li:before {
    content: "\f024";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #DBDBDB;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 0;
    left: -35px;
}

.content_all ol .content_all_challenge .challange_descript ol li:hover:before{
    color: #CFCFCF;
}

/*--- dentro del reto ---*/

.mensaje{
    position: absolute;
    background: rgba(252, 252, 252, 0.65);
    display: none;
    z-index: 4;
    width: 100%;
    height: 100%;
    min-height: 580px;
}

.mensaje .mjs{
    width: 35%;
    background: #fff;
    color: #565656;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin: 15% auto 0;
    vertical-align: middle;
}

.mensaje .mjs .go-curse{
    text-align: center;
}

body, html{
    background: #FAFAFA;
}

.img-header{
    margin-left: 25px;
    vertical-align: top;
}

header{
    border-bottom: 4px solid #D6E5E2;
    padding-top: 3px;
    background: #fff;
    height: 80px;
}

header p{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    color: #565656;
    font-weight: bold;
    font-size: 26px;
}

header p small{
    font-size: 50%;
    font-weight:normal;
    color: #7e7e7e;
}

header .username{
    font-size: 18px;
    color: #565656;
    margin-left: 5px;
}

/*----- Descripcion del lab ------*/

.content-descripts{
    height: 473px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 70px;
}

/*---- titulo y desciocion general ----*/

.content-reto{
    background: #fff;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    padding: 2px 10px;
    margin-top: 10px;
}

.content-reto.lvl-reto h5 .number-lvl{
    color: #547DBF;
    font-weight: bold;
}

.content-reto.lvl-reto h5{
    color: #565656;
    font-weight: bold;
    font-size: 18px;
}

.content-reto.lvl-reto p{
    color: #565656;
    line-height: 1.2;
    font-size: 16px;
}

.content-reto .header-objetivos .glyphicon{
      color: #70B944;
  border: 2px solid #70B944;
  padding: 2px;
  margin-right: 3px;
  font-size: 10px;
  vertical-align: top;
  margin-top: 9px;
}

.content-reto .header-objetivos{
    border-bottom: 1px solid #fafafa;
    width: 100%;
}
.content-reto .header-objetivos h5{
    display: inline-block;
    color: #565656;
    font-weight: bold;
    font-size: 18px;
  margin-left: 10px;
}

.content-reto .header-objetivos .objetivos-nav{
 display: inline-block;
    float: right;
    
}

.content-reto .header-objetivos .objetivos-nav ul{
    list-style: none;
    margin-top: 8px;
    margin-right: 5px;
}

.content-reto .header-objetivos .objetivos-nav ul .circle-nav{
    float: left;
    position: relative;
    margin-left: 8px;
    height: 15px;
    width: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    background: #BBCBE5;
}

.content-reto .header-objetivos .objetivos-nav ul .circle-nav.active{
    background: #547DBF;
}

.content-reto .question{
    margin: 15px 0 0 0;
    display: none;
    line-height: 1.2;
    font-size: 16px;
}

.content-reto .question.active{
    display: block;
}

.next{
    background: #FDFDFD;
    padding-top: 8px;
}

.next p{
 display: inline-block;
    font-weight: bold;
    font-size: 15px;
    color: #a7a7a7;
    padding-left: 10px;
}

.next .b-next{
    margin-right: 20px;
}

.answers{
    display: none;
    background: #fff;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    padding: 2px 10px;
}

.answers.active{
display: block;
}


.answers ol{
    padding-left: 25px;
    position: relative;
    color: #A0A0A0;
    font-size: 16px;
}

.answers ol li{
    list-style-type: upper-latin;
    margin: 15px 10px;
    padding: 4px 4px 4px 16px;
}

.answers ol li:hover{
    cursor: pointer;
}

.answers ol li::before{
    content: '';
  position: absolute;
  padding: 11px;
  border: 1px solid #f0f0f0;
  margin-top: -1px;
  left: 7px;
}

.answers ol li.check{
background: #fafafa;
    padding: 8px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.answers ol li.check::before{
    border-color: #a29e9e;
    padding: 14px 11px;
    margin-top: -4px;
}

/*---- Respuestas buenas o malas -----*/

.content-reto .header-objetivos .objetivos-nav ul .circle-nav.good{
    background: #70B944;
}

.content-reto .header-objetivos .objetivos-nav ul .circle-nav.bad{
    background: #fa6868;
}

.answers ol li.check.good::before{
    border-color: #70B944;
    color: #70B944;
    background: #fff;
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 3px 4px;
}

.answers ol li.check.bad::before{
    border-color: #fa6868;
    color: #fa6868;
    background: #fff;
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 2.5px 5px;
}


/*----- Consola ------*/

section .consola{
    margin-top: 10px;
}

section .consola iframe{
    margin-top: 10px;
    border: none;
}

/*--- footer ---*/

.foo{
    width: 100%;
    background: #fff;
    display: block;
    position: fixed;
    bottom: 0px;
    height: 60px;
    padding-top: 15px;
    padding-left: 35%;
    padding-right: 10px;
    display: fixed;
}

/*--- progres bar ----*/
.proBar{
    height: 30px;
    padding: 4px 5px 0 5px;
    border: 1px solid #547DBF;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    position: relative;
}

.proBar .progress{
    text-align:right; 
    padding-right:5px;
    
}

.p-buttom{
    text-align: center;
    margin: 20px 0 0;
}

.b-nextF, .a-nextF{
    background: #547DBF;
    color: #fff;
    padding: 6px 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    margin-right: 40px;
    transition: background-color 0.5s;
}

.a-nextF{
    margin-right: 0;
}

.b-nextF:hover, .a-nextF:hover{
    background: #466aa3;
    color: #fff;
    text-decoration: none;
}

/*--- scroll bar ----*/
.scrollable {
  position: relative;
}

.scrollable:focus {
  outline: 0;
}

.scrollable .viewport {
  position: relative;
  overflow: hidden;
}

.scrollable .viewport .overview {
  position: absolute;
    padding-right: 12px;
}

.scrollable .scroll-bar {
  display: none;
}

.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
}

.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%;
}

.scrollable .scroll-bar .thumb {
  position: absolute;
}

.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px;
}

.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 10px;
  left: 0;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Default skin*/

.scrollable.default-skin {
  padding-right: 10px;
  padding-bottom: 6px;
}

.scrollable.default-skin .scroll-bar.vertical {
  width: 6px;
}

.scrollable.default-skin .scroll-bar.horizontal {
  height: 6px;
}

.scrollable.default-skin .scroll-bar .thumb {
  background-color: rgb(128, 128, 128);
  opacity: 0.4;
  border-radius: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.scrollable.default-skin .scroll-bar:hover .thumb {
  opacity: 0.6;
}

/*Gray skin*/

.scrollable.gray-skin {
  padding-right: 17px;
}

.scrollable.gray-skin .scroll-bar {
  border: 1px solid gray;
  background-color: #d3d3d3;
}

.scrollable.gray-skin .scroll-bar .thumb {
  background-color: gray;
}

.scrollable.gray-skin .scroll-bar:hover .thumb {
  background-color: black;
}

.scrollable.gray-skin .scroll-bar.vertical {
  width: 10px;
}

.scrollable.gray-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}

/*Modern skin*/
.scrollable.modern-skin {
  padding-right: 17px;
}

.scrollable.modern-skin .scroll-bar {
  border: 1px solid gray;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px #888;
  box-shadow: inset 0 0 5px #888;
}

.scrollable.modern-skin .scroll-bar .thumb {
  background-color: #95aabf;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #536984;
}

.scrollable.modern-skin .scroll-bar.vertical .thumb {
  width: 8px;
  background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
  background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: linear-gradient(to right, #95aabf 0%, #547092 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

.scrollable.modern-skin .scroll-bar.horizontal .thumb {
  height: 8px;
  background-image: linear-gradient(#95aabf, #547092);
  background-image: -o-linear-gradient(#95aabf, #547092);
  background-image: -moz-linear-gradient(#95aabf, #547092);
  background-image: -webkit-linear-gradient(#95aabf, #547092);
  background-image: -ms-linear-gradient(#95aabf, #547092);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

.scrollable.modern-skin .scroll-bar.vertical {
  width: 10px;
}

.scrollable.modern-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}

@media screen and (max-width: 800px){
    
.menu {
  display: inline-block;
    float: right;
}    
    header #menuL{
        display: none;
        float: none;
    }
    
    header #menuL li{
          width: 100%;
  text-align: center;
  margin: 10px auto 10px auto;;
        
    }
    
    .title{
        width: 100%;
    }
    
    .bg{
        background: none;
    }
    
    .formulario {
    left: 0;
    width: 100%;
        min-height: 195px;
  height: auto;
    }
    
    .content_all ol .content_all_challenge{
        width: 90%;
    }
    
    .content_all ol .content_all_challenge .challange_descript{
        padding-left: 50px;
    }
    
    .content_all ol .content_all_challenge .challenge_img{
        left: -15px;
    }

    .foo{
        padding-left: 25%;
        padding-right: 25%;
        height: 85px;
        
    }
}

    
