@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

*{
  margin: 0px;
  font-family: "Ubuntu";
  color: #545454;
}

input[type="text"], input[type="email"], input[type="password"]{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

body.zinnia.default{
	background: none;
}

.zinnia .entry-image{
	width: 80%;
	margin: 0 10%;
	border-radius: 5px;
}

.zinnia .entry-image .img-body{
	width: 100%;
	height: 500px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.zinnia .date-blog{
	text-align: center;
	border: none;
	font-family: "Ubuntu";
	font-weight: 700;
	font-size: 14px;
	margin: 0;
	margin-bottom: 15px;
}

/*.zinnia .date-blog:after {
		content: '';
		position: absolute;
		bottom: -13.5em;
		width: 2em;
		height: 1px;
		left: calc(50% - 1em);
		background: #eee;
	}*/

hr{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #f3f3f3;
	border-top: 0;
	border-left: 0;
	margin-top: 3em;
	margin-bottom: 5px;
}

.zinnia .row-header .row-nav .menu{
	display: none;
}

.zinnia .autor-info-blog{
	background: none;
	text-align: center;
	padding: 0;
	font-size: 18px;
	font-family: "Ubuntu";
	margin-bottom: 0;
}

.entry-header{
	font-family: "Ubuntu";
	width: 78%;
	margin: 0 auto;
}

.zinnia .autor-info-blog a{
	color: #1186c4;
}

.zinnia.default h2.title-post{
	text-align: center;
	color: #565656;
	border: none;
	font-weight: 700;
	font-size: 1.6em;
}

.zinnia.default h2.title-post a{
	font-weight: 700;
	font-size: 2em;
}

.zinnia.default h2.title-post a{
	color: #565656;
	border: none;
}

.zinnia.default h2.title-post a:hover{
	border: none;
	text-decoration: none;
}

.zinnia .descrip-content{
	text-align: justify;
	width: 75%;
	margin: 0 auto;
}

.zinnia .descrip-content p{
	color: #a4a4a4;
	font-size: 1.4em;
}

.zinnia .descrip-content p a{
	color: #268bd2;
	text-decoration: underline;
}

.zinnia .descrip-content p a:hover{
	color: #135d91;
	text-decoration: underline;
}

.zinnia .descrip-content p a:visited{
	color: #268bd2;
	text-decoration: underline;
}

.zinnia .continue{
	text-align: center;
}

.zinnia .continue a.go{
	background: #fff;
	border: 2px solid #4DB8EF;
	padding: 8px 10px;
	border-radius: 1000px;
	color: #268bd2;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.zinnia .continue a.go:visited{
	border: 2px solid #4DB8EF;
	padding: 8px 10px;
	border-radius: 1000px;
	color: #268bd2;
}

.zinnia .continue a.go:hover{
	text-decoration: none;
	color: #fff;
	background: #4DB8EF;
	-webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #4DB8EF;
  background-color: #4DB8EF;
  color: white;
}

.hr-go{
	position: relative;
	width: 75%;
	margin: 32px auto -22px;
	border: 2px solid #4DB8EF;
	border-top: 0;
	border-left: 0;
}

.zinnia .row-header .row-nav{
	width: 73%;
	margin: 0 auto;
}

.zinnia .row-header .row-nav a img{
	width: 15em;
	margin-bottom: 0.5em;
	margin-top: 12px;
}

.zinnia .row-header{
	position: fixed;
	width: 100%;
	top: -6px;
	z-index: 4;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 1px solid rgba(238, 238, 238, 1.5)
}

.zinnia .row-header nav .menu-list{
	list-style: none;
	display: inline-block;
	margin: 2.5em 0 0;
}


.zinnia .row-header nav .menu-list li{
	float: left;
	list-style: none;
	padding: 17px 0px 15px;
	font-size: 18px;
	margin-top: -25px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.zinnia .row-header nav .menu-list li a{
	color: #666;
	padding: 19px 20px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.zinnia .row-header nav .menu-list li a.activate{
	background: #268bd2;
	color: #f9f9f9;
}

.zinnia .row-header .row-nav nav .menu-list li:hover{
	text-decoration: none;
	background: #268bd2;
	color: #f9f9f9;
}

.zinnia .row-header .row-nav nav .menu-list li a:hover{
	text-decoration: none;
	background: #268bd2;
	color: #f9f9f9;
}

.zinnia .container .hfeed .hentry{
	margin-top: 7em;
}

.twitter_share{
	display: inline-block;
	padding-left: 3px;
}

.twitter_share iframe{
	margin-bottom: -5px;
}


/*----------- entry por categoria -----------*/
.zinnia.category .container .entry_category{
	height: 305px;
	position: relative;
	display: inline-block;
	width: 30%;
	margin-top: 15px;
	padding: 0 1%;
}

.zinnia.category .container .entry_category h3{
color: #515151;
font-family: "Ubuntu",sans-serif;
font-size: 1.4em;
font-weight: normal;
margin: 0px;
padding: 0.455em 0 0.8em 1.5em;
text-decoration: none;
text-align: left;
}

.zinnia.category .container .entry_category .autor{	
border-bottom: 1px solid #B7B7B7;
}

.zinnia.category .container .entry_category .autor s{	
	text-decoration: none;
	float: right;
}


.zinnia.category .container .entry_category a img{
	height: 150px;
	width: 150px;
	border-radius: 1000px;
	display: block;
	margin: 0 auto;
}

.zinnia.category .container .entry_category .go{
	border: none;
}

.zinnia.category .container .entry_category .go:hover{
	background: none;
	text-decoration: underline;
	color: #268bd2;
}





/*---------- articulo descrip ----------*/


.zinnia .container .entry-widgets .entry-similar{
	width: 700px;
	margin: 50px auto 0;
}

.zinnia .container .entry-widgets .entry-similar h3{
	font-family: "Ubuntu";
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-bottom: 10px;
}

.zinnia .container .entry-widgets .entry-similar ul li{
	list-style: none;
	border-bottom: 1.5px solid #f9f9f9;
	font-size: 18px;
	line-height: 1.1;
	margin-left: -16px;
	font-weight: bold;
	font-family: "Ubuntu";
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin: 0 1.5%;
}

.zinnia .container .entry-widgets .entry-similar ul li a{
	font-family: "Ubuntu";
	display: block;
	text-align: center;
}

.zinnia .container .entry-widgets .entry-similar ul li p{
	font-weight: normal;
	font-size: 16px;
	width: 65%;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

.zinnia .container .entry-widgets .entry-similar ul li img{
	display: block;
	margin: 0 auto;
	width: 165px;
	height: 120px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
}

.zinnia .container .entry-widgets .entry-similar hr{
	width: 100%;
}



@media screen and (min-width: 1024px) {

.zinnia .container #content{
	width: 100%;
}
}

@media (max-width: 730px) {
	.zinnia .container .entry-widgets .entry-similar ul li img{
		display: none;
	}

.zinnia .container .entry-widgets .entry-similar ul li p{
	width: 90%;
	text-align: justify;
}

.zinnia .entry-image .img-body{
	height: auto;
}

.zinnia .container .entry-widgets .entry-similar{
	width: 100%;
}

.zinnia .row-header .row-nav .menu{
	height: 50px;
	width: 50px;
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
}

.zinnia .row-header .row-nav .menu:before {
    content: "\f0c9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #d2d2d2;
    font-size: 28px;
    padding-right: 0.5em;
    position: absolute;
    top: 8px;
    right: 3px;
}

.zinnia .row-header .row-nav .menu:hover:before{
	color: #1186c4;
}

.zinnia .row-header .row-nav a{

	display: block;
	margin-bottom: 8px;
}

.zinnia .row-header .row-nav a img{
	display: block;
	margin: 10px auto 0;
}

.zinnia .row-header .row-nav .menu-list{
	display: none;
	width: 100%;	
  	transition: display linear 5s;
}

.zinnia .row-header .row-nav .menu-list.visible{
	display: block;
}

.zinnia .row-header .row-nav .menu-list li{
	text-align: center;
	width: 100%;
}
}