@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
html,body{height: 100%}

body
{
    font-family: "Ubuntu";
    font-size: 16px;
    margin: 0;
}

body .reveal-modal-bg{
    background: transparent;
}

body .reveal-modal{
    border: none;
}

.reveal-modal .purchaseData .tabs dd{
    border: 1px solid #eee;
}

.reveal-modal .purchaseData .tabs dd a{
    background: #fff;
}

.reveal-modal .purchaseData .tabs dd.active a{
    background: #eee;
}

.b{
    display: inline-block;
}

.orIndex hr{
    z-index: -4;
    margin: 15px 0 -16px;
    border-top: none;
    border-left: none;

}

.orIndex p{
    width: 5%;
    margin: 5px auto 20px;
    background: #fff;
    text-align: center;
}

.or hr{
    z-index: -4;
    margin: 12px 0 -12px;
}

.or p{
    width: 5%;
    font-weight: bold;
    margin: 0 auto 22px;
    background: #f5f5f5;
    text-align: center;
}

.signup_complete{
    margin-top: 20%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    font-family: "Ubuntu";
}

.signup_complete p{
    font-size: 1.2em;
    color: #565656;
}

.signIn{
  margin-top: 4em;
  color: #565656;
}

.signIn h2{
  color: #565656;
}

.signIn p{
  font-size: 14px;
  text-align: center;
}

.signIn form label{
    font-size: 95%;
}

.signIn form fieldset p label{
  text-align: left;

}

.signInEnter{
  margin-top: 1em;
}

.signInEnter input{
    border-radius: 10px;
    font-weight: 600;
}

.forgot{
  font-size: 12px;
}

.content-redes{
    margin-bottom: 20px;
    text-align: center;
}

.content-redes .redes{
    background: #496dbb;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
    font-size: 14px;
}

.content-redes .redes:hover{
    background: #3A5BA2;
    color: #fff;
}

.content-redes .facebook:after {
    content: "\f09a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
border-radius: 0 5px 5px 0;
    color: #fff;
    background: #3A5BA2;
    font-size: 15px;
    padding: 10px 16px;
    margin-right: -15px;
    margin-left: 15px
}

.index .content-redes .redes{
    background: #fff;
    color: #496dbb;
    padding: 10px 15px;
    position: relative;
    font-weight: 100;
    text-decoration: none;
    font-size: 15px;
    text-transform: none;
}

.index .content-redes .redes:hover{
    background: #fff;
    color: #496dbb;
    text-decoration: underline;
}

.index .content-redes .redes:after{
    content: '';
    display: none;
}

.index .content-redes .redes:before{
    content: "\f09a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    border-radius: 5px;
    color: #fff;
    background: #3A5BA2;
    font-size: 15px;
    padding: 10px 16px;
    margin-right: 10px;
    text-decoration: none;
}

/*---- popup signup -----*/

.popup_register:hover{
    cursor: pointer;
    color: #fff;
}

#popup_register{
    min-height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

#popup_register h1, h2, h3, h4, h5, h6{
    color: #565656;
    text-align: center
}

.content_signup{
    width: 35%;
    margin: 8% auto;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.hr_register{
    width: 80%;
    margin-bottom: 20px;
    border-top: 0;
    border-left: 0;
}

.team .content_signup div{
    padding: 0 0 0.2em 0;
}

.team .content_signup .icon{
    position: absolute;
    top: 1px;
    left: 10px;
}

.team .content_signup .icon:before{
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #a8a8a8;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
}

.team .content_signup .icon.mail:before{
    content: "\f003";
    left: 0;
}

.team .content_signup .icon.user:before{
    content: "\f007";
    left: 2px;
}

.team .content_signup .icon.contra:before{
    content: "\f023";
    left: 4px;
}

.team .content_signup .content_input input{
    width: 91%;
    padding-left: 36px;
}

.team .content_signup .content_input_name{
    padding: 0;
    display: inline-block;
}

.team .content_signup .content_input{
    padding: 0;
    display: inline-block;
    position: relative;
}

.content_signup .content_input_name{
    width: 32%;
    float: left;
    margin-right: 6%;
}

.content_signup .content_input{
    width: 70%;
    margin: 0 auto;
}

.content_signup input {
    width: 100%;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: block; padding: 0 5px; font-size: 0.875rem; margin: 0 0 .6rem 0; height: 2.3125rem; width: 100%;
}

.content_signup .content_submit{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.content_signup .content_submit input{
    background: #1186c4;
    border-color: #0f76ac;
    color: #fff;
    cursor: pointer;
}
    
.content_signup .content_submit input:hover{
    background: #0f76ac;
}

.index-header, .index-cursos
    {
            background-color: #4cb7ef;
            color: #fff;
            overflow: hidden;
            height: 100%;
            width: 100%;
            display: table;
            padding-bottom: 20px;
    }

    .sub-header
    {
        overflow: hidden;
        margin:0 auto;
        max-width: 1000px;
        width: 75%;
    }

    .sub-header .logo
    {
        float: left;
        display: block;
        padding-top: 1.6em;
        text-decoration: none;
    }

    .sub-header .logo img
    {
        width: 70px;
    }

    .sub-header .nav-bar
    {
        float: right;
        list-style: none;
    }

    .sub-header .nav-bar li
    {
        float: left;
        padding: 1.5em 1em;
    }

    .sub-header .nav-bar .in{
        font-size: 14px;
        border: 2px solid #f9f9f9;
        padding: 8px 10px;
    }
    
    .sub-header .nav-bar li a
    {
        text-decoration: none;
        color: #f9f9f9;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        transition: color 0.3s;
    }


    .sub-header .nav-bar.white li a:hover
    {
        color: #ccc;
        border-color: #ccc;
    }


/*---------- Confian en us ----------*/

.trust .trust_row{
    width: 70%;
    box-sizing: border-box;
    border-top: 1px solid #e7e7e7;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
}

.trust .trust_row h2{
    font-size: 33px;
padding: 40px 0px;
text-align: center;
}

.trust .trust_row .trusts{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.trust .trust_row .trusts li{
    display: inline-block;
    margin: 15px 20px;
}

.trust .trust_row .trusts li img{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: alpha(opacity=50);
opacity: 0.5;
}

.trust .trust_row .trusts li img:hover{
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
filter: alpha(opacity=100);
opacity: 1;
}


/*-----------Info Header-----------*/

     
            .info
            {
                    margin: 0 auto;
                    max-width: 1000px;
                    width: 70%;
                    color: #f9f9f9;
                    padding-top: 5em;
                    text-align: center;
            }
     
                    .info h1
                    {
                            font-size: 50px;
                    }
     
                    .info p
                    {
                            color: #d8effc;
                            font-size: 22px;
                            line-height: 28.7999992370605px;
                            margin: 20px 0px 50px 0px;
                    }
                    .info #how-it-works
                    {
                            background-color: transparent;
                            border: 2px solid white;
                            border-radius: 100px;
                            font-size: 18px;
                            color: #f9f9f9;
                            font-weight: bold;
                            margin: 200px 0px 0px 0px;
                            padding: 15px 40px 12px 40px;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: border 0.1s, color 0.1s;                   
                    }
                    .info #how-it-works:hover
                    {
                            border: 2px solid rgba(255,255,255,.50);
                            color: rgba(255,255,255,.50);                  
                    }
                    .info a
                    {
                            background: #1186c4;
                            border-color: #0f76ac;
                            border-radius: 100px;
                            font-size: 18px;
                            color: #f9f9f9;
                            font-weight: bold;
                            margin: 200px 0px 0px 0px;
                            padding: 15px 40px 12px 40px;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: background-color 0.5s;
                    }
     
                    .info a:hover
                    {
                            background-color: #0d6695;
                    }
     
     
            .perilla
            {
                    display: none;
            }
     
            .perilla img
            {
                    width: 32px;
                    height: 32px;
            }

/*-----------Services-----------*/
     
    .services
    {
            text-align: center;
            display: block;
            position: relative;
    }
    .services > article
    {
            text-align: center;
            padding: 1em 0 1em 0;
    }
    .services h2
    {
            color: #565656;
            font-size: 2em;
            padding-bottom: 0.3em;
    }
    .services h3
    {
            color: #a4a4a4;
    }
    .services .feature-image
    {
            display: inline-block;
            vertical-align: top;
            width: 61%;
            margin: 0 auto;
    }
    #boxesxd
    {
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
            width: 80%;
            padding-bottom: 3em;
            height: 350px;
    }
     
    .services video
    {
            margin: 0 auto;
            width: 100%;
            height: 329px;
    }

    .services .row{
        width: 90%;
        margin: 0 auto;
        display: flex;
        padding-bottom: 18px
    }
    
    .services .howWorks{
        width: 33%;
        margin: 0 auto;
        float: left;
        position: relative;
    }

    .services .howWorks img{
        width: 55%;
        display: block;
    }

    .services .howWorks .imgMiddle{
        width: 62%;
        margin: 0 auto;
        margin-top: 3%;
    }

    .services .howWorks .imgRight{
        width: 60%;
        margin: 0 auto;
        margin-top: 2%;
    }

    .services .howWorks.post3 img{
        width: 70%;
        margin-top: 15px;
    }

    .redBlock{
        height: 6px;
        margin-right: 8px;
        border-radius: 2px;
        background: #ED8989;
        display: inline-block;
        margin-right: auto;
    }

    .whiteBlock{
        height: 6px;
        border-radius: 2px;
        background-color: #EEE;
        display: inline-block;
        margin-right: 8px;
    }

    .services .stepHowWorks{
        width: 90%;
        margin: 0 auto;
        margin: 0 0 50px 0;
    }

    .services .stepHowWorks .step{
        width: 33%;
        float: left;
        position: relative;
    }

    .services .stepHowWorks .orderStep{
        display: block;
        position: relative;
        width: 100%;
        margin: 0 6%;
    }

    .services .stepHowWorks .orderStep .lineRight{
        width: 50%;
        right: 0px;
        position: absolute;
        top: 50%;
        height: 3px;
        background: none repeat scroll 0% 0% #EDEAF0;
        margin-top: -1px;
        border-right: 3px solid #ADA5BD;
        z-index: -1;
    }

    .services .stepHowWorks .orderStep .line{
        width: 100%;
        right: 0px;
        position: absolute;
        top: 50%;
        height: 3px;
        background: none repeat scroll 0% 0% #EDEAF0;
        margin-top: -1px;
        z-index: -1;
    }

    .services .stepHowWorks .orderStep .lineLeft{
        width: 50%;
        left: 0px;
        position: absolute;
        top: 50%;
        height: 3px;
        background: none repeat scroll 0% 0% #EDEAF0;
        border-left: 3px solid #ADA5BD;
        margin-top: -1px;
        z-index: -1;
    }

    .services .stepHowWorks .orderStep .num{
        background: #4cb7ef;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        border-radius: 1000px;
        color: #fff;
        position: relative;
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 900;
        z-index: 10;
    }

    .services .descrip{
        width: 90%;
        margin: 0 auto;
        display: flex;
    }

    .animated {
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    }

    .animated2 {
    -webkit-animation-duration: 5s;
       -moz-animation-duration: 5s;
         -o-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    }

    .animated1 {
    -webkit-animation-duration: 6s;
       -moz-animation-duration: 6s;
         -o-animation-duration: 6s;
            animation-duration: 6s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;
    }

    .fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    }

    @-webkit-keyframes fadeIn {
        0% { opacity:0; }
100% { opacity:1; }
}

@-moz-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}

@-o-keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}

@keyframes fadeIn {
0% { opacity:0; }
100% { opacity:1; }
}
            


    .hidden{
        opacity:0;
    }

    .visible{
         opacity:1;
    }

    .services .descrip .text{
        width: 33%;
        float: left;
    }

    .services .descrip .text h3{
        margin-bottom: 12px;
        padding-bottom: 0;
        margin-top: 12px;
        color: rgba(86, 86, 86, 1);
        font-size: 22px;
    }

    .services .descrip .text p{
        margin-bottom: 40px;
        padding: 0 5px;
        margin-top: 0;
        line-height: 1.4;
        color: rgba(164, 164, 164, 0.7);
    }

    .services .row .halfLeft{
        width: 65%;
        display: flex;
        margin: 20px 0 10px 80px;
    }

    .services .row .half{
        width: 50%;
        display: flex;
        margin: 20px 100px 10px;
    }

    .services .row .half img{
        width: 80%;
        height: 85%;
        padding: 30px 18%;
        margin-left: -30px;
    }

    .services .row .half.imgMan img{
        padding: 10px 26%;
        margin-left: -30px;
        height: 78%;
        width: 70%;
    }

    .services .row .halfLeft img{
        width: 65%;
        height: 85%;
        padding: 30px 18%;
        margin: 0;
    }

    .services .row .half .text{
        width: 95%;
        margin: 0 auto 0 -80px;
        text-align: left;
        color: rgba(164, 164, 164, 0.7);
        font-size: 18px;
        line-height: 1.4;
    }

    .services .row .halfLeft .text{
        width: 95%;
        margin: 0 -50px 0 auto;
        text-align: left;
        color: rgba(164, 164, 164, 0.7);
        font-size: 18px;
        line-height: 1.4;
    }

    .services .row .halfLeft .text p:first-child{
        color: rgba(86, 86 ,86, 1);
        font-size: 24px;
        line-height: 1.6;
        margin-bottom: 4px;
    }

    .services .row .halfLeft .text p small{
        font-size: 60%;
    }


    .services .row .half .text p:nth-child(2){
        width: 120%;
    }

    .services .row .half .text p:first-child{
        color: rgba(86, 86 ,86, 1);
        font-size: 24px;
        line-height: 1.6;
        margin-bottom: 4px;
    }

    .services hr
    {
        width: 75%;
        margin: 0 auto;
        border: 0;
        border-top: 1px solid #f5f5f5;
    }

/*-----------Portafolio-----------*/
    .portafolio
    {
            background: #fff;
            width: 100%;
            text-align: center;
    }
           
            .portafolio article
            {
                    padding: 4em 0 1em 0;
            }
     
            .portafolio article h2
            {
                    color: #565656;
                    font-size: 1.8em;
                    margin: 0;
            }

            .portafolio article h3:first-child
            {
                    color: #545454;
                    margin: 0;
            }
     
            .portafolio article h3
            {
                    color: #a4a4a4;
                    margin: 35px 0 5px;
            }
     
            .portafolio .image
            {
                padding-top: 3em;
                padding-bottom: 3em;
                width: 85%;
                margin: 0 auto;
            }
     
            .portafolio .image > article
            {
                border: 2px solid #f9f9f9;
                border-radius: 8px;
                display: inline-block;
                width: 35%;
                vertical-align: top;
                margin-left: 1.5%;
                margin-right: 1.5%;
                -webkit-box-shadow: 3px 3px 3px 0px #f9f9f9;
                -moz-box-shadow: 3px 3px 3px 0px #f9f9f9;
                box-shadow: 3px 3px 3px 0px #f9f9f9;
                margin-bottom: 5.5em;
                overflow: visible;
                position: relative;
                text-align: center;
            }

            .portafolio .image > article:after, article:before{
                content: "";
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                display: block;
                height: 50px;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            .portafolio .image .introduccion:after, .introduccion:before{
                background: #D4C711;
            }

            .portafolio .image .profesional:after, .profesional:before{
                background: #43A822;
            }

            .portafolio .image .metasploit:after, .metasploit:before{
                background: #FC5249;
            }

            .portafolio .image .python:after, .python:before{
                background: #7093ED;
            }

            .portafolio .image .move .view_course{
                padding: 2em 0 1em;
                text-align: center;
            }

            .portafolio .image .move .view_course a{
                background: #fff;
                color: #1186c4;
                border: 1px solid #0f76ac;
                padding: 5px 20px;
                text-decoration: none;
                -webkit-border-radius: 1000px;
                -moz-border-radius: 1000px;
                -o-border-radius: 1000px;
                border-radius: 1000px;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -moz-osx-font-smoothing: grayscale;
                overflow: hidden;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-property: color, background-color;
                transition-property: color, background-color;
            }

            .portafolio .image .move .view_course a:hover{
                -webkit-animation-name: hvr-back-pulse;
                animation-name: hvr-back-pulse;
                -webkit-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;  
                color: #fff;
                background: #0f76ac;
            }

            .portafolio .image .portafolio_class{
                left: 36%;
                position: absolute;
                top: -2em;
                z-index: 4;
            }

            .portafolio .image .portafolio_class img{
                width: 100px;
                border: 3px solid #f8f5dd;
                border-radius: 1000px;
            }
     
            .portafolio .image .move
            {
                position: relative;
                text-align: center;
                z-index: 3;
                padding-top: 2.3em;
            }
     
            .portafolio .image #namePent
            {
                    padding: 1em 0;
                    background: url("/static/img/PenTesting-cinta.png") no-repeat center;
           
            }
           
     
            .portafolio .image #appWeb
            {
                    padding: 1em 0;
                    background: url("/static/img/appWeb.png") no-repeat center;
           
            }
     
            .portafolio .image #wifi
            {
                    padding: 1em 0;
                    background: url("/static/img/ataqueWifi.png") no-repeat center;
           
            }
     
            .portafolio .image #MetaSploit
            {
                    padding: 1em 0;
                    background: url("/static/img/MS.png") no-repeat center;
           
            }
     
            .portafolio .image #pythonYruby
            {
                    padding: 1em 0;
                    background: url("/static/img/RyP.png") no-repeat center;
           
            }
     
            .portafolio .image #introduccion
            {
                    padding: 1em 0;
                    background: url("/static/img/introduccion-cinta.png") no-repeat center;
           
            }
     
            .portafolio .image .move h4
            {
                    color: #565656;
                    margin: 0;
            }
     
            .portafolio .image .move p
            {
                    color: #b8b8b8;
                    margin: 0;
                    padding: 10px 20px 0;
                    font-size: 1em;
                    text-align: center;
            }
     
            .portafolio .image .move span
            {
                    color: #a4a4a4;
            }

 /*-----------Team-----------*/
    .team
    {
            background: #fff;
            text-align: center;
    }
     
            .team h2
            {
                    color: #565656;
                    font-size: 2em;
                    margin-bottom: 0.5em;
            }
     
            .team h3
            {
                    color: #a4a4a4;
                    margin: 0 auto;
                    margin-bottom: 2em;
                    width: 60%;
            }
     
            .team div
            {
                    padding: 1em 0 2em 0;
            }
     
            .team a
                    {
                            background: #1186c4;
                            border-color: #0f76ac;
                            border-radius: 100px;
                            font-size: 18px;
                            color: #f9f9f9;
                            font-weight: bold;
                            margin: 200px 0px 0px 0px;
                            padding: 15px 40px 12px 40px;
                            text-decoration: none;
                            text-transform: uppercase;
                            transition: background-color 0.5s;
                    }
     
            .team a:hover
                    {
                            background-color: #0d6695;
                    }

    .team .rowTemario{
        width: 80%;
        margin: 0 auto;
        display: table;
    }

    .team .rowTemario ul{
        -moz-column-count: 3;
        -o-column-count: 3;
        -webkit-column-count: 3;
        padding: 0;
    }

    .rowTemario li{
        color: rgba(81, 81 ,81, 0.7);
        display: inline-block;
        list-style: none;
        width: 100%;
    }

    .rowTemario li p{
        margin: 10px 0 0 0;
        text-align: left;
    }
     
/*-----------Footer-----------*/

footer hr
    {
        width: 100%;
        margin: 0 auto 30px;
        border: 0;
        border-top: 1px solid #f5f5f5;
    }

footer
{
    margin: 2em  auto 0 auto;
    width: 65%;
    padding-bottom: 2em;
}

footer p{
    display: inline-block;
    width: 24%;
    float: right;
    color: #C3C3C3;
}

footer figure
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

footer figure img
{
    display:  block;
    margin: 0 auto;
}

footer .nav_footer{
    border: none;
    padding: 0;
    margin-right: 5px;
}


footer .nav_footer li a:hover{
    cursor: pointer;
    color: #0f76ac;
    text-decoration: underline;
}

footer figure figcaption
{
    padding:1em 0;
    color: #A9A9A9;
    font-size: 14px;
}

footer ul.redes{
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
}

footer ul
{
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 3em;
    text-align: center;
    color: #B7B7B7;
}
footer ul li
{
    font-size: 18px;
    padding: 0 0.4em 1em 0.4em;
    text-align: left;
}

footer ul.redes li
{
    display: inline-block;
}

footer ul li a
{
    text-decoration: none;
    color: #C3C3C3;
    font-size: 1em;
}


/*----------ladding cursos----------*/

.main-header.courses{
    width: 75%;

}

.main-header.courses .course{
    width: 28%;
    display: inline-block;
    border: 10px solid #fff;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -o-border-radius: 1000px;
    border-radius: 1000px;
}

.main-header.courses .descrip{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 75px;
}

.main-header.courses .descrip .info{
    width: 100%;
}



.services .services_couseDescrip{
    width: 65%;
    margin: 0 auto;
    color: #a4a4a4;
}

.team .signup_courses{
    padding: 50px;
}

.team .signup_courses a:hover{
    color: #fff;
}

.team .signup_courses h2{
    color: #fff;
    font-weight: bold;
    font-size: 2.3em;
}

.team .rowTemario .content_temario{
    padding: 0;
    margin: 95px 4% 1%;
    border: 1px solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.team .rowTemario .content_temario.basic{
    border-color: #85cc8b;
}

.team .rowTemario .content_temario.intermediate{
    border-color: #8ebdd1;
}

.team .rowTemario .content_temario.advanced{
    border-color: #eb8e8e;
}

.team .rowTemario .content_temario img{
    z-index: 4;
    margin-top: -62px;
    height: 100px;
    width: 100px;
    border-radius: 1000px;
}

.team .rowTemario .content_temario .descrip_content{
    margin-bottom: 15px;
    margin-top: 15px;
    height: 73px;
    padding: 0 5px;
}

.team .rowTemario .content_temario .level{
    font-size: 75%;
    margin-bottom: -10px;
    margin-top: 0;
    height: auto;
}

.team .rowTemario .content_temario .descrip_content p{
    margin-bottom: 0;
}

.team .rowTemario .content_temario .level s{
    text-decoration: none;
    background: #fff;
    padding: 2px 10px;
    border: 1px solid;
}

.team .rowTemario .content_temario.basic .level s{
    color: #85cc8b;
    border-color: #85cc8b;
}

.team .rowTemario .content_temario.intermediate .level s{
    color: #8ebdd1;
    border-color: #8ebdd1;
}

.team .rowTemario .content_temario.advanced .level s{
    color: #eb8e8e;
    border-color: #eb8e8e;
}

.team .teacher{
    width: 55%;
    margin: 30px auto 0;
}

.team .teacher h2{
    font-size: 3em;
}

.team .teacher .teacher_descrip img{
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

.team .teacher .teacher_descrip h3{
    color: #565656;margin-bottom: 0.2em;margin-top: 1em;
}

.team .teacher .teacher_descrip p{
    color: #c2c5c7;
}



/*-----------Cursos.html-----------*/

.index-cursos{
    background: url("../img/bg1-2.jpg") no-repeat center top fixed;
    position: relative;
    background-size: cover;
}
.index-cursos .fixed {width: 100%;}
.index-cursos .sub-header .nav-bar
{
        float: none;
        list-style: none;
}

.index-cursos .sub-header .nav-bar li:nth-child(5),.index-cursos .sub-header .nav-bar li:nth-child(6){
    float: right;
}

.index-cursos .start
{
    border:1px solid white;
    padding: 1em 1.2em;
    border-radius: 5px;
    font-size: 12px;
}

.index-cursos .start:hover
{
    background-color: #24DC97;
    color: #fff !important;
    border:1px solid #24DC97;
}

.index-cursos .info{margin-top: 30px;}

.index-cursos .info p:nth-child(1), .index-cursos .info p:nth-child(2){
    margin: 0;
    font-size: 4em;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    width: 85%;
}

.index-cursos .info p:nth-child(3){
    padding: 1.5em 0;
    font-size: 1.5em;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
    width: 60%;
}

.index-cursos .info .black{
    background: #455D6A;
    border-bottom: 3px #5f7d8d solid;
}

.index-cursos .down{
    display: block;
    position: absolute;
    width: 87px;
    height: 27px;
    left: 50%;
    bottom: 10%;
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    transform:translate(-50%,0);
}

.section1
{
    text-align: center;
    background: #fff;
}

.section1 h3{
    margin-top: 79px;
    color: #283A44;
}

.section1 > p{
    font-size: 1.6em;
    color: #687177;
    margin: 0;
}


.article-front
{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 100px auto;
}

.article-front > div
{
    margin: 0 auto;
    width: 64px;
    height: 70px;
}

#icons{
    max-width: 80px;
    max-height: 75px;
}

#icons-class{
    max-width: 85px;
    max-height: 85px;
}

.article-front p:nth-child(even)
{
    color: #283A44;
    font-weight: bold;
}

.article-front p:nth-child(odd)
{
    color: #687177;
}

.article-back{
    background: #24dc97;
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin-top: -300px;
    color: white;
    border-radius: 5px;
    opacity: 0;
}

.article-back p:nth-child(odd)
{
    font-weight: bold;
    padding: 2.5em 0 0 0;
}

.article-back .btn{
    display: block;
    width: 50%;
    border-radius: 5px;
    margin: 50px auto;
    background: white;
    font-weight: bold;
    padding: 0.7em 1.5em;
    text-decoration: none;
    border-bottom: 4px solid #ccc;
    color: #24dc97;
}

.title{
    margin-bottom: 0px;
    color: yellow;
}

.section2 .temario p{
    margin-bottom: 0px;
}

.section2 .temario p a{
    color: rgba(104, 113, 119, 0.74);
    text-decoration: none;
}

.section2 .temario p a:not(.action){
    cursor: pointer;
    font-weight: 500;
}

.section2 .mid, .left, .right{
    display: none;
    width: 81.5%;
    margin: 0 auto;
    margin-top: -40px;
    margin-left: 118px;
    position: absolute;
}

.section2 .contenTemario .temarioList{
    width: 20%;
    margin: 1em 1em 0 1em;
    position: relative;
    float: left;

}

.section2 .temarioList ul{
    width: 100%;
}

.section2 .temarioList ul li{
    display: block;
    font-size: 12px;
    text-align: left;
}

.section2 .temarioList ul li ul li p:before {
    content: ' \25CF';
    font-size: 10px;
    margin-right: 8px;
    color: #c6c6c6;
    vertical-align: top;
}

.contenTemario{
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 30px;
    position: absolute;
}

.section2 .colorIntro .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #D4C711;
}

.section2 .colorIntro .contenTemario{
    border-top: 5px solid #D4C711;
}

.section2 .colorWiFi .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #13D4B0;
}

.section2 .colorWiFi .contenTemario{
    border-top: 5px solid #13D4B0;
}

.section2 .colorProf .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #43A822;
}

.section2 .colorProf .contenTemario{
    border-top: 5px solid #43A822;
}

.section2 .colorWEB .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #887BAB;
}

.section2 .colorWEB .contenTemario{
    border-top: 5px solid #887BAB;
}

.section2 .colorMS .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #FC5249;
}

.section2 .colorMS .contenTemario{
    border-top: 5px solid #FC5249;
}

.section2 .colorPR .up{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #7093ED;
}

.section2 .colorPR .contenTemario{
    border-top: 5px solid #7093ED;
}

.section2 .left .up{
    margin-left: 14.5%
}

.section2 .mid .up{
    margin-left: 49%
}

.section2 .right .up{
    margin-left: 84.5%
}

.section2 .close{
    position: absolute;
    margin-left: 97%;
    margin-top: 8px;
}

.section2 .close img:hover{
    background: #000;
}

.section2 .close img{
    margin: 0;
    background: #687177;
    font-size: 18px;
}

.section2 .close img:not(.action){
    cursor: pointer;
    font-weight: 500;
}

.section2, .section4, .section6, .section8, .section10{
    border: 1px solid #E8EAEB;
    background: #F7F9F9;
    text-align: center;
    padding: 5em 0;
}

.section2 ul{
    display: table;
    width: 40%;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.section2 p,.section3 p,.section4 p,.section5 p,.section6 p,.section7 p,.section9 p,.section10 p,.section11 p{color: #687177;font-size: 1.2em;}
.section2 h3,.section3 h3,.section4 h3,.section5 h3,.section6 h3,.section7 h3,.section9 h3,.section10 h3,.section11 h3{color: #283A44;}

.section2 ul li{
    display: table-cell;
    padding: 0 5px;
}

.section2 ul a{
    display: block;
    text-decoration: none;
    color: #283A44;
    padding-bottom: 0.5em;
    font-weight: bold;
}

.section2 ul a:hover{
    border-bottom: 2px solid #687177;
}

.section2 .icon-class{
    margin-bottom: 6px;
}

#container{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.section2 .mix{
    display: none;
    width: 27%;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section2 .mix img{
    max-width: 100%;
}

.section3, .section5, .section7, .section9,.section11
{
    text-align: center;
    padding: 5em 0;
}

.section3 .carrusel, .section4 .carrusel2, .section8 .carrusel2,.section9 .carrusel{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.section3 .carrusel div{margin: 0 10px;}

.section3 .carrusel div img{
    width: 100%;
}

.section3 p{padding-bottom: 1em;}

.section4, .section6, .section10{
    background: #F7F9F9 url("../img/testimonialsbg.jpg") repeat left top !important;
}

.section4.sectionFT{

    display:block;position:relative;margin-top:510px;
}

.section4.sectionFT.courses{
    background: none !important;
    border: none;
    margin-top: 0;
}

.section4.sectionFT .row blockquote{
    background-color: #f6f9fa;
    border-left: none;
    color: rgba(85,94,106,0.8);
    font-size: 16px;
    font-style: italic;
    line-height: 1.6;
    margin: 0 0 30px 0;
    padding: 26px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 3px 0 #dce8ed;
}

.section4.sectionFT .row blockquote:before {
border: solid 14px transparent;
z-index: 3;
content: "";
display: block;
height: 0;
width: 0;
position: absolute;
border-top-color: #f6f9fa;
top: auto;
right: auto;
bottom: -28px;
left: 30px;
}

.section4.sectionFT .row blockquote:after {
border: solid 14px transparent;
z-index: 2;
content: "";
display: block;
height: 0;
width: 0;
position: absolute;
border-width: 18px;
border-top-color: #dce8ed;
top: auto;
right: auto;
bottom: -36px;
left: 26px;
}

.section4.sectionFT .row .img_twitter{
    float: left;
    margin-right: 12px;
    margin-left: 28px;
    width: 32px;
    height: 34px;
    border-radius: 1000px;
}

.section4.sectionFT .row .user_twitter{
    float: left;
}

.section4 .carrusel2{
    width: 70%;
}

.section4 .pic{
    margin: 0 auto;
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.section4 .pic img{
    border-radius: 50%;
    width: 85px;
    height: 85px;
}

.section4 .carrusel2 div p{
    font-size: 1.4em;
}

.small{
    font-size: 16px !important;
}

.small.nickTwitter{
    margin-top: 30px;
}

.section5{
    background: #F7F9F9;
}

.section5 .person,.section10 .person{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    padding: 4em 0;
}

.section5 .person div
{
    height: 163px;
}

.section5 .person div img{
    border-radius: 50%;
}

.section6 h3{
    font-size: 3em;
}

.section6 a{
    display: block;
    width: 10%;
    background: #24dc97;
    border-radius: 5px;
    border-bottom: 3px #3ac162 solid;
    color: #f9f9f9;
    margin: 0 auto;
    font-weight: bold;
    padding: 1.1em 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.section7 input, .section7 textarea{
    border: none;
    box-shadow: 0 -1px 1px rgba(169, 169, 169,0.4);
    background: #f6f8f8;
    border-radius: 5px;
    padding: 1em;
}

.section7 input{
    display: inline-block;
    width: 20%;

    margin-left: 5px;
}

.section7 div{
    margin-bottom: 15px;
}

.section7 textarea{
    display: block;
    width: 43%;
    margin: 0 auto;
}

.section7 input[type="submit"]
{
    display: block;
    width: 15%;
    background: #24dc97;
    border-radius: 5px;
    border-bottom: 3px #3ac162 solid;
    color: #f9f9f9;
    margin: 0 auto;
    font-weight: bold;
    padding: 1.1em 2.5em;
    margin-top: 20px;
}

.section8 .carrusel2{width: 60%; font-size: 1.3em;}

.section8 .twitter{color: #24DC97}
.section8 .twitter a{
    color: #24DC97;
    text-decoration: none;
}

.section8 .small{color: #9ca7ad}

.section8 .follow, .section11 a{
    display: block;
    width: 10%;
    margin: 40px auto;
    background: #567181;
    color: #ffffff;
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 5px;
    border-bottom: 4px solid #283a44;
    text-decoration: none;
}

.section8 .follow:hover{
    background: #24dc97;
    border-bottom: 4px solid #1fc788;
}

.section8{
    background: url("../img/contactbanner1.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
}

.section9 .carrusel{
    width: 50%;
    margin-right: 21.5%;
}

.section9 p{
    font-size: 1.7em !important;
}

.section10 .person div{
    color: #24dc97;
    font-size: 3em;
    height: 50px;
}

.section11 .table{
    display: inline-block;
    vertical-align: top;
    width: 28%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-left: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.section11 .table:hover{
    background: #28dc99;
    color: #fff;
}

.section11 .table:hover .table-name{
    background: #22d18f;
}

.section11 .table-name{
    padding: 1.5em 0;
    background: #eee;
    font-size: 1.2em;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.section11 .table-name span{
    color: #24dc97;
}
.section11 .table-options{
    font-size: 14px;
}
.section11 .table-options span{
    font-weight: bold;
}

.border{border-left: 1px solid #ccc !important;}

.section11 .btn-table{
    width: 30%;
}

.section11 .table:hover .btn-table{
    color: #28dc99;
    background: #f2f2f2;
    border-bottom: 4px solid #ccc !important;
}

.section11 .table:hover{
    background: #24dc97;
    color: #fff !important;
}

.section11 .table:hover span{
    color: #fff !important;
}

.section11 .table:hover p{
    color: #fff !important;
}

/*------------- register -------------*/
.labelPayment .error .errorlist{
    list-style: none; 
    margin: 0;
}

.labelPayment .error .errorlist li:before {
    content: "\f11a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #f04124;
    left: 55px;
    font-size: 21px;
    margin-right: 8px;
}

.labelPayment .error .errorlist li:hover:before {
    content: "\f119";
}

/*------------- Pricing -------------*/
.header-pricing{
    background: #4cb7ef;
    color: #fff;
}

.main-header{
    width: 55%;
    margin: 0 auto;
    text-align: center;
    padding: 17px 0 130px;
    color: #f9f9f9;
}

.main-header h1 {
    font-weight: bolder;
    font-size: 50px;
    color: #f9f9f9;
}

.main-header h2 {
    color: #d8effc;
    font-size: 22px;
}

.descrip-pricing{
    width: 80%;
    margin: 0 auto;
    margin-top: -70px;
}

.row-decripPricing{
    float: right;
    min-height: 1px;
    padding: 0px 1%;
    position: relative;
    width: 50%;
    font-family: "Ubuntu";
    margin-bottom: 50px;
}

.descripPricing{
    background-color: #fff;
content: " ";
display: block;
width: 100%;
height: 8px;
top: 0px;
left: 0px;
height: auto;
}

.descripPricing.free{
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 40px;
}

.purchaseData input[type="text"], input[type="email"], input[type="password"]{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.purchaseData input[type="text"], input[type="email"], input[type="password"], select, .tabs{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.purchaseData .button{
  background: #0e86c5;
  border-radius: 5px;
  margin: 0 auto 15px;
  border-bottom: 3px #0c6999 solid;
}

.purchaseData .button:hover{
   background: #0c6999;
}

.purchaseData input:focus{
  border-color: #0c6999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.reveal-modal{
    background: rgba(0,0,0,0);
}

.row .formStep{
  background-color: #0e86c5;
  color: #fff;
  height: 30px;
  line-height: 30px;
  margin: -2px 10px 0 -40px;
  position: relative;
  text-align: center;
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border-bottom: 3px #0c6999 solid;
}
form hr {
border-color: #e4ecee;
margin-top: 20px;
margin-bottom: 25px;
}

.descripPricing.free:before{
    background-color: #C6C6C6;
content: " ";
display: none;
position: absolute;
width: 96%;
height: 8px;
top: 0px;
left: 2%;
border-radius: 8px 8px 0 0;
}

.descripPricing.payment {
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.75);
    border-radius: 8px;
    padding: 40px;
}

.descripPricing.payment .Payment .row .laberPAyment{
    font-size: 18px;color: #565656;
}

.descripPricing.payment:before{
    background-color: #3887be;
content: " ";
display: none;
position: absolute;
width: 96%;
height: 8px;
top: 0px;
left: 2%;
border-radius: 8px 8px 0 0;
}

.pricing-header{
    background: #fff;
    display: table;
    width: 100%;
    margin-bottom: 40px;
}

.pricing-header h3{
    float: left;
    color: #565656;
    font-weight: bold;
    font-size: 35px;
}

.pricing-header span{
    float: right;
    color: #8e8e8e;
    font-size: 30px;
    margin-top: 8px;
}

.listPricing li{
    list-style: none;
    margin: 10px;
    color: #a4a4a4;
    font-size: 19px;
}

.listPricing li:before {
    content: "\f13e";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #c6c6c6;
    position: absolute;
    left: 55px;
    font-size: 18px;
}

.listPricing li:hover:before {
    color: #4679bd;
}

.row-FAQ{
        width: 100%;
        background: #f9f9f9;
        display: inline-block;
        position: relative;
        padding-top: 70px;
    }

     .row-FAQ .contentFAQ{
        width: 85%;
        margin: 0 auto;
        display: block;
        position: relative;
        padding-bottom: 80px;
    }

    .row-FAQ .contentFAQ:after{
        content: "";
        display: table;
    }


    .row-FAQ .contentFAQ div h3{text-align: center; color: #565656;
        font-family: "Ubuntu";
        margin-bottom: 40px;
        font-weight: bold;
    }

    .row-FAQ .contentFAQ .columns-five{
        width: 47%;
        margin: 0 1.5%;
        float: left;
    }

    .row-FAQ .contentFAQ .columns-five .FAQ{
        width: 100%;
        background: #fff;
        float: left;
        position: relative;
        border-radius: 5px;
        margin-bottom: 20px;
        -moz-box-shadow: 0 3px 0 #e5eef1;
-webkit-box-shadow: 0 3px 0 #e5eef1;
box-shadow: 0 3px 0 #e5eef1;
    }

    .row-FAQ .contentFAQ .FAQ p{
        padding: 20px;
        font-family: "Ubuntu";
        line-height: 1.6;
        color: #a4a4a4;
    }

    .row-FAQ .contentFAQ .FAQ p strong{
        display: block;
        padding-bottom: 15px;
        color: #565656;
        font-size: 18px;
    }

.goFree{
    text-align: center;
    margin-top: 50px;
}

.goPayment{
    text-align: center;
    margin-top: 50px;
}

.goFree a{
    border: 2px solid #8e8e8e;
    border-radius: 100px;
    color: #8e8e8e;
    padding: 15px 30px;
    font-size: 20px;
}

.goFree a:hover{
    border-color: rgba(164, 164, 164, 0.6);
    color: rgba(164, 164, 164, 0.6);
}

.goPayment a{
    border: 2px solid #0f76ac;
    border-radius: 100px;
    background: #0f76ac;
    color: #f9f9f9;
    padding: 15px 30px;
    font-size: 20px;
}

.goPayment a:hover{
    background: #0d6695;
    color: #f9f9f9;
}

/*-----------/Width 1030px/-----------*/

@media screen and (max-width: 1030px){

.section4.sectionFT{
    margin-top: 690px;
}

.or hr{
    display: none;
}

}



/*-----------/Width 800px/-----------*/

@media screen and (max-width: 800px){
    #popup_register .content_signup{
    width: 80%;
}

.team .content_signup{
    width: 90%;
}

.main-header.courses .course{
    width: 50%;
}

.main-header.courses .descrip{
    width: 100%;
    text-align: left;
    padding-left: 0;
    text-align: center;
}


.signup_complete{
    margin-top: 25%;
}
    
/*-----------Menu Responsive-----------*/
    .nav-bar{
        float:left;
        background: #333;
        width: 100%;
        overflow: hidden;
        height: 0;
    }
    
    .nav-bar.nav-open{
        background: #2e9dec;
    }

    .nav-open{height: auto;}

    .perilla{
        display: block;
        float: right;
        padding-top: 2.5em;
        text-decoration: none;
        color: #fff;
    }

    .nav-bar li{
        width: 100%;
    }
/*-----------End Menu Responsive-----------*/

    .material .mobile{display: block;}

    .material .coolbox{display: none;}

    .info
    {
        text-align: center;
        width: 90%;
    }

    .info h1
    {
        width: 100%;
    }

    .services h3
    {
        margin: 0 auto;
        width: 80%;
    }

    .portafolio .image > article
    {
        width: 98%;
        margin-bottom: 70px;
    }

    .portafolio .image > article .portafolio_class{
        left: 40%;
    }

    .index-cursos .info{
        padding-top: 0;
    }

    .index-cursos .info p:nth-child(1),.index-cursos .info p:nth-child(2){
        font-size: 2em;
    }

    .index-cursos .info p:nth-child(3) {
        padding: 1.5em 0;
        font-size: 1.2em;
    }

    .section1 .article-front{
        display: inline-block;
        width: 40%;
    }

    .article-front {
        margin: 50px auto;
    }

    .section2 .mix {

        width: 40%;
        margin-bottom: 10px;
    }

    .section5 .person, .section10 .person,.section7 input[type="submit"]{
        width: 40%;
    }

    .section6 a{
        width: 40%;
    }

    .section7 input{
        width: 33%;
    }

    .section7 textarea{
        width: 70%;
    }

    .section8 .carrusel2, .section9 .carrusel{
        width: 80%;
    }

    .section8 .follow{
        width: 40%;
    }

    .section11 .table{
        margin-bottom: 20px;
        width: 70%;
    }

    .services .howWorks{
        display: none;
    }

    .services .stepHowWorks{
        display: none;
    }

    .info #how-it-works{
        display: none;
    }

    .services .descrip{
        display: block;
    }

    .services .descrip{
        display: block;
    }

    .services .descrip .one:before{
        content: ' 1 ';
        border-radius: 1000px;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        -o-border-radius: 1000px;
        background: #4cb7ef;
        color: #fff;
        font-weight: 900;
        font-size: 16px;
        padding: 7px 12px;

    }

    .services .descrip .two:before{
        content: ' 2 ';
        border-radius: 1000px;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        -o-border-radius: 1000px;
        background: #4cb7ef;
        color: #fff;
        font-weight: 900;
        font-size: 16px;
        padding: 7px 12px;

    }

    .services .descrip .tree:before{
        content: ' 3 ';
        border-radius: 1000px;
        -webkit-border-radius: 1000px;
        -moz-border-radius: 1000px;
        -o-border-radius: 1000px;
        background: #4cb7ef;
        color: #fff;
        font-weight: 900;
        font-size: 16px;
        padding: 7px 12px;

    }

    .services .descrip .text{
        width: 100%;
    }

    .services .row .halfLeft{
        margin: 20px 30px 10px 45px;
    }

    .services .row .halfLeft img{
        padding: 60px 43% 0 0;
    }

    .services .row .halfLeft .text{
        width: 100%;
        margin: 0 7px 0 auto;
    }

    .services .row .half{
        width: 34%;
        margin: 29px 0 10px 16px;
    }

    .services .row .half .text{
        width: 150%;
        margin: 0 0 0 -100px;
    }

    .services .row .half img{
        padding: 40px 10%;
        margin-left: -35px;
    }

    .services .row .half.imgMan img{
        padding: 40px 10%;
        margin-left: -35px;
    }

    .services .row .half .text p:nth-child(2){
        width: 100%;
    }

    /*---pricing----*/
    .row-decripPricing{
        width: 100%;
    }

    .main-header{
        width: 80%;
    }

    .row-FAQ .contentFAQ .columns-five{
        width: 100%;
    }

    .section4.sectionFT{
        margin-top: 1180px;
    }

    .trust .trust_row .trusts li img{
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        filter: alpha(opacity=100);
        opacity: 1;
    }

    /*--------- footer --------*/
    footer .nav_footer{
        width: 100%;
    }

    footer ul{
        display: block;
    }

    footer .nav_footer.end{
        border: none;
    }
    footer p{
        width: 100%;
    }
}


/*-----------/Width 480px/-----------*/

@media screen and (max-width: 480px){

    .material .mobile{display: block;}

    .material .coolbox{display: none;}

    .info #how-it-works{
        display: none;
    }

    .portafolio .image > article .portafolio_class{
        left: 34%
    }

    .info
    {
        text-align: center;
        width: 90%;
        padding-top: 6em;
    }

    
    .info h1
    {
        padding-bottom: 0.2em;
        width: 100%;
        font-size: 30px;
        font-weight: bold;
    }

    .portafolio .image > article
    {
        margin: 0 auto;
        display: block;
        width: 100%;
        margin-bottom: 60px;
    } 

    .index-cursos .info a{
        display: block;
        padding: 1em;
        width: 50%;
        margin: 0 auto;
    }

    .index-cursos .info p:nth-child(1),.index-cursos .info p:nth-child(2){
        font-size: 1em;
    }

    .index-cursos .info p:nth-child(3) {
        padding: 1.5em 0;
        font-size: 1em;
    }

    .section1 .article-front{
        display: block;
        width: 90%;
    }

    .section2 ul li{display: block;}

    .section2 .mix{
        height: 80px;
        width: 80%;
    }

    .section5 .person,.section10 .person{
        width: 70%;
    }

    .section11 .table{
        width: 85%;
        margin-bottom: 10px;
    }

    .section8 .follow{
        width: 30%;
    }

    .section7 input[type="submit"]{
        width: 40%;
    }

    .section7 input,.section7 textarea{
        width: 70%;
    }

    .section6 a{
        width: 50%;
    }

    .section1 > p{
        margin: 0 auto;
        width: 80%;
    }

    .section2 p, .section3 p, .section4 p, .section5 p, .section6 p, .section7 p, .section9 p, .section10 p, .section11 p {
width: 80%;
margin: 0 auto;
margin-bottom: 20px;

}

.index-cursos .info {
margin-top: 20px;
}

.index-cursos .down{
    display: none;
}


.services .row{
    display: block;
    position: relative;
    }

.services .row .halfLeft.img{
        margin: 0 auto;
        width: 50%;
    }

.services .row .halfLeft.img img{
        padding: 60px 0 0 15%;
    }

.services .row .halfLeft{
        margin: 0;
        width: 100%;
    }

.services .row .halfLeft .text{
        text-align: center;
        margin-top: 170px;
    }

    .services .row .half{
        margin: 0;
        width: 100%;
    }

    .services .row .half.img{
        position: absolute;
        width: 50%;
        margin: -390px 33%;
    }

    .services .row .half.imgMan{
        position: absolute;
        width: 50%;
        margin: -390px 33%;
    }

    .services .row .half.imgMan img{
        padding: 40px 18%;
    }

    .services .row .half .text p:nth-child(2){
        width: 100%;
    }

    .services .row .half .text{
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .section4.sectionFT{
        margin-top: 1180px;
    }

    .content-redes .redes.signup{
        position: absolute;
        width: 100%;
        left: 0;
    }

    .content-redes .redes{
        width: 100%;
        position: relative;
        left: 0;
    }

    .content-redes .redes:after{
        display: none;
    }

}

/*-----------/Width 380px/-----------*/

@media screen and (max-width: 380px){
    .services .row .half.imgMan{
        margin: -435px 33%;
    }

    .services .row .half.img{
        margin: -415px 33%;
    }
    .section4.sectionFT{
        margin-top: 1600px;
    }
    .descripPricing.free{
        padding: 26px;
    }

    .portafolio .image > article .portafolio_class{
        left: 33%;
    }
}

@media screen and (max-width: 320px){
    .portafolio .image > article .portafolio_class{
        left: 26%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px){
    .index-cursos .info {
        margin-top: 0; 
    }

    .index-cursos .info p:nth-child(1), .index-cursos .info p:nth-child(2) {
        font-size: 3em;
    }

    .index-cursos .info p:nth-child(3) {
        padding-bottom: 1em;
        font-size: 1em;
    }
}