@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
body
{
	font-family: "Ubuntu";
}
h1,h2,h3,h4{margin: 0}

.index-header{
	background: url(../img/bg2.jpg) no-repeat center top;
	background-size: cover;
	height: 850px;
}
footer
{
	margin: 2em  auto 0 auto;
	width: 50%;
	padding-bottom: 2em;
}
footer figure
{
	display: inline-block;
	margin-left: 290px;
}
footer p
{
	display: inline-block;
	margin-left: 240px;
	color: #A9A9A9;
	font-size: 14px;
}
footer ul
{
	list-style: none;
	padding: 0;
	text-align: center;
	color: #B7B7B7;
}
footer ul li
{
	font-size: 18px;
	display: inline-block;
	padding: 0 0.3em 0 0.3em;
}
footer ul li a
{
	text-decoration: none;
	color: #C3C3C3;
}

.sub-header{
	margin: 0 auto;
	overflow: hidden;
	width: 75%;
}

.logo{
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
	float: left;
	padding-top: 1.3em;
	text-decoration: none;
}
.logo img
{
	width: 70px;
	display: inline-block;
	float: left;
}

.sub-header ul{
	float: right;
	list-style: none;
}

.sub-header ul li{
	float: left;
	padding: 1.5em 1em;
}

.sub-header ul a{
	text-decoration: none;
	color: #f9f9f9;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	transition: color 0.3s;
}
.sub-header ul a:hover
{
	color: #B7B7B7;
}
.info
{
	margin-left: 170px;
	color: #f9f9f9;
	padding-top: 10em;
}
.info h3{
	font-size: 16px;
	padding-bottom: 2em;
}
.info h1
{
	padding-bottom: 0.2em;
	width: 55%;
	font-weight: bold;
	margin-bottom: 0.4em;
	background: rgba(0,0,0,0.4);
}
.info h1{font-size: 40px;}

.info a, .contact a, .team a
{
	background: #5fcf80;
	border-radius: 5px;
	border-bottom: 3px #3ac162 solid; 
	color: #f9f9f9;
	font-weight: bold;
	padding: 1.1em 2.5em;
	text-decoration: none;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	transition: background-color 0.5s;
}

.info a:hover, .contact a:hover, .team a:hover
{
	background-color: #3ac162;
}

.link-cool
{
	background: #5fcf80;
	border-radius: 5px;
	border-bottom: 3px #3ac162 solid; 
	color: #f9f9f9;
	font-weight: bold;
	padding: 1.1em 2.5em;
	text-decoration: none;
	text-shadow:0 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
	transition: background-color 0.5s;
}
.link-cool:hover
{
	background-color: #3ac162;
}
.portafolio > article, .about > article, .team > div,.contact > div
{
	text-align: center;
	padding: 4em 0 2em 0;
}

.texto > h4,.our-team > article > h4{color: #333;}


.services > article
{
	text-align: center;
	padding: 4em 0 1em 0;
}
.services h2
{
	color: #565656;
	font-size: 2em;
	padding-bottom: 0.3em;
}
#boxesxd
{
	overflow: hidden;
	padding-left: 24em;
	padding-bottom: 3em;
}
.services .infobox1
{
	float: left;
	height: 350px;
	width: 60%;	
}


.storage figure p, .services > article > h3, .portafolio > article > h3,.contact > div > h3, .move span, .team > div > h3,.our-team > article > span, .texto > p, .our-team p {
	color: #a4a4a4;
}


/*----Portafolio----*/
.portafolio h2
{
	color: #565656;
	font-size: 1.8em;
}
.portafolio, .team{background: #f7f7f7;}

.image{
	text-align: center;
	padding-bottom: 3em;
}

.image > article {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	background: #fff;
	margin-bottom: 4%;
	margin-left: 1.5%;
	margin-right: 1.5%;
}

.image article img{max-width: 100%; padding-top: 1.2em;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-o-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;cursor: pointer;}


.move{padding: 1em 0;}
.move h4
{
	color: #565656;
}
.material-title
{
	text-align: center;
	margin-top: 4em;
}
.material-title h2
{
	color: #565656;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.material-title h3
{
	color: #a4a4a4;
	margin: 0 auto;
	margin-bottom: 2em;
	width: 60%;
}
.material
{
	margin-top: 2em;
	overflow: hidden;
	padding-left: 9em; 
}

.material .coolbox
{
	float: left;
	height: 450px;
}

.material .coolbox1
{
	width: 17.1%;
}

.material .text-container
{
	background-color: #53bbb4;
	font-size: 14px;
	color: #fff;
	width: 200px;
	text-align: center;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.material .text-container1
{
	background-color: #53bbb4;
	margin-top: 27px;
}
.material .text-container2
{
	background-color: #39add1;
	margin-top: 270px;
}
.material .text-container3
{
	background-color: #637a91;
	margin-top: 27px;
}
.material .text-container4
{
	background-color: #53bbb4;
	margin-top: 270px;
}
.material .coolbox2
{
	width: 648px;
}
.material .coolbox2 img
{
	width: 650px;
}
.material .coolbox3
{
	width: 14%;
}

.sub-about{width: 75%;margin: 0 auto;}

.article{text-align: center;padding: 2em 0;}

.texto,.imagen{display: inline-block;padding-bottom: 2em;vertical-align: middle;}

.texto{width: 30%;}
.imagen{width: 50%; margin-left: 3%;margin-right: 3%;}
.imagen img{max-width: 100%;}

.right{text-align: right;}
.left{text-align: left;}

.linea,.linea2,.linea3{height: 200px;border-left: 5px solid #eee;position: absolute;left: 49%;top: 30%;z-index: -1;}
.linea2{top: 50%;}
.linea3{top: 70%;}

.team{padding-bottom: 6em;}

.team h2
{
	color: #565656;
	font-size: 2em;
	margin-bottom: 0.5em;
}
.team h3
{
	margin: 0 auto;
	margin-bottom: 2em;
	width: 60%;
}
.our-team{text-align: center;}

.picture{width: 220px;height: 220px;background: #333;border-radius: 50%; margin: 0 auto;margin-bottom: 4%;}

.our-team > article{display: inline-block;vertical-align: top;width: 30%;}

.our-team p{width: 60%;margin: 0 auto;padding-top: 1em;}
/*----Logos----*/

.logos
{
	margin-left: auto;
  	margin-right: auto;
	width: 80%;
	background: #fff;
	text-align: center;
	padding: 2em 0;
}
.logos h2
{
	color: #565656;
	font-size: 1.5em;
	margin-top: 2em;	
}
.logos img
{
	margin-left: 4%;
	margin-top: 2em;
}


/*----Contact----*/

.contact{
	background-size: 80%,auto;
	background-position: 850px 250px;
	color: #fff;
	text-align: center;
	padding-bottom: 3em;
}
.contact h2
{
	color: #565656;
	font-size: 1.5em;
	padding-bottom: 0.2em;	
}
.contact article input{
	color: #565656;
	width: 50%;
	margin: 0 auto;
	padding: 1em;
	border: 1px #9F9F9F solid;
	border-radius: 4px;
	display: block;
	margin-bottom: 5%;
}

.contact article input:last-child{margin-bottom: 0;}

.contact article{display: inline-block;vertical-align: top;width: 40%;}




