@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?y209r0');
	src:url('fonts/icomoon.eot?#iefixy209r0') format('embedded-opentype'),
		url('fonts/icomoon.woff?y209r0') format('woff'),
		url('fonts/icomoon.ttf?y209r0') format('truetype'),
		url('fonts/icomoon.svg?y209r0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-house:before {
	content: "\e600";
}
.icon-trophy:before {
	content: "\e601";
}
.icon-book:before {
	content: "\e602";
}
.icon-newspaper:before {
	content: "\e603";
}
.icon-lifebuoy:before {
	content: "\e604";
}
.icon-lock:before {
	content: "\e607";
}
.icon-login:before {
	content: "\e605";
}
.icon-list:before {
	content: "\e606";
}
