{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="En exploiter.co aprende técnicas profesionales de hacking. Cursos de hacking a redes wifi, hacking web, hacking con python, metasploit, y mucho más. Con Videos, laboratorios y todo un ecosistema.">
  <link rel="shortcut icon" href="/static/img/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exploiter.co - 404</title>
  <link rel="stylesheet" href="/static/css/style-website.css">
</head>

<body style="background:#f9f9f9;" >

<img class="img_404" src="/static/img/404_error.png" alt="Exploiter, no podemos encontrar lo que buscas">
<h2 style="margin: 0 0 20px 0">Lo sentimos pero la página que buscas no existe :(</h2>
<p class="p_404" >La página no existe o hubo un gran error... pero puedes ir a:</p>
<div class="cont_404">
    <ul>
        <li><a href='{% url "home" %}'>Home</a></li>
        <li><a href='{% url "courses" %}'>Cursos</a></li>
        <li><a href='/blog'>Blog</a></li>
    </ul>
</div>
<!-- Qualaroo for kissmetrics.com -->
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/972812958/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
