{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Exploiter.co | Plataforma{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/style-website.css" %}">
    <link rel="stylesheet" href="{% static "css/iconstyle.css" %}">
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
    <script src="{% static "js/discusiones.js" %}"></script>
    <meta name="google-site-verification" content="dUrm45owQX6TjwvGw9NjMCcr2kn5UU1mwQifH62OdnI" />
    <meta name="d8d4ff2748969b1055904afe515cdae055a06a57" content="7fb06bcebdc0d6398ff20a10a19a2d4e938bad88" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51277163-1', 'exploiter.co');
  ga('send', 'pageview');

</script>
<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("92623cef2230cef5fb3c7e0748877016");</script><!-- end Mixpanel -->
 </head>

<body>

<header class="index-header">
                <div class="sub-header">
                        <a href="{% url "home" %}" class="logo"><img src="{% static "img/logoexploiter.png" %}" alt="logo de exploiter"></a>
                        <a href="#" class="perilla"><img src="{% static "img/menu.png"  %}" height="32" width="32" alt="menu"></a>
                        {% block menu %}
                        <ul class="nav-bar white" id="nav">
                                <li><a href="{% url "home" %}">Inicio</a></li>
                                {% if user.is_authenticated %}
                                    <li class="mugshot_suscribirme">
                                        <a href="/accounts/{{ user.username }}/">
                                            <img src="{{ user.get_profile.get_mugshot_url }}">
                                        </a>
                                    </li>
                                    <li>
                                        {{ user.username }}
                                    </li>
                                {% else %}
                                    <li><a href="{% url "signup" %}">Registrarme</a></li>
                                    <li><a href="{% url "login" %}" id="sign-in" class="in">Entrar</a></li>
                                {% endif %}
                        </ul>
                        {% endblock %}
                </div>
</header>

{% block content %}
{% endblock %}


    <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();
      $(document).foundation('joyride', 'start');
    </script>
    {% block custom-javascript %}
    {% endblock %}
</body>

</html>
