{% load static from staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exploiter.co | Plataforma</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/iconstyle.css" %}">
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <script src="{% static "js/foundation/foundation.reveal.js" %}"></script>
    <script src="{% static "js/foundation/foundation.joyride.js" %}"></script>
  </head>

<body>

    <div id="wrapper">

        {% block menu %}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="#"><i class="icon-house"></i></a></li>
                <li><a href="#"><i class="icon-book"></i></a></li>
                <li><a href="#"><i class="icon-newspaper"></i></a></li>
                <li><a href="#"><i class="icon-trophy"></i></a></li>
                <li><a href="#"><i class="icon-plus"></i></a></li>
                <li class="user-img">
                    <a href="#">
                        <img src="img/user.jpeg">
                    </a>
                </li>
                <li><a href="#"><i class="icon-login"></i></a></li>
            </ul>
        </div>
        {% endblock %}
        <div id="page-content-wrapper">
            <header class="content-header">
                <a id="menu-toggle" href="#"><i class="icon-list"></i></a>
                {% block topnav %}
                <ul class="top-nav">
                    <li>
                        <a href="#" data-reveal-id="soporte">Soporte</a>
                    </li>
                    <li><a href="#">Tour</a></li>
                </ul>
                {% endblock %}
                    <div id="soporte" class="reveal-modal" data-reveal>
                      <h2>Hola, parece que tienes problemas</h2>
                      <p class="lead">En Exploiter.co estamos para ayudarte</p>
                      <p>Cuentanos lo que necesitas enviandonos un correo a e@exploiter.co o contactandonos por Skype en Exploiter.co</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
            </header>
            <section class="inset">
            {% block content %}

            {% endblock %}
            </section>
        </div>

    </div>

    <!-- JavaScript -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>

    <!-- Custom JavaScript for the Menu Toggle -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/jquery.cookie.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script>
      $(document).foundation();
      $(document).foundation('joyride', 'start');
    </script>
</body>

</html>