{% extends "base.html" %}
{% block title%}Exploiter: Aprende desde cero hacking ético profesional{% endblock %}
{% block content %}
            {% if user.is_authenticated %}
            <div class="row" data-equalizer>
                <!-- Inicio de Cursos iniciados -->
            {% if initiation_course %}
                <h2 class="courses_status">Cursos iniciados</h2>
            {% endif %}
              {% for course in initiation_course %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                       {% if user.is_authenticated %}
                            {% for key, value in percetage.items %}
                                {% if key == course %}
                                    <hr style="width: {{ value }}%" >
                                {% endif %}
                            {% endfor %}
                      {% endif %}
                        <h4 class="fancy-text-bold"> {{course.name}}</h4>
                    </li>
                    <li class="bullet-item border-radius-bottom">
                      {% if user.is_authenticated %}
                            {% for key, value in percetage.items %}
                                {% if key == course %}
                                    <a class="custom-button" href="{% url "course" course.slug %}">{% if value == 100 %} Aprobado {% else %}Continuar {{ value }}% {% endif %}</a>
                                {% endif %}
                            {% endfor %}
                      {% endif %}
                    </li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                       {% if user.is_authenticated %}
                            {% for key, value in percetage.items %}
                                {% if key == course %}
                                    <hr style="width: {{ value }}%" >
                                {% endif %}
                            {% endfor %}
                      {% endif %}
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item">
                      {% if user.is_authenticated %}
                        {% for key, value in percetage.items %}
                          {% if key == course %}
                            <a class="custom-button" href="{% url "course" course.slug %}">{% if value == 100 %} Aprobado {% else %}Continuar {{ value }}% {% endif %}</a>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </li>
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
                <!-- Fin de Cursos iniciados -->
              </div>
              <div class="row" data-equalizer>
                {% if initiation_course %}
                    {% if courses %}
                        <h2 class="courses_status">Cursos no iniciados</h2>
                    {% endif %}
                {% endif %}
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item border-radius-bottom"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    {% if permission_to_view_course %}
                        <li class="bullet-item border-radius-bottom"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                      {% else %}
                        <li class="bullet-item border-radius-bottom"><a class="custom-button" href="{% url "course" course.slug %}">Ver Curso</a></li>
                      {% endif %}
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
       {% else %}
              <div class="row" data-equalizer>
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item border-radius-bottom"><a class="custom-button" href="{% url "course" course.slug %}">Ver Curso</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table border-radius" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="130" height="130">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item border-radius-bottom"><a class="custom-button" href="{% url "course" course.slug %}">Ver Curso</a></li>
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
       {% endif %}
{% endblock %}
{% block custom-javascript %}
    <script>
    mixpanel.track("Logged in /cursos");
    </script>
{% endblock %}
