{% extends "base.html" %}
{% block title%}Exploiter.co - Todos tus cursos{% endblock %}
{% block content %}
            {% if user.is_authenticated %}
            <div class="row" data-equalizer>
                <!-- Inicio de Cursos iniciados -->
            {% if initiation_course %}
                <h2 class="courses_status">Cursos iniciados</h2>
            {% endif %}
              {% for course in initiation_course %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold"> {{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Entrar</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    {% if user.get_profile.paid_user %}
                        <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Entrar</a></li>
                      {% else %}
                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                      {% endif %}
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
                <!-- Fin de Cursos iniciados -->
              </div>
              <div class="row" data-equalizer>
                {% if initiation_course %}
                    {% if courses %}
                        <h2 class="courses_status">Cursos no iniciados</h2>
                    {% endif %}
                {% endif %}
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                <!-- <img src="/static/img/Box.png" class="bulb"> -->
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    {% if user.get_profile.paid_user %}
                        <li class="bullet-item"><a class="custom-button" href="{% url "course" course.slug %}">Iniciar</a></li>
                      {% else %}
                        <li class="bullet-item"><a class="custom-button" href="{% url "pricing" %}">Suscribirte</a></li>
                      {% endif %}
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
       {% else %}
              <div class="row" data-equalizer>
              {% for course in courses %}
              {% if course.course_type == 'free' %}
                <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "signup" %}">Registrarse</a></li>
                  </ul>
                </div>
              {% endif %}
              {% if course.course_type == 'paid' %}
              <div class="large-6 columns {% if forloop.last %}end{% endif %}">
                  <ul class="pricing-table" data-equalizer-watch>
                    <p></p>
                    <li class="price">
                          <img src="{{MEDIA_URL}}{{course.image}}" width="120" height="120">
                    </li>
                    <li class="description">
                        <h4 class="fancy-text-bold">{{course.name}}</h4>
                    </li>
                    <li class="bullet-item"><a class="custom-button" href="{% url "pricing" %}">Suscribirte</a></li>
                  </ul>
                </div>
              {% endif %}
              {% endfor %}
	    </div>
       </div>
       {% endif %}
{% endblock %}
{% block custom-javascript %}
    <script>
    mixpanel.track("Logged in /cursos");
    </script>
{% endblock %}

