{% load static from staticfiles %}
{% load level %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Curso de {{course.name}} | Exploiter</title>
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/css/styles.css' %}">
        <link rel="stylesheet" type="text/css"  href="{% static 'challenges/b/css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'challenges/b/css/bootstrap-theme.min.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="{% static 'challenges/js/retos.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <meta property="og:type" content="website" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="section-body" >
            <header style="  height: 72px;" >
                <a href="/" >
                    <img src="{% static 'challenges/img/headermail-02.png' %}" />
                </a>
                <i class="menu" ></i>
                <ul id="menuL" >
                    <li><a href="{% url 'home' %}">INICIO</a></li>
                    {% if user.is_authenticated %}
                      <li class="in" ><a href="{% url 'courses' %}">CURSOS</a></li>
                    {% else %}
                      <li><a href="{% url 'signup' %}">REGISTRARME</a></li>
                    {% endif %}
                </ul>
            </header>
        <h2 class="title all" >Mide tus habilidades y demuestra que eres el mejor en lo que haces</h2>
        <div class="content_all" >
            <ol>
                <li class="content_all_challenge" >
                  <div class="challenge_img" >
                    <img alt="{{course.name}}" src="{{MEDIA_URL}}{{course.image}}" />
                  </div>
                  <header>
                    <p>Nivel: <small>Fácil</small></p>
                    <h4>{{course.name}}</h4>
                  </header>
                  <div class="challange_descript" >
                    <ol>
                      {% for class in all_classes %}
                        <li>{{ class.name }}</li>
                      {% endfor %}
                    </ol>
                  </div>
                  <p class="p-buttom" ><a class="a-nextF" href="{% url 'clase' course.slug all_classes.first.slug %}">Iniciar al curso</a></p>
                </li>
            </ol>
        </div>
        </section>
        <script>
          $(function () {
            $('#myTab a:last').tab('show')
          })
        </script>
    </body>
</html>
