{% extends "base.html" %}
{% block title %}Curso de {{course.name}} | Exploiter{% endblock %}

{% block styles %}
  <meta property="og:title" content="Curso de {{course.name}} Online - Exploiter.co" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://exploiter.co/cursos/{{course.slug}}/" />
  <meta property="og:description" content=" {{course.description|safe}} " />
  <meta property="og:image" content="https://exploiter.co{{MEDIA_URL}}{{course.image}}" />
{% endblock %}

{% block content %}
<div id="bloqueo_classes" class="reveal-modal" data-reveal>
  <h2>Hola {{ user.get_short_name }}</h2>
  <p class="lead">Haz llegado a la 4 clase del curso. Este es el límite de tu prueba gratuita. Suscribete hoy para que sigas aprendiendo Hacking de forma profesional</p>
  <center>
    <p>
      <a class="custom-button" href="{% url 'suscribirme' %}">Suscribirme</a>
    </p>
  </center>
  <a class="close-reveal-modal">&#215;</a>
</div>

                    <section class="bannerClass">
                        <div class="containerClass">
                          <div class="caja2">
                            <img src="{{MEDIA_URL}}{{course.image}}">
                          </div>
                          <div class="caja1">
                            <h4 class="fancy-text-bold">{{course.name}}</h4>
                            {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                            <div class="progress small-7 small-centered radius round columns"> <span class="meter" style="width: {{ percentage_by_course }}%"></span><p {% if  percentage_by_course  < 57 %} style=" color: #d5d5d5;" {% endif %} class="percentage" >Progreso: {{ percentage_by_course }}%</p> </div>
                            {% endif %}
                            {% if not user.is_authenticated and course.course_type = 'free' %}
                                <p><a class="btn" href="/pricing">Registrate gratis</a></p>
                            {% endif %}
                            {% if not user.is_authenticated and course.course_type = 'paid' or user.is_authenticated and course.course_type = 'paid' and not permission_to_view_course %}
                                <p><a class="btn" href="{% url 'trial_sign-in' %}">INICIAR PRUEBA GRAUITA</a></p>
                                <p><a style="text-decoration:underline" href="{% url "courses" %}">Ver todos los cursos</a></p>
                            {% endif %}
                          </div>
                        </div>
                  </section>
                  {% if user.is_authenticated %}
                  <section class="material courseMaterial">
                      {% for class in all_classes %}
                        {% if class in available_classes %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                    <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                  <p>Básico</p>

                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                {% if obj_trial_days %}
                                  {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    {% if forloop.counter <= 4 %}
                                      <p class="enter-button">
                                        <a href="{% url 'clase' course.slug class.slug %}">
                                          Entrar
                                        </a>
                                      </p>
                                    {% else %}
                                      <p class="enter-button">
                                        <a data-reveal-id="bloqueo_classes">
                                          Entrar
                                        </a>
                                      </p>
                                    {% endif %}
                                  {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                  {% endif %}
                                {% else %}
                                  {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                      <a href="{% url 'clase' course.slug class.slug %}">
                                        Entrar
                                      </a>
                                    </p>
                                  {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                  {% endif %}
                                {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% if obj_trial_days %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                      {% if forloop.counter <= 4 %}
                                        <p class="enter-button">
                                          <a href="{% url 'clase' course.slug class.slug %}">
                                            Entrar
                                          </a>
                                        </p>
                                      {% else %}
                                        <p class="enter-button">
                                          <a data-reveal-id="bloqueo_classes">
                                            Entrar
                                          </a>
                                        </p>
                                      {% endif %}
                                    {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% else %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                      <a href="{% url 'clase' course.slug class.slug %}">
                                        Entrar
                                      </a>
                                    </p>
                                    {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% if obj_trial_days %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                      {% if forloop.counter <= 4 %}
                                        <p class="enter-button">
                                          <a href="{% url 'clase' course.slug class.slug %}">
                                            Entrar
                                          </a>
                                        </p>
                                        {% else %}
                                        <p class="enter-button">
                                          <a data-reveal-id="bloqueo_classes">
                                            Entrar
                                          </a>
                                        </p>
                                        {% endif %}
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% else %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                      <a href="{% url 'clase' course.slug class.slug %}">
                                        Entrar
                                      </a>
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                        {% if class in disabled_classes %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Básico</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  {% if obj_trial_days %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          {% if forloop.counter <= 4 %}
                                            <a href="{% url 'clase' course.slug class.slug %}">
                                              Entrar
                                            </a>
                                          {% else %}
                                            <a data-reveal-id="bloqueo_classes">
                                              Entrar
                                            </a>
                                          {% endif %}
                                        {% else %}
                                        <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                          Desbloquear
                                        </a>
                                        <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                            <h2>¡Hey {{ user.username }}!</h2>
                                          <p>
                                            Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                          </p>
                                          <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% else %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          <a href="{% url 'clase' course.slug class.slug %}">
                                            Entrar
                                          </a>
                                        {% else %}
                                        <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                          Desbloquear
                                        </a>
                                        <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                            <h2>¡Hey {{ user.username }}!</h2>
                                          <p>
                                            Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                          </p>
                                          <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  {% if obj_trial_days %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          {% if forloop.counter <= 4 %}
                                            <a href="{% url 'clase' course.slug class.slug %}">
                                              Entrar
                                            </a>
                                          {% else %}
                                            <a data-reveal-id="bloqueo_classes">
                                              Entrar
                                            </a>
                                          {% endif %}
                                        {% else %}
                                          <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                            Desbloquear
                                          </a>
                                          <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                              <h2>¡Hey {{ user.username }}!</h2>
                                            <p>
                                              Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                            </p>
                                            <a class="close-reveal-modal">&#215;</a>
                                          </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% else %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          <a href="{% url 'clase' course.slug class.slug %}">
                                            Entrar
                                          </a>
                                        {% else %}
                                          <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                            Desbloquear
                                          </a>
                                          <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                              <h2>¡Hey {{ user.username }}!</h2>
                                            <p>
                                              Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                            </p>
                                            <a class="close-reveal-modal">&#215;</a>
                                          </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  {% if obj_trial_days %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          {% if forloop.counter <= 4 %}
                                            <a href="{% url 'clase' course.slug class.slug %}">
                                              Entrar
                                            </a>
                                          {% else %}
                                            <a data-reveal-id="bloqueo_classes">
                                              Entrar
                                            </a>
                                          {% endif %}
                                        {% else %}
                                        <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                          Desbloquear
                                        </a>
                                        <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                            <h2>¡Hey {{ user.username }}!</h2>
                                            <p>
                                              Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                            </p>
                                          <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% else %}
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                    <p class="enter-button">
                                        {% if active_course and disabled_classes.first == class %}
                                          <a href="{% url 'clase' course.slug class.slug %}">
                                            Entrar
                                          </a>
                                        {% else %}
                                        <a href="#" data-reveal-id="Bloqueado-{{ class.slug }}">
                                          Desbloquear
                                        </a>
                                        <div style="border-color:#fff;padding: 55px;" id="Bloqueado-{{ class.slug }}" class="reveal-modal medium" data-reveal>
                                            <h2>¡Hey {{ user.username }}!</h2>
                                            <p>
                                              Parece que estas intentado acceder a la clase sin antes haber aprobado la anterior, para poder acceder a esta clase necesitas pasar los exámenes previos ¡vamos tu puedes!
                                            </p>
                                          <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                        {% endif %}
                                    </p>
                                      {% else %}
                                      <ul class="pricing-table" data-equalizer-watch>
                                          <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                      </ul>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                        {% if class in not_available_yet %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                    <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Básico</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                    {% else %}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                    {% else %}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                    {% else %}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                      {% endfor %}
                  </section>
                  {% else %}
                  <section class="material courseMaterial">
                      {% for class in all_classes %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                    <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                  <p>Básico</p>

                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="{% url 'clase' course.slug class.slug %}">
                                      Entrar
                                    </a>
                                  </p>
                                    {% else %}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                              {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                    {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                    {% else %}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  {% if user.is_authenticated and permission_to_view_course or user.is_authenticated and course.course_type = 'free' %}
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                    {% else%}
                                    <ul class="pricing-table" data-equalizer-watch>
                                        <li class="bullet-item"><a class="custom-button" href="#"><i class="icon-lock" style="font-size: 18px;"></i></a></li>
                                    </ul>
                                    {% endif %}
                                </div>
                              </article>
                            {% endif %}
                        {% endfor %}
                    </section>



                  {% endif %}
            </section>
{% endblock %}
{% block custom-javascript %}
    <script>
    mixpanel.track("Course " + "{{course.name}}" + " accesed");
    </script>
{% endblock %}
