{% extends "base.html" %}
{% block title %}Exploiter.co - Curso de {{course.name}}{% endblock %}
{% block content %}
                    <section class="bannerClass">
                        <div class="containerClass">
                          <div class="caja2">
                            <img src="{{MEDIA_URL}}{{course.image}}">
                          </div>
                          <div class="caja1">
                            <h4 class="fancy-text-bold">{{course.name}}</h4>
                          </div>
                        </div>
                  </section>

                  <section class="material courseMaterial">
                      {% for class in all_classes %}
                        {% if class in available_classes %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                    <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                  <p>Básico</p>

                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"85"}}...</p>
                                  <p class="enter-button">
                                    <a href="{% url 'clase' course.slug class.slug %}">
                                      Entrar
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  <p class="enter-button">
                                    <a href="{% url 'clase' course.slug class.slug %}">
                                      Entrar
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img {% if not active_course %}style="opacity: 0.2;"{% endif %} src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description}}</p>
                                  <p class="enter-button">
                                    <a href="{% url 'clase' course.slug class.slug %}">
                                      Entrar
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                        {% if class in disabled_classes %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Básico</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  <p class="enter-button">
                                      {% if active_course and disabled_classes.first == class %}
                                        <a href="{% url 'clase' course.slug class.slug %}">
                                          Entrar
                                        </a>
                                      {% else %}
                                        <a href="#" data-reveal-id="Bloqueado">
                                          Desbloquear
                                        </a>
                                      {% endif %}
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  <p class="enter-button">
                                      {% if active_course and disabled_classes.first == class %}
                                        <a href="{% url 'clase' course.slug class.slug %}">
                                          Entrar
                                        </a>
                                      {% else %}
                                        <a href="#" data-reveal-id="Bloqueado">
                                          Desbloquear
                                        </a>
                                      {% endif %}
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  {% if active_course and disabled_classes.first == class %}
                                    <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  {% else %}
                                  <p class="fancy-text-bold">Para desbloquear esta clase debes aprobar el exámen de la anterior</p>
                                  {% endif %}
                                  <p class="enter-button">
                                      {% if active_course and disabled_classes.first == class %}
                                        <a href="{% url 'clase' course.slug class.slug %}">
                                          Entrar
                                        </a>
                                      {% else %}
                                        <a href="#" data-reveal-id="Bloqueado">
                                          Desbloquear
                                        </a>
                                      {% endif %}
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                        {% if class in not_available_yet %}
                            {% if class.level == 'basic' %}
                              <article class="classArticle">
                                <div class="headerClass basicColor">
                                    <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Básico</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'intermediate'%}
                                <article class="classArticle">
                                    <div class="headerClass intermediateColor">
                                      <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                      <p>Intermedio</p>
                                    </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description|slice:"90"}}...</p>
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                            {% if class.level == 'advanced' %}
                                <article class="classArticle">
                                <div class="headerClass advancedColor">
                                  <img style="opacity: 0.2;" src="/static/img/gorro.png">
                                  <p>Avanzado</p>
                                </div>
                                <div class="descrip">
                                  <img src="{{MEDIA_URL}}{{class.image}}">
                                  <h4 class="fancy-text-bold">{{class.name}}</h4>
                                  <p class="fancy-text-bold">{{class.description}}</p>
                                  <p class="enter-button">
                                    <a href="#">
                                      Fecha de inicio: {{ class.start_date|date }}
                                    </a>
                                  </p>
                                </div>
                              </article>
                            {% endif %}
                        {% endif %}
                      {% endfor %}
                  </section>
          <!--
          <a class="custom-button" href="{% url "quiz_progress_page" course.slug %}">Tu progreso</a>
            -->
            </section>
{% endblock %}
{% block custom-javascript %}
    <script>
    mixpanel.track("Course " + "{{course.name}}" + " accesed");
    </script>
{% endblock %}
