{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TXSLUW785NLF2">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="1 Mes">1 Mes : $25.00 USD - mensual</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
-->
Pago por paypal
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="my_form" target="_top">{% csrf_token %}
    <select name="type_of_payment_of_paypal" id="id_type_of_payment_of_paypal">
        <option value="yo_soy_quien_paga">Yo soy quien pago</option>
        <option value="otro_quien_paga">Otro quien pago</option>
    </select>
    Email of user of exploiter:
    <input type="text" name="email_of_user_whoever_payment" id="id_email_of_user_of_exploiter">
    Email of user whoever payment:
    <input type="text" name="email_of_user_whoever_payment" id="id_email_of_user_whoever_payment">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="TXSLUW785NLF2">
<table>
<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
	<option value="1 Mes">1 Mes : $2.00 USD - mensual</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" onclick="send_form_paypal();" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>

<script type="text/javascript">
    function send_form_paypal(){
        $.get('ajax/form_paypal',
            {'type_of_payment_of_paypal':$('#id_type_of_payment_of_paypal').val(), 'email_of_user_whoever_payment':$('#id_email_of_user_whoever_payment').val(), 'email_of_user_of_exploiter':$('#id_email_of_user_of_exploiter').val()});
    }
</script>

{% endblock %}
