{% extends 'base_accounts.html' %}
{% block content %}
<section class="row">
{% if user.is_authenticated %}
    <article style="margin-top: 100px" class="small-12 medium-12 large-6 columns">
    <h4 class="fancy-text-bold">Bienvenido a Exploiter.co</h4>
    <p class="fancy-text">Ya puedes acceder al mejor contenido en español de Hacking. <a href="{% url "courses" %}">Ir a cursos</a></p>
    </article>
{% else %}
<article class="signIn large-5 large-centered columns">
<h2>Iniciar sesión</h2>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <center>
                <p>Usuario o contraseña incorrectos</p>
            </center>
        {% endif %}
        <label>
            Email o usuario
            <input type="text" name="identification">
        </label>
        <label>
            Contraseña
            <input type="password" name="password" style="margin-bottom: 0;">
        </label>
        <a class="forgot" href="/accounts/password/reset">Olvidé mi contraseña</a>
        <div class="signInEnter large-6 large-centered columns">
            <input type="submit" class="button expand [tiny small large]" value="ENTRAR">
        </div>

        <div class="or">
            <hr >
            <p>O</p>
        </div>

        <div class="large-10 large-centered columns">
            <div class="content-redes">
                <a class="redes facebook" href='{% url 'social:begin' 'facebook'%}'>Entrar con Facebook</a>
            </div>
        </div>
        <p class="fancy-text">
            ¿Aún no tienes cuenta? ¿Qué esperas? <a href="{% url "signup" %}">¡Regístrate ya!</a>
        </p>
    </form>
    <hr>
</article>
{% endif %}
</section>
{% endblock %}
{% block custom-javascript %}
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
{% endblock %}