{% extends "base_accounts.html" %}
{% block content %}



<article style="margin-top:20px" class="large-10 large-centered columns">
    <div id="Payment">
        <div class="row purchaseData" style="width: 65%;">
        <form name="user_form" method="POST" data-abide id="user_form" class="form-stacked" accept-charset="UTF-8" action="">{% csrf_token %}
            <h4 style="text-align:left"><span class="formStep">1</span>Tu información básica</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Nombre
                    <input class="required" id="id_first_name" maxlength="30" name="first_name" type="text" required />
                </label>
                <small class="error">El nombre es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">
                    Apellidos
                    <input class="required" id="id_last_name" maxlength="30" name="last_name" type="text" required />
                </label>
                <small class="error">El apellido es obligatorio.</small>
            </div>
            <div class="large-8 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">

                    E-mail <small style="font-size:75%;text-transform:lowercase;">(te enviamos un link de activación)</small>
                    <input type="email" id="id_email_paid" maxlength="75" name="email" placeholder="username@exploiter.co" required>
                    <label class="error">
                        {{form.email.errors}}
                    </label>
                </label>
                <p id="id_error_email_paid"></p>
                {% if form_user.email.errors %}
                  <label class="error">
                    {{ form_user.email.errors }}
                  </label>
                {% endif %}
                <small class="error">Se requiere un E-mail.</small>
            </div>
            <hr class="columns">
            <h4  style="text-align:left" class="columns"><span class="formStep">2</span>Tus credenciales de cuenta</h4>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">

                    Usuario
                    <input type="text" id="id_username_paid" name="username" placeholder="usuario" required pattern="[a-zA-Z]+">
                    <label class="error">
                      {{form.username.errors}}
                    </label>
                </label>
                <p id="id_error_username_paid"></p>
                {% if form_user.username.errors %}
                <label class="error">
                  {{ form_user.username.errors }}
                </label>
                {% endif %}
                <small class="error">El nombre de usuario es obligatorio.</small>
            </div>
            <div class="large-6 columns">
                <label class="labelPayment" style="font-size: 17px;color: #565656">

                    Contraseña
                    <input type="password" required id="id_password1_paid" name="password1" placeholder="Pon algo que tome siglos romper">
                    <label class="error">
                      {{form.password1.errors}}
                    </label>
                </label>
                <small class="error">Por favor corrige este campo.</small>
            </div>
            <hr class="columns">
            <div class="large-12 columns" style="text-align:center">
            <input id="signup-button" type="submit" value="Registrarme" class="button [tiny small large]" style="font-size: 16px;">
            </div>
        </form>
      </div>
    <div class="row" style="width: 65%;">
        <div class="or">
            <hr>
            <p>O</p>
        </div>

        <div class="large-10 large-centered columns">
            <div class="content-redes">
                <a class="redes facebook signup" href='{% url 'social:begin' 'facebook'%}'>Registrate con Facebook</a>
            </div>
        </div>
    </div>
</article>


{% endblock %}
{% block custom-javascript %}
<script type="text/javascript">
 (function() {
   window._pa = window._pa || {};
   // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
   // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
   // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
   var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
   pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.marinsm.com/serve/55e4a3d02ff6c4974600012a.js";
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
 })();
</script>
{% endblock %}
