{% extends 'base.html' %}
{% load user_awards %}
{% load paid_user %}
{% load i18n %}

{% block styles %}
    <meta property="og:title" content="Exploiter.co - mis logros y progreso" />
    <meta property="og:description" content="Mi perfil" />
    <meta property="og:image" content="https://exploiter.co/media/uploads/Anonimato_1.png"/>
{% endblock %}

{% block content %}

{% get_user_award profile.user %}
<h6 class="alert_perfil"><b>¡Importante!</b> sistema de medallas en beta, estamos trabajando para darte la mejor experiencia.</h6>
<section class="bannerUserProfile">

    <div class="large-4 columns">
        <img src="{{ profile.get_mugshot_url }}">
    </div>
    <div class="large-5 columns">
        <p>
          {% if profile.user.get_full_name %}
            {{ profile.user.get_full_name|upper }}
          {% endif %}
        </p>
        <h6>
            <strong>Nickname: </strong>{{ profile.user.username }}
        </h6>
        <h6>
            <strong>Email: </strong>{{ profile.user.email }}
        </h6>
        {% if profile.user.username == user.username %}
        <h6>
            {% get_status_paid profile.user %}
            <strong>Tipo de cuenta: </strong>
            {% if status_paid %}
              {% if end_of_subscription %}
                Profesional, vence el {{ end_of_subscription }}
              {% else %}
                Tú suscripción se venció
              {% endif%}
            {% else %}
               <a class="free" href="{% url 'pricing' %}">Gratis</a>
            {% endif %}
        </h6>
        <a class="custom-button" href="edit">Editar</a>
        {% else %}
            <!-- <a class="custom-button" href="edit">Añadir a mi grupo</a> -->
        {% endif %}
    </div>
    <div class="large-3 columns">
        <div class="points">
            <p>
            {{ points}} <br>Puntos
            </p>
        </div>
    </div>
</section>

<!-- Medallas especiales -->
{% get_award_special_of_user profile.user %}
{% if awards_specials_of_user %}
  <section class="bannerClass bannerBadgeCourse arrow_box">
      <div class="containerClass">
          <div class="caja2 badgeCourse">
              <!-- imagen de medalla especial -->
              <img src="/static/img/ruta_de_imagen">
          </div>
          <div class="caja1">
              <h4 class="fancy-text-bold">Medallas Especiales</h4>
              <div class="showBadges">
                  <a id="medallas-especiales">Ver medallas</a>
              </div>
          </div>
      </div>
  </section>

  <section data-course='medallas-especiales' class="bannerBadges bubble row">
    {% for award in awards_specials_of_user %}
      <div class='contentBadge'>
        <img class='badge {% if not award.date %}gray{% endif %}' src='{{ MEDIA_URL }}{{ award.award.image }}'>
        <h6>{{ award.award.name_show }}</h6>
        {% if award.date %}
          <p>{{ award.date }}</p>
        {% endif %}
      </div>
    {% endfor %}
  </section>
{% endif %}
<!-- Fin Medallas especiales-->

{% for course in courses %}
<section class="bannerClass bannerBadgeCourse arrow_box">
    <div class="containerClass">
        <div class="caja2 badgeCourse">
            <img src="{{ MEDIA_URL }}{{ course.image}}">
        </div>
        <div class="caja1">
            <h4 class="fancy-text-bold">{{ course.name|escape }}</h4>
            <div class="showBadges">
                <a id="{{ course.name|escape }}">Ver medallas</a>
            </div>
        </div>
    </div>
</section>

<section data-course='{{ course.name|escape }}' class="bannerBadges bubble row {% if forloop.counter0 == 0 %}active{% endif%}">
        {% for class in course.courseclass_set.all|dictsort:"id" %}
          {% get_award_of_user class %}
            {% if award_name %}
            <div class="contentBadge">
              <img class="badge {% if not award_date %}gray{% endif %}" src="{{ MEDIA_URL }}{{ award_image }}">
              <h6>{{ award_name }}</h6>
              {% if award_date %}
                <p>{{ award_date }}</p>
              {% endif %}
            </div>
            {% endif %}
        {% endfor %}
</section>

{% endfor %}
{% endblock %}
