{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form class="editProfile" action="" method="post">
  {% csrf_token %}
  <fieldset>
  <nav class="top-bar" data-topbar role="navigation"> <ul class="title-area">
 <li class="name"> <h1><a href="{% url 'userena_profile_detail' user.username %}">Ver perfil</a></h1> </li> <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> </ul> <section class="top-bar-section"> <!-- Right Nav Section --> <ul class="right"> <li><a class="no" href="{% url 'userena_profile_edit' user.username %}">Editar perfil</a></li> <li><a class="no" href="{% url 'userena_password_change' user.username %}">Cambiar contraseña</a></li> <li class="active"><a class="no" href="{% url 'userena_email_change' user.username %}">Cambiar correo</a></li>  </ul> </section> </nav>
 <hr>
 <div class="row">
    {{ form.as_p }}
    <input class="custom-button" type="submit" value="{% trans "Change email" %}" />
  </div>
  </fieldset>
</form>
{% endblock %}
