{% extends 'base_accounts.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

<section class="row">
	<article class="signIn large-6 large-centered columns">
		<h2 style="text-align:center">{% trans "Reset Password" %}</h2>
		<form action="" method="post">
  			<fieldset style="border:none">
  			  {% csrf_token %}
  			  {{ form.as_p }}
  			</fieldset>
  			<div class="small-5 small-centered columns"><input type="submit" class="button round [tiny small large]" value="{% trans "Send password" %}" /></div>
  			
		</form>
	</article>
</section>

{% endblock %}
