{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<form class="editProfile" style="margin-top:10%;" action="" method="post">
  <fieldset>
    <nav class="top-bar" data-topbar role="navigation"> <ul class="title-area">
 <li class="name"> <h1><a nohref>¿Olvidaste tu clave? ¡No hay problema!</a></h1> </li> </ul>  </nav>
   <hr>
    {% csrf_token %}
    <div class="row">
    {{ form.as_p }}
    <p style="text-align:center; margin-bottom:0;" >
  <input class="custom-button" type="submit" value="{% trans "Reset password" %}" />
     </p>
      </div>
  </fieldset>
</form>
{% endblock %}
