{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<form action="" class="editProfile" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
  <nav class="top-bar" data-topbar role="navigation"> <ul class="title-area">
 <li class="name"> <h1><a href="{% url 'userena_profile_detail' user.username %}">Ver perfil</a></h1> </li> <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> </ul> <section class="top-bar-section"> <!-- Right Nav Section --> <ul class="right"> <li  class="active"><a href="{% url 'userena_profile_edit' user.username %}">Editar perfil</a></li> <li><a class="no" href="{% url 'userena_password_change' user.username %}">Cambiar contraseña</a></li> <li><a class="no" href="{% url 'userena_email_change' user.username %}">Cambiar correo</a></li>  </ul> </section> </nav>
  <hr>
    <table>
        <tr>
            <th>Nombre: </th>
            <td>{{ form.first_name }}</td>
        </tr>
        <tr>
            <th>Apellido: </th>
            <td>{{ form.last_name }}</td>
        </tr>
        <tr>
            <th>Imagen: </th>
            <td>{{ form.mugshot }}</td>
        </tr>
        <tr>
            <th>Privacidad: </th>
            <td>{{ form.privacy }}</td>
        </tr>
        <tr>
            <th></th>
            <td style="padding:0 10px;">Indica quién puede consultar tu perfil,
              {% if profile.privacy = 'open' %}tu perfil esta como abierto, cualquier persona puede ver tu perfil.{% endif %}
              {% if profile.privacy = 'closed' %}tu perfil esta como cerrado, nadie puede ver tu perfil.{% endif %}
              {% if profile.privacy = 'registered' %}tu perfil esta como registrado, solo los usuarios registrados en la plataforma puede ver tu perfil.{% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <input class="custom-button" type="submit" value="Guardar" />
            </td>
            {% if status_subscribe %}
              <td>
                  <a href='/payments/unsubscribe' class='cancelled'>Cancelar suscripción</a>
              </td>
            {% endif %}
        </tr>
    </table>
  </fieldset>
</form>
{% endblock %}
